[2021-09-26 08:19] #2959 closed

[2021-09-26 08:33] #3007 closed

[2021-09-26 08:39] GargantuaOmni opened #3008 "Possible Taichi language improvement regarding to computing"
When we are developing some image processing programs, we have faced several problems which we might walk around but still noticed. We made those proposes here, though maybe not all of them are reasonable. We will be appreciate that if Taichi could make some improvement about it.

1. The Slicing of Ndarray
In some cases we will need different channels of a Ndarray. In some functions we have presum

[2021-09-26 10:00] AmesingFlank opened #3013 "Add more IMGUI widgets for GGUI"
**Concisely describe the proposed feature**
Currently, GGUI only supports 5 basic widgets (`text`,`button`,`check_box`,`slider_float`,`color_edit_3`). It would be nice to have support for more complicated widgets such as drop-down menus, menu bars, etc.

**Describe the solution you'd like (if any)**
GGUI uses [dear imgui](https://github.com/ocornut/imgui) internally. It's quite simple to write a w

[2021-09-26 10:09] AmesingFlank opened #3015 "Use python's `with` construct for IMGUI in GGUI"
**Concisely describe the proposed feature**
Currently, each IMGUI window in GGUI is declared by a `window.GUI.begin()` and a `window.GUI.end()`. For example, to create a subwindow with a single button in it, one would write
[code]
This API can be made more elegant using python's `with` construct:
[code]

**Describe the solution you'd like (if any)**
Refer to [context management in python](https://

[2021-09-26 11:11] strongoier commented on #3004
Thanks for catching this! Have you tried to reproduce this error in a smaller example?

[2021-09-26 11:16] yihong0618 commented on #3004
will try to do that later

[2021-09-26 11:55] wuhanstudio opened #3016 "The latest Docker image is broken and the Dockerfile built with error: No module named taichi_core"
**Describe the bug**

The latest docker image on Docker Hub was pushed 2 months ago, and it is broken.

[code]

Thus I built the image using the Dockerfile from latest source code, but failed to execute `taichi` and `ti` in the docker container.

**To Reproduce**

- Ubuntu 20.04
- Docker 19.03.13

[code]

**Log/Screenshots**
[code]

[2021-09-26 13:48] qiao-bo commented on #3016
Hi, thanks for filing this issue. Our docker image requires indeed some update, especially for our latest v0.8.0 release. I will try to reproduce your issue. Meanwhile, maybe you can try to use our [pip package](https://docs.taichi.graphics/docs/) or directly [build from source](https://docs.taichi.graphics/docs/lang/articles/contribution/dev_install).  Thx ; ☺️

[2021-09-26 15:03] qiao-bo commented on #3016
Hi @wuhanstudio, i got some update here:

- The image with the latest tag (taichidev/taichi:latest) on our Dockerhub is indeed broken. Sorry on that, we will fix the issue. As an alternative, you can play with the v0.7.26 tag by `docker run -it taichidev/taichi:v0.7.26 /bin/bash`. You can run `ti diagnose` to inspect available targets. Or run `ti test -t2 -v` to test the samples. If you are intere

[2021-09-26 17:33] wuhanstudio commented on #3016
Hi, @qiao-bo ,

Thanks a lot for your help, and `python3 setup.py develop --user` works for me.

I just created a PR that made several improvements for the Dockerfile :

- Reduce the docker image size from 6GB to 0.6GB by removing temporary build caches from the final image
- Upgrade from Ubuntu 18.04 to Ubuntu 20.04

[2021-09-27 01:01] yihong0618 commented on #3004
[code]
![image](https://user-images.githubusercontent.com/15976103/134831038-9d76016e-bc77-4918-a93f-e906f66af3b9.png)

print here will not cause the problem
[code]

[2021-09-27 01:04] bobcao3 commented on #3004
Hi, which backend is this on? Are you on a Nvidia GPU?

On Sun, Sep 26, 2021, 6:01 PM yihong ***@***.***> wrote:

[2021-09-27 01:08] qiao-bo commented on #3016
Hi, @wuhanstudio, thanks a lot. This is really helpful. We will have a look at the PR ASAP.

[2021-09-27 01:10] yihong0618 commented on #3004
@bobcao3

Intel-UHD-Graphics-620-GPU

![image](https://user-images.githubusercontent.com/15976103/134831524-baad76c1-ddce-4136-8eba-8a48f7d3be10.png)

[2021-09-27 01:20] bobcao3 commented on #3004
Seems like a field reader bug, let me try to reproduce it

On Sun, Sep 26, 2021, 6:10 PM yihong ***@***.***> wrote:

[2021-09-27 01:28] bobcao3 commented on #3004
Ah I see, this is a bit of a gotcha. The core reason is that OpenGL backend currently do not support multiple root buffers and therefore fields builder feature. The print here is printing a result from a taichi field which resides on the GPU, so in order to print its contents Taichi will need to build up and materialize the SNode tree at that point. Without multiple root buffer, the later initiali

[2021-09-27 01:30] yihong0618 commented on #3004
got your point, and learned something, thanks a lot.

[2021-09-27 01:31] yihong0618 commented on #3004
And can we capture the error in python side and ignore this?

[2021-09-27 01:52] k-ye commented on #3008
Thanks for proposing all these!

I wonder if you can just create a 0-D ScalarField in this case :-) ?

[2021-09-27 02:04] bobcao3 commented on #3004
not really, just avoid doing prints or calling taichi kernel before all fields are declared and it should be fine

[2021-09-27 02:30] bobcao3 opened #3018 "Multiple SNode root support"
Related #3004
Related #2736
Related #3024

Remaining backends to support this feature

* [ ] OpenGL
* [x] Metal

[2021-09-27 02:30] #3004 closed

[2021-09-27 02:36] GargantuaOmni commented on #3008
I am not sure. Does `src[2, 3]` make sense when `src` is a 0-D ScalarNdarray? Will compiler make it equivalent to `src[0, 0]`?

[2021-09-27 02:42] strongoier commented on #3008
Do you mean that your `src` is 0-D but `dst` is 2-D, and you want to set all values of `dst` to the value of `src`?

[2021-09-27 03:01] GargantuaOmni commented on #3008
Yes, and maybe with some computation. In script we expect to make the code available for `src` in both 2-D and 0-D, which will apply to different cases.

[2021-09-27 03:02] ljcc0930 opened #3019 "`property` decorator is not supported in `data_oriented` class"
Found while updating ODOP docs. #3006

Reproduce code:
[code]

Traceback:
[code]

[2021-09-27 03:26] k-ye commented on #3008
I think it's better to have some kind of adaptor rather than asking a Taichi field to support a coordinate of mismatching dimensions

[2021-09-27 03:45] GargantuaOmni commented on #3008
Thanks. Let me think about it.

[2021-09-27 03:52] ljcc0930 commented on #3019
Another error example:
[code]

[2021-09-27 07:44] Univstar opened #3023 "Examples with GGUI cannot be performed directly on Windows 10"
**Describe the bug**
After installing Taichi 0.8 on Windows 10 by 'pip install taichi', examples with GGUI cannot be performed.

**To Reproduce**

[code]

**Log/Screenshots**

[code]

**Additional comments**
None.

[2021-09-27 08:15] ltt1598 opened #3024 "arch=ti.opengl not working"
I find the following code not working when choosing `arch=ti.opengl` on Taichi 0.8.0

[code]

The code works with `ti.cpu` and `ti.cuda`, but not for `ti.opengl`. It generates the following error:
[code]

It's also worth mentioning that `ti.gpu` falls back to `ti.opengl` on my laptop without a graphics card, producing the same error.

[2021-09-27 08:18] bobcao3 commented on #3024
#3004

Seems like another multi root related issue. Can you try the Vulkan backend? (env TI_ARCH=Vulkan)

[2021-09-27 08:23] AmosChenZixuan commented on #3023
Same problem on Ubuntu 20.04,  with Vulkan installed.
[code]

[2021-09-27 08:26] bobcao3 commented on #3023
Ah... Sorry we seem to kept debugging related layers as a depdency. We
should probably remove that in the next release, in the mean time,
installing the Vulkan SDK maybe a workaround.

On Mon, Sep 27, 2021, 1:23 AM Amos ***@***.***> wrote:

[2021-09-27 09:18] yihong0618 commented on #3024
@bobcao3 maybe add warning for short solution? something like.

in lang/field.py
[code]

[2021-09-27 09:26] strongoier commented on #3024
@yihong0618 The problem is not only related to `print()`, but all reads/writes to Taichi fields. In this issue, the problem comes from
[code]

[2021-09-27 09:27] yihong0618 commented on #3024
yeah, just one case...for the #3004

[2021-09-27 09:28] yihong0618 commented on #3019
I've looked at the code and it doesn't currently support this kind of  ` decortator stacking`

you need to write another method

[2021-09-27 09:44] yihong0618 commented on #3024
Of course. Will do it later maybe tomorrow.~

[2021-09-27 10:20] ailzhang opened #3025 "Refactor python imports"
It seems like our current structure leads to circular imports very easily. We probably want to spend some time and think about how to organize our python package.
Any contributions/discussions are welcome!

[2021-09-27 10:46] VickylastShao commented on #3023
install Vulkan SDK for windows : https://vulkan.lunarg.com/sdk/home

[2021-09-28 01:21] bobcao3 commented on #3024
#3018

[2021-09-28 01:21] #3024 closed

[2021-09-28 04:15] MarisaKirisame opened #3029 "Saving Memory with DTR?"
Hi folks! I am a system researcher that specialize in saving memory.

I had been watching taichi closely, and I think that by using my work, [Dynamic Tensor Rematerialization(DTR)](https://arxiv.org/abs/2006.09616), Taichi can greatly benefit by using much less memory, and reducing dependence on the kernel simplicity rule.

I want to chat with you guys to see if it is a good fit, and if it is, wha

[2021-09-28 05:53] k-ye opened #3030 "Release the Vulkan backend to macOS"

[2021-09-28 05:53] k-ye opened #3031 "Disable the Vulkan validation layer in the release mode"
So that users won't need to install the Vulkan SDK.

[2021-09-28 05:54] ailzhang commented on #3029
Hi @MarisaKirisame, thanks for opening the issue! We sent an email to the address on your resume. ;) Let's followup there to find a time to chat. Looking forward to hearing back from you!

[2021-09-28 05:54] k-ye opened #3032 "Release should cover OSX 10.14"

[2021-09-28 06:02] k-ye opened #3033 "API docstring preview service"
**Concisely describe the proposed feature**

It would be great to make netlify (or other bots) provide a  API docstring preview website: https://api-docs.taichi.graphics/

In addition, we need to find a nicer theme... @Zheaoli 🤦

[2021-09-28 06:14] bobcao3 commented on #3031
can anyone double check this with a env without sdk?

[2021-09-28 06:14] bobcao3 commented on #3031
with that merged PR

[2021-09-28 06:32] #3023 closed

[2021-09-28 10:06] k-ye opened #3038 "(Prototype) Generate the frontend AST when traversing the Python one"
**Concisely describe the proposed feature**

Right now Taichi generates its C++ AST in the following steps:

1. Traverse the Python AST, substitutes many parts into function calls to build the C++ AST
2. Compile this transformed Python AST back to a Python function
3. Invoke the Python function, so that the C++ AST is built

**Describe the solution you'd like (if any)**

Build the C++ AST directly

[2021-09-28 13:00] Axe-hyx opened #3039 "[Documentation update request]: Clang dependence of Arch Linux building guide"
**Describe the problem**
Currently clang-10 is not available in pacman package repository, so [the building guide](https://github.com/taichi-dev/docs.taichi.graphics/blob/master/website/docs/lang/articles/contribution/dev_install.md#installing-dependencies) of Arch Linux is not correct.

**Solve issue**
I successfully built `taichi==0.8.0` with clang and llvm prebuild with [this](https://github.co

[2021-09-28 13:08] k-ye commented on #3018
Disengaging this from https://github.com/taichi-dev/taichi/projects/7. We can just release this whenever the feature is ready

[2021-09-28 13:08] k-ye commented on #3030
Disengaging this from https://github.com/taichi-dev/taichi/projects/7. We can just release this whenever the feature is ready

[2021-09-28 14:21] ailzhang commented on #3039
Hey @Axe-hyx, thanks a lot for reporting! Would you like to send the fix btw? ;)

[2021-09-29 06:19] trevinwong opened #3045 "Can't build Taichi dev. environment on Windows 10"
**Describe the bug**
When running `python setup.py develop-user`, CMake complains about not being able to find the `C` and `CXX` compiler despite my `PATH` including `clang`.

If I manually set the `CMAKE_C_COMPILER` environment variable, CMake complains about it not being able to compile a simple test program. This doesn't happen with `CMAKE_CXX_COMPILER`.

**To Reproduce**
Run `python setup.py d

[2021-09-29 06:35] strongoier opened #3046 "Subscription of user-defined classes worked in v0.7.26 but not v0.8.0"
The following code snippet:
[code]
worked well in v0.7.26.

However in v0.8.0, `TypeError: Subscription (e.g., "a[i, j]") only works on fields or external arrays.` was reported.

[2021-09-29 07:09] ailzhang commented on #3045
Hi @trevinwong, thanks for reporting the bug! I checked our windows build log and it seems using MSVC, would you mind giving it a try instead? Thanks!
[code]

[2021-09-29 08:04] #3046 closed

[2021-09-29 09:50] #3039 closed

[2021-09-29 16:07] strongoier commented on #3023
@Univstar We just released v0.8.1. Feel free to try out and report any further problems you meet.

[2021-09-29 16:36] FlagerLee opened #3051 "real types and integer types don't support support the use of __rmul__ for multiplication"
I tried to overwrite \_\_mul\_\_ and \_\_rmul\_\_ methods to support **class * ti.f64** and **ti.f64 * class** operations, but I failed when doing **ti.f64*class** operation. The code is as follows:

[code]
It will report the error as shown below：

[code]

Same thing happened when I tried to change **ti.f64** to **ti.f32**, **ti.u8** and almost all other basic taichi types. Only when I remove b fr

[2021-09-29 17:36] victoriacity commented on #3051
Classes decorated with `@ti.data_oriented` were designed to be containers of global fields (e.g., `self.x=ti.field(...)`), and they currently cannot be passed as `ti.template()` arguments. The error in the above code snippet indicates that the `test` class is an invalid type in Taichi scope.

The reason why the program gives the correct result with a constant `4` is that the compiler has optimized

[2021-09-30 01:56] k-ye opened #3053 "Restore `NDEBUG` causing wrong LLVM behavior"
I wanted to get rid of https://github.com/taichi-dev/taichi/blob/52c47b29866c302df16116e6065f85ebbdd4dc31/taichi/common/core.h#L82-L85

but bumped into https://github.com/taichi-dev/taichi/pull/3050#issuecomment-930091960

[2021-09-30 02:06] bobcao3 commented on #3053
Maybe we should just define our own debug flags based on build type? NDEBUG
is kind of weird

On Wed, Sep 29, 2021, 6:57 PM Ye Kuang ***@***.***> wrote:

[2021-09-30 02:24] Xuanwo commented on #3015
I am interested in this issue.

[2021-09-30 02:26] Zheaoli commented on #3015
@Xuanwo would you mind to make a pull request for this?

[2021-09-30 02:28] Xuanwo commented on #3015
Maybe 10 minutes later :laughing:

[2021-09-30 02:31] gaocegege commented on #3013
Hi, I am new to Taichi and glad to help improve it.

I will start from an easy widget, maybe colored text. But I do not want to dibs the whole issue. Other people can also work on it since there are so many widgets in dear imgui, if I have understood well.

[2021-09-30 02:58] gaocegege commented on #3013
Additional info for the issue:

- You need to enable cuda and vulkan to compile GGUI to the taichi core before starting contributions on this issue. Ref https://github.com/taichi-dev/taichi/blob/master/cmake/TaichiCore.cmake#L36 Or you will get the error when you run GGUI examples:
[code]

[2021-09-30 03:04] gaocegege commented on #3013
@AmesingFlank Hi, it seems that there is only the Vulkan backend for GGUI, then why do we need to enable CUDA to compile GGUI here? https://github.com/taichi-dev/taichi/blob/master/cmake/TaichiCore.cmake#L36

[code]

[2021-09-30 03:28] gaocegege opened #3056 "[docs] Add doc about building python part without compiling taichi-core"
**Concisely describe the proposed feature**
A clear and concise description of what you want. For example,

Most python files do not require me to build and compile taichi core, I think. But I have to re-compile it every time when I run `python setup.py develop --user`

Can we add a doc about building python part without compiling taichi-core, maybe like ray https://docs.ray.io/en/latest/developme

[2021-09-30 03:29] gaocegege commented on #3056
Maybe something like `You do not need to re-run python setup.py develop when you only changes XXX python part` in dev_install.md.

[2021-09-30 03:54] gaocegege commented on #2659
BTW, you may also need to consider how to support chained assignments and unpack assignments together like this:

[code]

[2021-09-30 04:12] ma-sadeghi opened #3057 "Provide build on conda-forge in addition to PyPI"
Hi, could you please provide `taichi` on `conda-forge` as well? Thanks!

[2021-09-30 05:09] trevinwong commented on #3045
Hi, thanks for the quick response. This is what I get:

[code]

It looks like it's unable to find my `cmake.exe`.
I've added `C:/Program Files:/CMake/bin` to my `PATH`, however, and I'm able to call `cmake` from the CLI as well, so I'm not sure what the problem is.

[2021-09-30 05:33] FlagerLee commented on #3051
I got it. So do you have any plans for ti.template() to support custom classes?
In addition, if I define the class in the kernel instead of passing in ti.template(), there will be the same problem.
[code]
The same problem will also occur.

[2021-09-30 06:04] gaocegege commented on #2659
Hi @k-ye

Is this issue related to https://github.com/taichi-dev/taichi/pull/3037/ ?

[2021-09-30 07:22] AmesingFlank commented on #3013
Currently, the Vulkan backend for GGUI is only works with the CUDA/x64 compute backend of taichi. That is, you need `ti.init(arch=ti.cuda)` or `ti.init(arch=ti.x64)` for GGUI to work. This will be changed in the near future, as we are planning support for GGUI to work with other compute backends such as Vulkan itself and OpenGL.

[2021-09-30 07:33] gaocegege commented on #3013
OK, get it.

Thanks for your reply.

[2021-09-30 08:17] Xuanwo opened #3059 "python: Remove ui.GUI begin and end"
- Previous discussion: https://github.com/taichi-dev/taichi/pull/3055#discussion_r719066130
- Related issue: https://github.com/taichi-dev/taichi/issues/3015

In PR #3055, we added `GUI.sub_window`.

So it's possible to use `sub_window` to replace all usage about `GUI.begin` and `GUI.end`.

This will make the API cleaner and easier for users, and help users prevent mismatched begins and ends.

[2021-09-30 08:18] k-ye commented on #2659
Hey @gaocegege , it's better to get this feature in first. #3037 is much more experimental and a long-term effort, and it should preserve all the features when ready.

[2021-09-30 08:28] gaocegege commented on #2659
Gotcha. I used to worry that this feature will be useless after #3037 is merged. Thanks for your reply.

[2021-09-30 08:31] k-ye opened #3060 "Refactor the LLVM backend memory allocator"
**Concisely describe the proposed feature**

This refactor is mostly targeted at the CUDA backend

* [x] Remove the unified memory allocator. It's difficult to work reliably across all the platforms.
* [x] Create a memory manager that can both allocate and recycle memory. `NodeManager` has a similar utility (implemented using the free list approach) https://github.com/taichi-dev/taichi/blob/ae08dd

[2021-09-30 09:18] AmesingFlank commented on #3059
Thanks! Please remember to also update the [docs](https://github.com/taichi-dev/taichi/blob/master/docs/lang/articles/misc/ggui.md) and the examples in `examples/ggui_examples` when you make this change.

[2021-09-30 09:49] gaocegege commented on #2659
@Ricahrd-Li I can provide one possible solution here. https://github.com/taichi-dev/taichi/pull/3062

If you are still working on it, you can refer to the PR and file a new one. I will close mine.

Thanks.

[2021-09-30 12:20] Ricahrd-Li commented on #2659
Thanks! @gaocegege Currently I am not working on this issue, thanks a lot for your work!

[2021-09-30 21:43] k-ye commented on #3057
Thanks! Will take a look to decide how much additional work is required

[2021-09-30 21:43] #3031 closed

[2021-10-01 03:46] Y7K4 opened #3069 "ti.init(arch=ti.opengl) failed with Taichi 0.8.1"
**Describe the bug**
With Taichi 0.8.1, `ti.init(arch=ti.opengl)` doesn't work.

Btw, `ti.opengl` with v0.7.32 and `ti.cpu` with v0.8.1 both work.

**To Reproduce**
A minimal Python file to reproduce:

[code]

**Log/Screenshots**
Full error message:

[code]

**Additional comments**
Output of `ti diagnose`:

[code]

[2021-10-01 04:11] bobcao3 commented on #3069
Hello! Which GPU do you have? Also can you try the Vulkan backend?

On Thu, Sep 30, 2021, 8:46 PM Y7K4 ***@***.***> wrote:

[2021-10-01 04:29] Y7K4 commented on #3069
My laptop only has an integrated GPU, Intel HD Graphics 630.

I just tried the Julia set example with the Vulkan backend, and it worked.

[2021-10-01 05:12] bobcao3 commented on #3069
I think I have a rough idea why this might be happening, but in the
meantime maybe use the Vulkan backend, features wise Vulkan has multiple
Snode root and GL has a semi working global dynamic field, but I do suggest
using Vulkan backend if it works for you!

On Thu, Sep 30, 2021, 9:30 PM Y7K4 ***@***.***> wrote:

[2021-10-01 08:57] gaocegege commented on #2659
Thanks, I will try to address it.

[2021-10-01 09:11] maverick-2030 opened #3071 "Runtime error with example print_offset"
**Describe the bug**
Run print_offset example and there comes error message "[E 10/01/21 15:17:34.962 10652] [program.cpp:taichi::lang::Program::visualize_layout@282] Assertion failure: ofs"

**To Reproduce**
ti example print_offset

**Log/Screenshots**
![image](https://user-images.githubusercontent.com/72209363/135595472-63f44800-0b22-4612-b5b0-7b19998eb04f.png)

[2021-10-01 09:44] #3071 closed

[2021-10-01 09:46] maverick-2030 commented on #3071
After installation of visual studio distribution, the issue has been solved.

[2021-10-01 12:05] maverick-2030 opened #3077 "Runtime error with example fem128_ggui"
**Describe the bug**
I ran example fem128_ggui and there came 'invalid unordered_map<K, T> key [E 10/01/21 19:18:19.869 9124] Received signal 11 (SIGSEGV)'

**To Reproduce**
ti example fem128_ggui

**Log/Screenshots**
![image](https://user-images.githubusercontent.com/72209363/135616516-a82fd39e-ebd5-4d29-aff6-43566deaed8e.png)

[2021-10-01 16:15] k-ye commented on #3077
Hi, GGUI doesn't support the OpenGL backend yet. Could you try either the CUDA or the CPU backend? Also, please make sure Vulkan is installed :-)

[2021-10-02 09:03] #2719 closed

[2021-10-02 15:20] bismarckkk opened #3084 "taichi0.8.1 ImportError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found"
I installed taichi0.8.1 on Ubuntu 18.04LTS, but when I try
[code]
I got the following error
[code]
Ubuntu 18.04LTS only have GLIBC 2.27.
I already read #2439, reverting to 0.7.16 can fix it, but when I upgrade to 0.7.23 this problem is still here .

[2021-10-03 05:44] qiao-bo commented on #3084
Hi, thanks for raising the issue. Indeed Ubuntu 18.04 comes with GLIBC 2.27, and you will get the above error. Can you circumvent this by using a Docker image (i think either 19.04 or 20.04 should work)? or maybe [build the glibc from source](https://www.linuxfromscratch.org/lfs/view/9.0-systemd/chapter05/glibc.html)?

[2021-10-03 08:13] #3016 closed

[2021-10-04 04:33] bismarckkk commented on #3084
thank you, it works in docker.
I also try to upgrade my GLIBC, but it make my ubuntu broken, make backup before doing it.

[2021-10-04 05:46] FlagerLee commented on #3051
So is this a bug or a feature?

[2021-10-04 14:27] ifsheldon opened #3087 "Irregular Multi-dimensional Array Support"
**Concisely describe the proposed feature**
I would like to have a feature that allows irregular multi-dimensional arrays, which have a shape of (f0, f1, f2, ..., fn, v1, v2, ..., vn) where f* is fixed dimensions and v* is variable dimensions. For example, I need an array of matrices of different shapes, then I will need a field of shape (n, v1, v2) where n is the number of matrices, and v1, v2 ar

[2021-10-06 05:37] bobcao3 commented on #3087
how vastly different will the matrices be in terms of size?

[2021-10-06 05:46] bobcao3 commented on #3077
Marking as feature request for adding GGUI support in GL

[2021-10-06 06:24] bismarckkk opened #3092 "ti.atan2 not support i32"
This is the sample code
[code]
It got error
[code]
If I use `ti.atan2(1, 1)`, it run normally.

BTW, the doc of atan2 maybe outdated, I test `ti.atan2(1, 0)` and it got right result which doc say it don't work.

[2021-10-06 06:26] bobcao3 commented on #3045
I think it found your cmake.exe but it failed with calling Visual Studio's nmake. I'm not sure how this happens, but maybe you can try to install the full Visual Studio, then remove the build folder in the taichi repo, and then run `python ./setup.py develop` without `--user` flag from PowerShell (instead of CMD)

Since I can't seem to repro this, I just outlined how I usually get it working, hope

[2021-10-06 06:30] bobcao3 commented on #3051
I don't think you can create global fields / data_oriented object from within a kernel, so for the second case it might be caused by that.

[2021-10-06 06:37] bobcao3 commented on #2954
Just tested on my end and I can't seem to reproduce this as of the current master branch, so I think we can call this fixed?

One thing does concern me, on my RTX3080, Nvidia Driver 472.12, Cuda 11.4, I'm seeing around 16 to 17s for both `numpy` and `ndarray`, this seems quite a bit slow

[2021-10-06 07:13] bobcao3 commented on #3092
In C++ atan2 is specified as https://en.cppreference.com/w/cpp/numeric/math/atan2
Which specifies that if i32 inputs are used, they will be cast to double and therefore have a FP return type.

So I think to address this issue, either we need to also specify that inputs to atan2 must be FP, or we need to automatically cast them to FP.

As for why `ti.atan2(1,2)` worked:
Both 1 and 2 are treated as

[2021-10-06 20:28] backup1 opened #3095 "impossible to install taichi on Cygwin"
Hello,

It seems that I cannot install taichi on Cygwin. Could you please check if there is any way to do the installation in this case ? Thanks a lot !

(venv3) ~/taichi $ **python setup.py install**
... ...
  File "/usr/lib/python3.8/distutils/dist.py", line 985, in run_command
    cmd_obj.run()
  File "setup.py", line 142, in run
    if get_os_name() != 'win':
  File "setup.py", line 68, in get

[2021-10-07 05:48] trevinwong commented on #3045
I got this output:
[code]

[2021-10-07 06:52] trevinwong commented on #3045
Yeah I switched over to using a regular Python3.9 installation and everything seemed to work a lot better. Practically no errors and I can run the tests, although I wasn't able to finish all of them because nodes were consistently crashing, but still, looks a lot better than using Python3.10.

[2021-10-08 02:59] lin-hitonami opened #3104 "Argument shadowed when there is a local variable with the same name"
**Describe the bug**
When a local variable has the same name with a scalar argument, the argument is shadowed.

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2021-10-08 03:19] ailzhang opened #3106 "Add doc string for _logging.py"
Public apis in https://github.com/taichi-dev/taichi/blob/master/python/taichi/_logging.py needs doc strings.

[2021-10-08 03:39] ailzhang opened #3107 "Enable pylint for python/taichi folder"
Currently if you run `pylint python/taichi/` there're a lot of warnings/errors. We'd like to get rid of these and run pylint in CI.
Also in [`.pylintrc`](https://github.com/taichi-dev/taichi/blob/master/.pylintrc) we skip a few checkers but it'd be nice to enable some of them back, e.g. import-outside-toplevel.

This work is good for new contributors, and you're welcome to submit one PR per pylint

[2021-10-08 05:35] #3019 closed

[2021-10-08 06:10] bcolloran opened #3110 "Drawing lines with `canvas.lines()` does not work as expected"
**Describe the bug**

I've been having trouble drawing lines with `canvas.lines()`.

The short script below defines 10 points in a semicircle around one point at the center of the semicircle, and then defines edges between the central point and all others. Only five of the expected 10 lines are drawn.

**To Reproduce**
[code]

**Log/Screenshots**
here is the full terminal output when i run this sc

[2021-10-08 08:43] gaocegege opened #3114 "[Docs] Docs tab in https://taichi.graphics does not work"
**Describe the bug**

Click Docs in https://taichi.graphics/, it returns 404 Page Not Found (https://docs.taichi.graphics/docs/lang/articles/basic/overview)

The link should be https://docs.taichi.graphics/lang/articles/basic/overview

[2021-10-08 09:12] #3114 closed, assigned to nobody

[2021-10-08 12:36] gaocegege commented on #3114
It works now. Thanks for the fix.

[2021-10-09 00:45] bobcao3 opened #3121 "CHI IR interpreter & host side constant folding"
Ref: #3108

[2021-10-09 02:05] k-ye commented on #3110
@AmesingFlank could you help take a look :sweat_smile:

[2021-10-09 02:16] AmesingFlank commented on #3110
Hi!

The `indices` argument of `canvas.lines` should be a `ti.field` of shape `n_edges * 2`, instead of a 2D `ti.Vector.field`

The following code does what you want:

[code]
![Screenshot 2021-10-09 031515](https://user-images.githubusercontent.com/16066115/136640421-aafa88b4-e031-441c-b39d-2afbf082dfe2.png)

I do apologise for the confusion caused. GGUI should probably support both ways of expres

[2021-10-09 03:22] ailzhang opened #3126 "Speed up CI build by caching pip dependencies"
@yihong0618 reminded that we can cache installed pip dependencies to speed up build time. https://github.com/taichi-dev/taichi/commit/bc0182ccffb25c68f8493fc9037e47ea615bde59#r57732885 Thanks!
Some more references: https://medium.com/ai2-blog/python-caching-in-github-actions-e9452698e98d

[2021-10-09 05:12] k-ye opened #3128 "Make arch part of the test name"
**Concisely describe the proposed feature**

Instead of printing `PASSED tests/python/test_ad_if.py::test_ad_if_parallel_f64`, it will be better to print `PASSED tests/python/test_ad_if.py::test_ad_if_parallel_f64[arch=cuda]` or so.

**Describe the solution you'd like (if any)**

Learn pytest

[2021-10-09 12:12] deepakdinesh1123 commented on #3107
How to handle unused imports and unused variables?

[2021-10-09 14:28] #2304 closed

[2021-10-09 15:42] mgttt opened #3134 "performance improve suggest: from_numpy()"
problem description:

when copy bigger data(1GB above) from cpu to gpu by using ti.from_numpy(), it would take more than one second which seems slow.

suggestion:

after reviewing source code, should have a kind of batch copying instead of parrellel copy cell by cell?

[2021-10-10 01:47] KuPao opened #3138 "Signal 11 (SIGSEGV) when using ti.ext_arr()"
**Describe the bug**
I encountered SIGSEGV when using ti.ext_arr(). In my previous code, this problem did not occur when the numpy array size was (1, 3). But when I use the array of (n, 3) (n <= 3), the error appears. The error randomly appear (but it will definitely happen), but there is no randomness in my program. Most of the time Taichi Compiler Stack Traceback is empty, but sometimes there wi

[2021-10-10 09:28] k-ye commented on #3134
Good observation! Cell-by-cell copying is probably inevitable in certain cases, e.g., when you are copying into a sparse field.

That said, we should figure out where the bottleneck is. Care to share your code so that we can do a repro?

[2021-10-11 03:43] strongoier opened #3146 "[perf] Further reduce SNodeTree materialization time in LLVM backends"
**Concisely describe the proposed feature**
#3127 has already significantly reduced SNodeTree materialization time. However, it is still not acceptable that finalizing SNodeTree 300 times takes ~20s. Therefore, we need to take further actions to make the total time negligible.

**Describe the solution you'd like (if any)**
According to the latest profiling result in #3127, the bottleneck comes fro

[2021-10-11 05:07] k-ye opened #3147 "Optimize ScopedProfiler's performance"
Last time I checked, `ScopedProfiler` itself could be a perf bottleneck. https://github.com/taichi-dev/taichi/blob/7e54f56d305f370f773264864f7fcf117470ddf1/taichi/system/profiler.h

[2021-10-11 05:42] FantasyVR opened #3148 "GGUI does not support anti-aliasing"
**Concisely describe the proposed feature**
@AmesingFlank  @KuribohG

A mesh display using **GUI**:
![image](https://user-images.githubusercontent.com/6712304/136738768-9f05dcfe-1e26-4cfb-9847-6e3d1c8451da.png)

A mesh display using **GGUI**
![image](https://user-images.githubusercontent.com/6712304/136738789-d3617696-a37f-4c4c-aae0-fcfd224f421d.png)

We could see obvious aliasing in **GGUI**.

[2021-10-11 07:17] #2960 closed

[2021-10-11 08:06] qiao-bo opened #3150 "Deploy Dockerfile on Linux CI"
Tasks following #2970
- [x] Test on Ubuntu 18.04
- [x] Create non-root user for container access
- [x] Install Conda to enable multiple Python environment
- [x] Remove Taichi build and test, fetch Taichi from the corresponding Github PR
- [ ] <s>Reduce the image size</s> tracked in https://github.com/taichi-dev/taichi/issues/3275
- [ ] <s>Update doc</s>

[2021-10-11 08:15] lucywsq opened #3151 "Join us as a new Taichi contributor!"
Below are features that are relatively friendly to new comers. Everyone is welcome to participate :-)
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-403e542b-7fff-8acf-11d2-f6591ba3c26f"><div dir="ltr" style="margin-left:0pt;" align="left">

**Welcome contribution**

Issue | Link
-- | --
Support more atomic operations | https://github.com/taichi-dev/taichi/issues/2675

[2021-10-11 10:25] k-ye opened #3154 "Differentiate between `ti.root.dense(ti.i, xx).dense(ti.j, xx)` and `ti.root.dense(ti.j, xx).dense(ti.i, xx)`"

[2021-10-11 11:27] k-ye opened #3156 "Optionally enable the signal handlers"
https://github.com/taichi-dev/taichi/blob/7e54f56d305f370f773264864f7fcf117470ddf1/taichi/system/hacked_signal_handler.cpp#L66

[2021-10-11 12:47] #2934 closed

[2021-10-11 14:25] #3126 closed, assigned to nobody

[2021-10-11 14:36] squarefk opened #3162 "MPM88 Easily Exploded (n_grid 128->200)"
[code]

[2021-10-11 14:46] hongrubb commented on #2730
I would like to help!

[2021-10-11 15:52] k-ye commented on #2625
Hi @imdouyu , thanks for expressing the interest! Assigned to you & let us know if you need more help

[2021-10-11 15:54] ysh329 commented on #2724
I would like to help!

[2021-10-12 01:35] #3154 closed, assigned to strongoier

[2021-10-12 02:06] yuanming-hu commented on #3162
Interesting... Does this still explode if you use a slightly smaller dt?

[2021-10-12 02:30] Zheaoli opened #3165 "Add an environment variable as switch to close the default signal handler"
**Concisely describe the proposed feature**
Add an environment variable as a switch to close the default signal handler.

The code here https://github.com/taichi-dev/taichi/blob/7e54f56d305f370f773264864f7fcf117470ddf1/taichi/system/hacked_signal_handler.cpp#L66 add some signal handler to handle the signal such as SIGABRT etc to print some formatted message by tichi.

But in some circumstances, pe

[2021-10-12 02:36] lucywsq commented on #3151
These issues haven't been assigned yet. You can still choose one to do some excellent work : )

Put repeating code blocks in Github CI workflows into scripts. | #2715
-- | --
[lang] Expose thread index in @ti.kernel | #2725
Support more atomic operations | #2675
Support efficient operations for large matrix | #2696
Deprecate Expr::operator= | #2684

[2021-10-12 04:53] k-ye commented on #3156
replaced by #3165

[2021-10-12 04:53] #3156 closed

[2021-10-12 04:58] ailzhang opened #3167 "Make `as ti` optional when import taichi"
As discussed in https://github.com/taichi-dev/taichi.graphics/pull/19#pullrequestreview-776474851, we should try relaxing the requirement of must alias as `ti` for users. This might indeed expose some bugs in our python code and they should be fixed.

Milestones:

* [ ] Run `mpm88.py` without using the ` as ti` part.
* [ ] users can choose not to alias or alias to another name, e.g. `import taichi

[2021-10-12 06:41] ma-sadeghi opened #3168 "Cannot instantiate SparseSolver"
**Describe the bug**
Cannot instantiate SparseSolver.

**To Reproduce**
[code]

**Log/Screenshots**
[code]

[2021-10-12 07:59] ma-sadeghi commented on #3168
Great, thanks :)

[2021-10-12 07:59] #3168 closed, assigned to nobody

[2021-10-12 15:25] cloudhan opened #3173 "`build_requires` pylint, pytest and various other dependencies leak into whl"
`pylint` and `pytest` and various `build_requires` leak into final package.

To reproduce, in a fresh virtual environment, install taichi 0.8.2.
[code]

[2021-10-12 16:15] ysh329 opened #3174 "taichi0.8.2 ImportError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found. Win10 WSL2 Ubuntu"
[code]

According to the tip `sudo apt-get install libtinfo5`, same error still exits.

## Env

- Win10 WSL2 Ubuntu18.04
- Python3.9 miniconda

[code]

Indeed, 2.29 is not found.

## Log

I read #3084 and #2439.

### Try1: install 0.7.16 verison

Failed to install version 0.7.16 as below, so I installed 0.7.21 but error still exists.

[code]

Any advice? Try docker? I just worry about the performa

[2021-10-13 00:34] k-ye commented on #3173
Thanks! Known problem, will make a new release for this fix

[2021-10-13 00:51] ysh329 commented on #3174
Maybe I'll try Ubuntu20.04 in WSL2.

[2021-10-13 00:54] k-ye commented on #3174
Thanks for reporting this! Sry our Ubuntu 18.04 build machine has been experiencing problems these days, fixing 😂

[2021-10-13 01:22] k-ye commented on #2724
Hi @ysh329 , those docs are pretty helpful. In addition, you might want to look at these:

* https://docs.taichi.graphics/lang/articles/contribution/dev_install (if you haven't already built Taichi)
* https://docs.taichi.graphics/lang/articles/contribution/write_test

As for the field, we can start simple and see what happens if you read/write field `a` after `c` gets destroyed: https://github.com

[2021-10-13 02:39] #3173 closed, assigned to nobody

[2021-10-13 03:10] gaocegege commented on #3167
I ran the script with `as ti` and without `as ti`, then got a different python AST for the `for` statement.

The source code looks like this:

[code]

Python AST without `as ti`:
[code]

Python AST with `as ti`:
[code]

I will have a deep dive into it to see what happened here.

[2021-10-13 03:58] gaocegege commented on #3167
The func always returns the unexpected value `""` when there is no `as ti`. It may be one of the reasons that the program cannot be run.

[code]

I will try to fix it first.

BTW, we should add more tests that do not have `as ti`. I will also have a look at it.

[2021-10-13 05:20] k-ye opened #3178 "#3164 crashes `test_reduction.py`"
**To Reproduce**

After #3164, the following test results in a segfault.

[code]

**Log/Screenshots**

[code]

**Additional comments**
If possible, please also consider attaching the output of command `ti diagnose`. This produces the detailed environment information and hopefully helps us diagnose faster.

If you have local commits (e.g. compile fixes before you reproduce the bug), please make sur

[2021-10-13 13:03] ysh329 opened #3182 "Failed to install dev version: Running CMake prepare CMake Error: CMake was unable to find a build program corresponding to "Unix Makefiles". CMAKE_MAKE_PROGRAM is not set. You probably need to select a different build tool."
## Env

- Win10 WSL2 Ubuntu20.04
- miniconda python 3.9

## Log

I followed the doc about install taichi-dev-version: https://docs.taichi.graphics/lang/articles/contribution/dev_install. However, failed with logs as below:

[code]

[2021-10-13 14:44] Renkai opened #3183 "Can't build with the doc."
When I follow this doc to build Taichi
https://docs.taichi.graphics/lang/articles/contribution/dev_install#installing-dependencies
under macOS 11.6 and pre-prebuilt llvm 10.0.0

[code]

[2021-10-14 01:13] ysh329 commented on #3182
Any adivice? Thanks

[2021-10-14 01:26] ysh329 opened #3184 "Dev version build failed: t is detected that you are using gcc as the compiler. This is an experimental feature. Consider adding -DCMAKE_CXX_COMPILER=clang argument"
## Env

1. Win10 WSL2 Ubuntu20.04
2. minicnoda py3.9

## Log

When I follow this doc to build Taichi
https://docs.taichi.graphics/lang/articles/contribution/dev_install#installing-dependencies

[code]

how to switch to llvm compiler, thanks

[code]

[2021-10-14 05:33] ailzhang opened #3187 "unix_build.sh and unix_test.sh error code is not passed back properly"
Thanks to @yihong0618 and @Zheaoli for identifying this bug!
Basically https://github.com/taichi-dev/taichi/runs/3890020314 shows that test failed on CPU in the log, but github action job still passed.

[2021-10-14 12:40] 0xzhang opened #3195 "Error info about `export TI_WITH_CUDA=0` maybe inappropriate."
**Describe the bug**

If not installed CUDA >=10, will get error info like below.

[E 09/29/21 23:23:27.328 20012] [dynamic_loader.cpp:taichi::DynamicLoader::load_function@32] Function cuImportExternalMemory not found
...
Internal error occurred. Check out this page for possible solutions:
https://docs.taichi.graphics/docs/lang/articles/misc/install
[W 09/29/21 23:23:27.560 20012] RuntimeError:
fo

[2021-10-15 00:37] yihong0618 commented on #3019
@ltt1598

About `@classmethod` stacking I think just raise maybe a better way,  what do you think ?

[2021-10-15 03:50] ailzhang commented on #3106
@0xzhang Sounds great! Go for it!

[2021-10-15 06:51] ltt1598 commented on #3019
Uh sorry, what does it mean by "just raise"?

[2021-10-15 06:54] yihong0618 commented on #3019
[code]

[2021-10-15 08:07] #3178 closed

[2021-10-15 12:55] pollywaik opened #3201 "Add image I/O for GGUI"
**Concisely describe the proposed feature**
Currently, GGUI does not seem to support image I/O, like `ti.GUI.show(filename)` in GUI. Or other methods to export images of canvas on the screen

[2021-10-16 16:45] TennyZhuang opened #3208 "Optimize the performance of `serialize` method"
**Concisely describe the proposed feature**

Currently, we use `virtual std::string serialize() = 0;` in `Expression` interface. The `serialize` which returns a `string` is concise, but it's inefficient for a tree-style data structure. e.g. If our tree has 10 level and 30 nodes, we have to do at least 30 buffer allocations.

**Describe the solution you'd like (if any)**

Maybe we can pass a `std::

[2021-10-16 17:00] skyzh commented on #3208
`std::stringstream` should be `std::stringstream&`?

[2021-10-18 05:30] bismarckkk opened #3213 "GGUI on taichi x64 0.8.3, Pool specified while dedicated allocation is required."
I try to run ggui exmaple on x64, but got error follow
[code]
I already install vulkan SDK 1.2.189.2, and test the vulkan cube which run normally.
I also tried other GGUI exmaples, and got same error

[2021-10-18 05:51] eatcosmos commented on #2696
I would like to help!

[2021-10-18 07:27] bobcao3 opened #3214 "[opengl] Device initialized on an environment without a GPU"
#3069 (CPU only server run but GL initialized)

On such devices the fallback should activate and use the CPU backend instead. Something specific to the setup or something.

[2021-10-18 07:28] bobcao3 commented on #3069
By the way, if you can provide some details on which cloud provider you used, what linux distro you used, and most preferably a rough idea of what is installed on the system, that would be very helpful for us to fix the fallback

[2021-10-18 09:29] Hanke98 opened #3216 "Passing arguments from ti CLI to examples"
**Concisely describe the proposed feature**

Passing the arguments from `ti example ...` to the example scripts. e.g.:
[code]
I would like this command to pass the arg `-S` to the `stable_fluid.py` file and be parsed later.

**Describe the solution you'd like (if any)**

Actually, the current implementation will pass the args to the examples, however, unrecognized arguments will stop the `ti examp

[2021-10-18 09:58] k-ye commented on #3069
@Y7K4  does `v0.8.0` work?

[2021-10-18 10:33] Y7K4 commented on #3069
OpenGL backend doesn't work with `v0.8.0` either.

[code]

[2021-10-18 16:42] Y7K4 commented on #3069
OK, I will try to build from source later this week.

[2021-10-18 20:20] bobcao3 commented on #3213
Hello! If you can build from source you can maybe try out the PR #3222 , we don't really have a testing machine on hand that can reproduce this error, but we know where this bug originates from. If you can't build from source that's fine, this should be fixed by the next release.

[2021-10-19 01:05] k-ye commented on #3195
SG! Here's the place Taichi checks for CUDA driver version: https://github.com/taichi-dev/taichi/blob/88ca7f28e336a2d60016c39a2493de50d0cb9a9e/taichi/backends/cuda/cuda_driver.cpp#L43-L47

We can just return `false` when this is below 10000 (format: https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__VERSION.html#group__CUDA__VERSION_1g8b7a10395392e049006e61bcdc8ebe71). Would you like to hel

[2021-10-19 01:51] frostming opened #3223 "[Lang] More friendly replacement to accessing scalar field"
**Concisely describe the proposed feature**
Currently, a scalar field must be accessed via `[None]` indexing. It looks a bit weird and non-intuitive, thus brings more mental burden to users. What is more, passing other values as the index will clearly cause an exception.

**Describe the solution you'd like (if any)**
We could provide a more friendly alias for `[None]` indexing, while retaining the

[2021-10-19 02:03] gaocegege opened #3224 "[Doc] Introduce how a kernel is compiled and run on the Life of a Taichi Kernel document page"
**Concisely describe the proposed feature**

Introduce how a kernel is compiled and run on the [Life of a Taichi Kernel document page](https://docs.taichi.graphics/lang/articles/contribution/compilation)

**Comments**

https://github.com/taichi-dev/taichi/pull/3180#issuecomment-945687826 @gaocegege

https://github.com/taichi-dev/taichi/pull/3180#issuecomment-945713606 @ailzhang

[2021-10-19 02:07] gaocegege commented on #3224
/help-wanted

[2021-10-19 07:58] lucywsq commented on #2725
Hi @Luke-Skycrawler  please join this slack channel, then we would respond to your problems on time. We can communicate faster as well.

[2021-10-19 08:01] lucywsq commented on #2715
Hi, @frostming  please join this slack channel, then we would respond to your problems on time. We can communicate faster as well.

[2021-10-19 09:05] gaocegege opened #3227 "[misc] Function redifined in python/taichi/lang/__init__.py"
**Describe the bug**

`python/taichi/lang/__init__.py`:

[code]

There is a func `reset` in python/taichi/lang/__init__.py, which is already defined at taichi.lang.impl

`python/taichi/lang/impl.py`:

[code]

The IDE always raises an error here.

[2021-10-20 01:45] #3213 closed, assigned to nobody

[2021-10-20 01:46] #3110 closed

[2021-10-20 03:55] k-ye commented on #3223
Hmm, I believe it's more consistent to keep the rule that "field value must be accessed via indexing", because a Taichi field represents a container. Note that numpy 0-d array supports `arr[()]`. What we could consider is probably to create a separate data structure just for representing scalar itself.

[2021-10-20 07:24] #3167 closed

[2021-10-20 09:18] k-ye opened #3233 "Support f-string in Taichi kernels"
**Concisely describe the proposed feature**

It would be great if we can support this usage inside a `@ti.kernel`:

[code]

**Describe the solution you'd like (if any)**

See https://github.com/taichi-dev/taichi/issues/2396

[2021-10-21 05:10] strongoier commented on #3184
Hi, if you follow https://docs.taichi.graphics/lang/articles/contribution/dev_install#setting-up-taichi-for-development, you will see `# export CXX=/path/to/clang  # Uncomment if clang is not system default compiler.` in the 4th line of the 1st step.

[2021-10-21 05:20] #3208 closed

[2021-10-21 05:52] YuCrazing opened #3238 "[Bug] `from_numpy` in `ti.ndarray` always use cpu memory even though in cuda environment"
https://github.com/taichi-dev/taichi/blob/6538f34137e6306690284f98cfab123e2d4e2e7c/python/taichi/lang/_ndarray.py#L127

please assign to @strongoier .

[2021-10-21 07:13] #3238 closed

[2021-10-21 07:27] frostming commented on #3223
A scalar field is of type `taichi.lang.field.ScalarField` which is a subtype of `Field`. Only `ScalarField` will have `.value` property.

[2021-10-21 09:11] AmesingFlank opened #3240 "Investigate Vulkan Issues on macOS"
There were a few issues with vulkan on macOS, as discussed in #3231:

* The memory alloc params and flags required are different. More specifically, when either host read or host write is required, the `VK_MEMORY_PROPERTY_HOST_VISIBLE_BIT` bit must be a required flag, and the `VK_MEMORY_PROPERTY_HOST_COHERENT_BIT` must be a preferred flag.

* In vulkan GGUI, changing particle size sometimes doesn'

[2021-10-21 10:15] k-ye opened #3241 "SSA: alloca -> phi optimization"
**Concisely describe the proposed feature**

Right now CHI IR could generate many Alloca instructions, which is not really SSA compliant. Filing this issue to track some of the works we can consider further along the line:

* [ ] Introduce the PHI instruction
* [ ] Implement LLVM's `mem2reg` pass

** References **

* https://llvm.org/docs/Passes.html#mem2reg-promote-memory-to-register
* https://ne

[2021-10-21 10:17] k-ye opened #3242 "CHI IR serialization"
**Concisely describe the proposed feature**

Implement an easy and robust way to serialize the CHI IR.

**Describe the solution you'd like (if any)**

LLVM, SPIR-V, MLIR, ...?

**Additional comments**
Add any other context or screenshots about the feature request here.

[2021-10-21 11:32] k-ye opened #3243 "[Discussion] Disable OpenGL backend's partial support for dynamic SNode"
OpenGL's support for the `dynamic` SNode is never complete and can only be used at the top level, yet it takes one SSBO slot, which Taichi now needs for other purposes:

https://github.com/taichi-dev/taichi/blob/53e04c652ff8de7d73651e91e27917ac8b33b385/taichi/backends/opengl/opengl_kernel_util.h#L47-L55

Our (tentative) roadmap for the sparse runtime on non-LLVM backends is:

1. Implement it on th

[2021-10-22 02:59] #2108 closed

[2021-10-22 20:42] AmesingFlank opened #3254 "[GGUI] Fix crash when certain keys are pressed."
GGUI crashes when certain keys are pressed (The Windows key, for example).

Relevant code:

https://github.com/taichi-dev/taichi/blob/master/taichi/ui/common/input_handler.h
https://github.com/taichi-dev/taichi/blob/master/taichi/ui/utils/utils.h

It would be great to support all of these keys, or at least add a try-catch to avoid the window from crashing.

[2021-10-23 22:12] 0xzhang opened #3258 "[GGUI] GGUI examples cann't run."
**Describe the bug**
I use taichi builded from source on latest commit. GGUI examples cann't run. If modify to `arch=ti.vulkan`, get another error.
I also use v0.8.3, and it works fine.

**To Reproduce**
[code]
**Log/Screenshots**
[code]

If modify to `arch=ti.vulkan`, get another error.

[code]

[2021-10-24 00:36] mzy2240 commented on #1206
Execution speed, which can be categorized into two classes: non-parallel and parallel. For non-parallel, it could be a sequence of matrix multiplication and manipulation. Many people use numba with numpy for further acceleration so this could be a typical usage. For parallel cases, one thing I could think of is Gaussian elimination where each branch could be solved in parallel based on the factori

[2021-10-24 01:20] bobcao3 commented on #1206
Hi, taichi is a very different programming model & language, it is not a
language designed to express matrix operations, so this is not a comparison
we can make. In taichi you write the loops and operate on individual
elements of a matrix, instead of doing macro operations on entire matrices

On Sat, Oct 23, 2021, 5:36 PM mzy2240 ***@***.***> wrote:

[2021-10-24 01:53] mzy2240 commented on #1206
Yeah gaussuan elimination is exactly the operation you mentioned that work on individual elements.

[2021-10-24 02:58] bobcao3 commented on #1206
There is not really a way to compare two different libraries with entirely
different programming model. So, we have not done a systematic performance
comparison against numba

On Sat, Oct 23, 2021, 7:06 PM mzy2240 ***@***.***> wrote:

[2021-10-24 18:18] Dr-How opened #3261 "N-body example does not work for N=1"
**Describe the bug**
The N-body example in the zoo gallery does not show anything when N=1.

**To Reproduce**
1. Take the N-body example from https://zoo.taichi.graphics/gallery.
2. Change line 13 to `N = 1`. To be sure, might also increase `planet_radius`.
3. Compile locally or in zoo.

**Expected result**
A single small white circle that is moving at constant speed.

**Actual result**
* No circl

[2021-10-25 00:40] 0xzhang opened #3262 "[vulkan] GGUI crash when press any keys enough more times."
**Describe the bug**
When I pressed any keys enough more times (maybe >40times), GGUI programs crash.

**To Reproduce**
[code]
Whether ggui programs use key-input or not, they all crash when many times key pressed.

**Log/Screenshots**
I got a error info when use my program.
[code]
And ggui examples exit without any error info.

[2021-10-25 08:17] Leonz5288 opened #3265 "WASM aot fails."
The latest development taichi fails when trying to compile WASM files.

Traceback:
![Screenshot from 2021-10-25 16-16-16](https://user-images.githubusercontent.com/57782838/138659511-f9b9809c-091d-45ce-8ff5-cbf73e151329.png)
![Screenshot from 2021-10-25 16-16-02](https://user-images.githubusercontent.com/57782838/138659520-2accf0b7-b59c-42b1-8b41-d858aa3e16a9.png)
![Screenshot from 2021-10-25 16-1

[2021-10-25 13:44] #3258 closed, assigned to nobody

[2021-10-26 02:20] MierDa007 opened #3270 "dynamic Node to support List-pop-like method and support Vector with ti.append() function"
**Concisely describe the proposed feature**

I would like to

* delete the data of certain rows in the dynamic node
* add Vector data in the dynamic node with ti.append() function.

**Describe the solution you'd like (if any)**

[code]

**Additional comments**
[Example](https://forum.taichi.graphics/t/ti-deactivate/1918/3)

[2021-10-26 03:10] #3265 closed, assigned to nobody

[2021-10-26 03:10] g1n0st opened #3271 "continue not worked when loop over sparse field"
**Describe the bug**

`continue` statement seems not to work when looping over the sparse field. The `continue` will jump out of the current loop and skip the whole activated block.

**To Reproduce**

[code]

[2021-10-26 03:20] BillXu2000 opened #3272 "[IR] Continue statement behavior is confusing in struct for"
**Describe the bug**
(update) Same issue as #3271.

Detected by @g1n0st  .
Continue statement in struct for scope will skip the whole lowest activated dense block.
I am not sure whether it is a feature or a bug.

**To Reproduce**
[code]

**Log/Screenshots**

[code]

**Additional comments**
https://github.com/taichi-dev/taichi/blob/3a9c1f3635e3b424bf57e2e5d1de9fd909097820/taichi/ir/statements.cpp#L

[2021-10-26 03:29] #3271 closed, assigned to nobody

[2021-10-26 03:59] #3243 closed, assigned to nobody

[2021-10-26 04:03] k-ye opened #3274 "Use docker to run Github CI/CD"

[2021-10-26 04:04] k-ye opened #3275 "Reduce the CI/CD docker image size"
Possible solutions:

* docker slim
* torch

[2021-10-26 04:05] k-ye opened #3276 "Templatize the CPU and GPU Dockerfiles"

[2021-10-26 05:09] k-ye opened #3278 "[opengl] Merge Args + Retr + Extr SSBO"
Here are the SSBOs currently in use:

https://github.com/taichi-dev/taichi/blob/f1fe2c69da30ba14f6631eda8ec2bce35504c1f3/taichi/backends/opengl/opengl_kernel_util.h#L47-L54

`Args`, `Retr` and `Extr` are all used to pass data between the kernel and the host. We can merge them to release some SSBO slots.

* [x] Merge `Args` and `Extr`
* [x] Merge `Args` and `Retr`

[2021-10-26 05:43] k-ye opened #3280 "Ndarray for the OpenGL backend"
**Concisely describe the proposed feature**

We need to support `Ndarray` on non-LLVM backends as well. This would greatly simplify the AOT works.

**Describe the solution you'd like (if any)**

Right now Ndarray still stores its memory in a pointer: https://github.com/taichi-dev/taichi/blob/1d85e8f835b08990a824ab79e67e83d3fd9d7f4b/taichi/program/ndarray.h#L31

We need to switch this to `DeviceAll

[2021-10-26 06:06] k-ye opened #3281 "Upgrade to LLVM12"

[2021-10-26 06:23] k-ye opened #3283 "CI test coverage: add AMDGPU/Intel graphics card bots"
This is for Vulkan & OpenGL

[2021-10-26 07:01] FantasyVR opened #3284 "[GGUI] Different results when using canvas.lines with indices between Linux and Windows platform"
**Describe the bug**
Different results when using canvas.lines with indices between Linux and Windows platform.

**To Reproduce**

[code]

**Log/Screenshots**
`[Taichi] version 0.8.3, llvm 10.0.0, commit 021af5d2, win, python 3.8.5`

- Windows
![image](https://user-images.githubusercontent.com/6712304/138824676-fc3ca32e-aa45-40cd-af54-faff1857b34b.png)

- Linux
![image](https://user-images.githubu

[2021-10-26 12:09] sjwsl opened #3287 "[Refactor] Fix compiler warnings"
**Concisely describe the proposed feature**
Currently there are some compiler warnings in our C++ codebase which may signal potentially serious problems.

**Describe the solution you'd like (if any)**
Fix necessary warnings and ensure the others don't matter.

[2021-10-26 12:40] k-ye opened #3290 "Support (de)serialize polymorphic objects"
**Concisely describe the proposed feature**

Our single-header C++ serialization lib is in https://github.com/taichi-dev/taichi/blob/master/taichi/common/serialization.h. Currently it doesn't support serializing polymorphic pointers. We should consider supporting this

**Describe the solution you'd like (if any)**

https://github.com/USCiLab/cereal

[2021-10-27 03:11] #3184 closed, assigned to nobody

[2021-10-27 03:12] #3284 closed, assigned to nobody

[2021-10-27 04:48] ysh329 opened #3293 "dev installation build from source failed: /usr/bin/ld: cannot find -lz"
## Env

1. Win10 WSL2 Ubuntu20.04
2. minicnoda py3.9

## Log

Execute commands below:

[code]

Logs as below:

[code]

[2021-10-27 05:52] #3106 closed, assigned to 0xzhang

[2021-10-27 07:28] k-ye opened #3298 "Make GL_NV_shader_* extensions configurable in the GLSL codegen"
Use case: Sometimes it is necessary for us to generate the code for floating atomic adds using the atomicCAS approach, even if the hardware supports native float atomic add (i.e., the `GL_NV_shader_atomic_float` extension is available). We should make these extensions configurable or ignorable.

[2021-10-27 14:34] strongoier opened #3301 "Support frontend type check"
**Concisely describe the proposed feature**

Currently, Taichi doesn't have frontend type check. All type related stuff are not handled until Taichi kernels are turned into CHI IRs. This causes the following issues:
1. Type error messages are not readable. It is very hard for users to distinguish between a user error and a compiler internal error, as they always see a bunch of purple stuff. Even f

[2021-10-28 12:57] gearslogy opened #3312 "一直显示materializing"
各位神：
[code]

调用这个程序是在C++通过pybind11（看的嵌入python）调用的这个python脚本。

由于我是带有QtGUI,开了一个QThread执行这个python脚本会出现这个问题。直接pybind11调用没有问题。是不是因为线程问题？

一直显示这个：
![image](https://user-images.githubusercontent.com/14259542/139259555-01b215e9-22fa-49bb-8d5e-c8e4a727158a.png)
然后线程就阻塞了

[2021-10-29 04:00] #3278 closed, assigned to ailzhang

[2021-10-29 04:01] #3312 closed, assigned to nobody

[2021-10-29 10:04] k-ye opened #3316 "Split OpenGL AOT/codegen and runtime"
This would allow us to avoid initializing the GL context

[2021-10-29 11:34] k-ye opened #3318 "Put some old docs back"
Thanks @strongoier for pointing this out! We used to have API references in https://taichi.readthedocs.io/en/stable/scalar_tensor.html, but they are removed (#2856) from the new doc site: https://docs.taichi.graphics/ site. Some of the content needs to be placed back.

Progress (an item contains an old path before #2856):
- [x] `docs/lang/api/arithmetics.md`
- [x] `docs/lang/api/atomic.md `
- [ ]

[2021-10-29 14:38] ailzhang opened #3320 "Prebuilt llvm-10 for mac m1"
We should also provide a prebuilt llvm-10 for m1 machine to save developers from building from source. Similar to https://docs.taichi.graphics/lang/articles/contribution/dev_install#installing-dependencies.
(I tried packaging my built llvm but it seems not working as expected, maybe @Leonz5288 knows how we did it for other platforms?

[2021-10-29 16:04] sjwsl opened #3323 "Release build with clang++12 failed some tests"
**Describe the bug**
Some tests failed after building taichi in release mode with clang++12.

**To Reproduce**
Set `CMAKE_CXX_COMPILER` to `clang++12`

[code]

[code]

Also here is a minimal program to reproduce one of the failures which is subtracted from the tests

[code]

[code]

[2021-10-29 23:23] AmesingFlank opened #3324 "Exponential Blow-up during Inlining"
Not really a bug, just some interesting observations. Because taichi doesn't really have functions, and `ti.func` is implemented via inlining, we can actually write O(N) lines of taichi code which gets translated into O(2**N) IR instructions.

Consider the following meta-program:

[code]

For `N=10`, it would generate and execute the following taichi program:

[code]
Observe the IR outputs. Before

[2021-10-30 02:07] #655 closed

[2021-10-30 02:07] #621 closed

[2021-10-30 02:08] k-ye commented on #3324
Interesting test program... I'll link this with https://github.com/taichi-dev/taichi/issues/602

[2021-10-30 02:13] k-ye opened #3326 "Windows CI env virtualization"

[2021-10-30 02:17] k-ye commented on #3174
Now that https://github.com/taichi-dev/taichi/pull/3291 is in, let's migrate the nightly/official release pipelines before the next official release :-) https://github.com/taichi-dev/taichi/blob/master/.github/workflows/release.yml

[2021-10-30 02:19] k-ye commented on #3150
Closing this one, as the remaining tasks are not urgent

[2021-10-30 02:19] #3150 closed

[2021-10-30 03:59] 0xzhang opened #3327 "[GGUI] GGUI program cann't run on 0.8.4."
**Describe the bug**
0.8.3 works fine.
[code]

**To Reproduce**
[code]

**Log/Screenshots**
![image](https://user-images.githubusercontent.com/33616362/139519395-acf4584c-10e7-4982-8c41-e234e5737439.png)

[2021-10-30 04:00] #3069 closed

[2021-10-30 05:06] qiao-bo commented on #3323
i can also reproduce this in a docker container. I installed clang-12 via apt, did you build from source?

[2021-10-30 05:13] sjwsl commented on #3323
Yup.

[2021-10-30 05:13] sjwsl commented on #3323
Yup.

[2021-10-30 09:52] ysh329 commented on #3293
Great && Fixed!!!

[2021-10-30 09:53] #3293 closed

[2021-10-30 13:56] gaocegege commented on #3013
Hi @AmesingFlank

Do we have tests for GGUI? I am trying to add some new test cases for the widget, but I did not find any.

[2021-10-30 14:03] AmesingFlank commented on #3327
This is a bug. I noticed it yesterday as well. Will fix soon.

[2021-10-30 14:15] AmesingFlank commented on #3013
We don't, adding tests for GGUI is on the top of my to-do list right now, but I just haven't found the time to do it :((

[2021-10-30 14:19] syguan96 commented on #3174
How to solve this problem? I have tried 0.8.0 to 0.8.4, and all released versions have this problem. My system is Ubuntu 18.04.

[2021-10-30 14:58] qiao-bo commented on #3174
Hi, sorry that the problem still exists on 18.04. It should be fixed in the next release. For now, can you try to [build from source](https://docs.taichi.graphics/lang/articles/contribution/dev_install) or use a docker image with 20.04 to bypass the issue?

[2021-10-30 15:22] messense opened #3332 "taichi linux wheels are not manylinux1 compliant"
**Describe the bug**
taichi linux wheels published on PyPI aren't [manylinux1](https://www.python.org/dev/peps/pep-0513/#the-manylinux1-policy) compliant.

**To Reproduce**

[code]

while manylinux1 policy requires

[code]

[2021-10-30 15:47] k-ye commented on #3332
Thanks! We are containerizing our CI/CD pipeline, which hopefully will fix this problem.

[2021-10-31 01:36] #3327 closed

[2021-10-31 08:24] ailzhang opened #3334 "Unify aot data structures"
Some of the aot data structures can be shared among all backends, e.g. https://github.com/taichi-dev/taichi/blob/master/taichi/backends/opengl/aot_data.h.
Unifying them should make serialization easier to manage.

[2021-10-31 08:54] messense commented on #3332
Containerization doesn't magically ensures manylinux compliant. As the [auditwheel](https://github.com/pypa/auditwheel) error message suggests, taichi and it's dependencies should be compiled on a [manylinux](https://github.com/pypa/manylinux) docker image.

Note that I don't think taichi needs to be **manylinux1** aka `manylinux_2_5` compliant, it's really old(CentOS 5 released in 2007). I think

[2021-10-31 09:43] bobcao3 commented on #3332
We will try to make our container environment align with the requirements.
Ubuntu 14.04 still does seem quite old, is there a even newer version
target?

On Sun, Oct 31, 2021, 1:54 AM messense ***@***.***> wrote:

[2021-10-31 09:46] sjwsl opened #3335 "Improve quality of the C++ code base"
Recently I noticed some compiler warnings while refactoring the C++ codebase. Warnings like unused variables may be irrelevant. But there are some critical ones, for example, non-virtual base class destructor, use of uninitialized variables, and narrowing conversion (#3322). These warnings are not about style or readability but affect the behavior of the code. They may cause performance issues, me

[2021-10-31 09:57] messense commented on #3332
There is `manylinux_2_24` which runs on Ubuntu 18.04 and later, but it won't run on CentOS 7 then as CentOS 7 only has glibc 2.17, could be a problem since CentOS 7 is a quite popular linux distribution in China.

Note that Ubuntu 18.04 itself contains glibc 2.27 so you can't build a manylinux_2_24 compliant wheel on it, [manylinux_2_24 docker images](https://quay.io/repository/pypa/manylinux_2_24

[2021-10-31 13:32] hantsy commented on #3151
Why not add these issues to the yearly hacker event: https://hacktoberfest.digitalocean.com/, and hackerfest hashtag on Twitter.

[2021-11-01 02:09] FantasyVR opened #3337 "`ti.append` only support `i32`."
**Concisely describe the proposed feature**

The user in the forum wants to use `ti.append` with `float` data type. [Forum link](https://forum.taichi.graphics/t/ti-append/1940/3)

However, Taichi doesn't support that according to [here](https://github.com/taichi-dev/taichi/blob/3b179fb0b127d5662fb4f0a29d848fb5efc880ee/taichi/codegen/codegen_llvm.cpp#L1075).

Should we support more data types?

[2021-11-01 03:17] lucywsq commented on #2684
Hi, @Xander23333  if you're working on this issue, please let us know, thanks!

[2021-11-01 03:47] lucywsq commented on #2724
Hi, @ysh329 if you're working on this issue, please let us know, thanks!

[2021-11-01 03:48] lucywsq commented on #2730
Hi, @hongrubb  if you're working on this issue, please let us know, thanks!

[2021-11-01 06:06] k-ye commented on #3337
+1. Let's support f32 as a start :-)

[2021-11-01 06:56] Xander23333 commented on #2684
@lucywsq Hello, I met some difficulties in setting up the development environment. I failed in the recursive clone taichi repo step due to network reasons. Please assign this feature to other partners first. I will follow up on other features later. Sorry for the delay in development.

[2021-11-01 08:12] qiao-bo commented on #3332
@messense, thanks for the info. These are interesting inputs.

[2021-11-01 08:26] lucywsq commented on #2696
Hi, @eatcosmos if you’re still working on this issue, please let us know, thanks!

[2021-11-01 08:41] ailzhang commented on #3332
@messense do you happen to know if the current taichi wheel support ubuntu16.04 or not? :P (we don't have a ubuntu16 machine here but can add one into CI if it's supported) :D Thanks!

[2021-11-01 08:48] lucywsq commented on #3151
@hantsy Thanks for your suggestion :)

[2021-11-01 08:52] messense commented on #3332
No it doesn't work on Ubuntu 16.04

[code]

[2021-11-01 08:55] lucywsq commented on #3151
Here are some new issues with the tag "good first issue". Welcome to take one and implement it.
We are looking forward to your contributions! : )

Issue | Link
-- | --
[refactor] Clean up keep_raw | https://github.com/taichi-dev/taichi/issues/2718
Support setting the random seed during initialization | https://github.com/taichi-dev/taichi/issues/2734
Exception raising in Field APIs | https://githu

[2021-11-01 09:24] qiao-bo commented on #3332
Thx for the info. I think Ubuntu 16.04 comes with glibc 2.23. ;)

[2021-11-01 09:49] FantasyVR commented on #3337
@k-ye Do you have some ideas about how to implement this feature?

Now, a hack solution is that I could simply change the signature of function `Dynamic_append`:
https://github.com/taichi-dev/taichi/blob/3b179fb0b127d5662fb4f0a29d848fb5efc880ee/taichi/runtime/llvm/node_dynamic.h#L61

as

[code]

[2021-11-01 10:40] #3298 closed

[2021-11-01 13:10] WenheLI commented on #3337
It seems like we need to wrap the above function signature with a template to allow it?

[2021-11-01 13:15] k-ye commented on #3337
Templatizing this SGTM! Feel free to take this over, you likely need to spend some time dealing with template functions in LLVM :-) @WenheLI

[2021-11-01 14:02] WenheLI opened #3346 "Fail to setup dev env under Apple M1"
**Describe the bug**
I was trying to set up the dev env for my M1 Mac. However, I encountered the following error while running `python setup.py develop --user`

[code]
My llvm is 10.0.0
And both C compiler and C++ compiler are 11.1.0
And the python version is 3.9.7.
Any one know how to fix it?

[2021-11-01 14:29] k-ye commented on #3346
Hmm, what's your `/usr/local/bin/llvm-as --version`? Note that it might not pick up the correct binary.

Relevant issues:

* https://github.com/taichi-dev/taichi/issues/3320
* https://github.com/taichi-dev/taichi/issues/3183

[2021-11-01 14:29] syguan96 commented on #3174
Okay, I will try to build from source. BTW, does the taichi team have a plan to fix this problem?

[2021-11-01 14:34] WenheLI commented on #3346
@k-ye - llvm-as aligns with llvm and both of them are 10.0.0.
[code]
Also the cmake prepare shows I am using the correct binaries:
[code]

Quite unsure where the problem is.

[2021-11-01 14:55] k-ye commented on #3346
Huh, could you replace these with the actual command?

https://github.com/taichi-dev/taichi/blob/dfd1e4cb131be2380bd9f8df49b661bdc6dfc490/CMakeLists.txt#L99-L100

BTW, I don't think any of you has run into problems w/ clang-11 on M1? @sjwsl @ailzhang @Leonz5288  ?

[2021-11-01 15:11] WenheLI commented on #3346
After explicitly replacing the clang-11, everything works. It seems like the CMake file does find the correct clang binary for compiling. Would also look into that if I got some time.

[2021-11-01 15:15] qiao-bo commented on #3174
Hi, thanks for your understanding. Yes, we are on our way (almost there) to containerize CI/CD. Hopefully it will be fixed in the next release. ;)

[2021-11-01 15:24] sjwsl commented on #3346
Cool! BTW, you can search for `llvm-as` and `clang` in `taichi/build/CMakeFiles/generate_llvm_runtime_x64.dir/build.make` after building with the original `CMakeLists.txt` to see which binaries are found, which may help you debug this issue.

[2021-11-01 16:47] WenheLI commented on #2684
After a brief investigation, I think we might need to know how many codes are depending on the `= operator override`. If the number is really big, this PR could be a tricky and cumbersome one.
Also, this seems like a breaking change since after this PR is landed. Previous code may not fully work.

[2021-11-02 01:16] ysh329 commented on #2724
@lucywsq OK

[2021-11-02 01:28] ysh329 commented on #2724
Currently my dev env. is okay and unit test run okay like below:

[code]

I found if I run single file like below:

[code]

It doesn't any tips about current backend such as cpu.

[2021-11-02 06:22] #3233 closed

[2021-11-02 07:07] liwchDotAI opened #3350 "AssertionError: The dimensionality of shape and offset must be the same (0 != 1)"
**Describe the bug**
can not use ti.var

**Code**
[code]

**Report**
[code]

**Platform**

Windows11, powershell, taichi=0.8.4

[2021-11-02 07:20] strongoier commented on #3350
Thanks for catching this! However, if I run this code snippet, I will see
[code]
before the error report you posted.

So please use `ti.field` instead.

By the way @k-ye shall we completely remove `ti.var` API now? It seems to have been planned in #1500.

[2021-11-02 07:25] liwchDotAI commented on #3350
Tks. It works well with ```ti.field```

In addition, I only find ```var``` but not ```field``` in document. Is it same with ```var```?

[2021-11-02 07:28] strongoier commented on #3350
Which documentation are you referring to? Our current documentation site is https://docs.taichi.graphics/.

Yes.

[2021-11-02 07:32] liwchDotAI commented on #3350
Thank you very much. It seems I am refering to an old documentation.

[2021-11-02 07:32] #3350 closed

[2021-11-02 12:11] ifteene commented on #3346
Bio

[2021-11-02 13:36] DQSSSSS opened #3356 "Out of cuda memory"
**Describe the bug**
Run program that needs 2GB memory, it shows CUDA_ERROR_OUT_OF_MEMORY.

**To Reproduce**
Run code below.

[code]

**Log/Screenshots**

[code]

[2021-11-02 13:37] DQSSSSS commented on #3356
[code]

[2021-11-02 13:43] ailzhang commented on #3346
Now that I remember when we tried this on @rexwangcc 's laptop we also had to manually set to clang++11. Maybe a reordering (or better mechanism to find clang) is indeed needed. @sjwsl would you mind if I assign this to you and followup on this? Thanks a lot!

[2021-11-02 14:00] sjwsl commented on #3346
No problem. I thought about this issue but didn't have time to dive into it. Seems now it brings troubles to quite a few developers. Probably a version check is also useful, at least for users to better know what the problem is. Will deal with it soon.

[2021-11-02 14:24] strongoier commented on #3356
It seems that you have 4GB CUDA memory in total. What about removing `device_memory_GB=7`?

[2021-11-02 14:34] DQSSSSS commented on #3356
Sorry I made a stupid mistake, I use the whole GPU memory to calculate instead of the rest memory. Thank you!

[2021-11-02 14:34] #3356 closed

[2021-11-03 02:45] gaocegege commented on #2846
I refined the exception when converting from/to numpy array in the PR https://github.com/taichi-dev/taichi/pull/3058. And there are many other asserts in the codebase. Welcome other contributions! You can have a look at the PR, as an example.

[2021-11-03 02:47] gaocegege commented on #3013
I am trying to add a colored text widget. You can take it as an example https://github.com/taichi-dev/taichi/pull/3078/files about how to add a new GGUI widget in Taichi. There are so many widgets not supported now. Welcome contributions!

[2021-11-03 03:03] ailzhang opened #3360 "revert https://github.com/taichi-dev/taichi/pull/2486"
https://github.com/taichi-dev/taichi/pull/2486

Macros are not supported on GLES and we had to hack around it in https://github.com/taichi-dev/taichi/pull/3358/files. We might prefer to revert back to the version not using macros.

I gave this a quick try using git revert but it (unsurprisingly) has conflicts. So we'll have to revert this manually.

[2021-11-03 04:27] YangYang129 opened #3362 "taichi failed to build on Windows with MSVC of win32 "error LNK2019: unresolved external symbol __imp__PyRun_SimpleFileExFlags referenced in function _main" """
Hello All,

taichi failed to build on Windows with MSVC of win32  "error LNK2019: unresolved external symbol __imp__PyRun_SimpleFileExFlags referenced in function _main". It can reproduces on version [82f0705](https://github.com/taichi-dev/taichi/commit/82f07054f15d34756866df47bf28429b2faa269f) on master branch. Could you please help look at this issue?

**Environment:**
VS 2019 + Windows Server 2

[2021-11-03 04:40] sjwsl commented on #3362
As you can see in the logs, taichi does not support 32-bit Windows now :)

[2021-11-03 09:25] #3362 closed

[2021-11-03 09:40] k-ye opened #3364 "Supports off-screen OpenGL context initialization"
This would allow us to test the OpenGL backend in a headless environment

[2021-11-03 09:42] #3364 closed

[2021-11-03 14:42] ailzhang opened #3367 "Properly support printing taichi data type string"
I'd expect this to print `ti.u16` instead of the object info
[code]
This will make composing error message string much easier.
(note this information can be retrieved by `ti.u16.to_string()` but this is not very pythonic. :P

[2021-11-03 15:42] cftcn opened #3368 "GGUI Not Available"
when running ggui example, python raised "GGUI Not Available"

![image](https://user-images.githubusercontent.com/58070700/140093619-0050c364-452d-4752-bafb-567b0073c66e.png)

[code]

[2021-11-03 15:56] sjwsl commented on #3368
GGUI is currently only supported on the x64 and CUDA backends on Windows and Linux. See https://docs.taichi.graphics/lang/articles/misc/ggui for more details. Thanks!

[2021-11-04 00:49] #3368 closed

[2021-11-04 00:57] cftcn opened #3372 "CUDA driver not found"
I'm using ubuntu 20.04.1 with RTX3090, and i'v installed the cuda driver, but the taichi reported cuda driver not found.

the comment i use:
ti example mpm128
[Taichi] version 0.8.4, llvm 10.0.0, commit 895881b5, linux, python 3.8.12

report:
![image](https://user-images.githubusercontent.com/58070700/140239581-3da430ae-95c8-4926-a8ad-d92172d4d1b2.png)

my cuda driver version:
![image](https://use

[2021-11-04 03:35] ljjsalt commented on #2846
Thanks, gocegege! I have created a pull request.

[2021-11-04 04:00] qiao-bo opened #3375 "Trailing semicolons in macros"
We have macros such as `TI_NOT_IMPLEMENTED` is defined with a trailing semicolon. While occurrences in the code have a mix of with `;` and without. The same happens to a number of macros in taichi/common/logging.h. We should have a consistent style. Maybe clang-tidy can help here.

[2021-11-04 04:02] sjwsl commented on #3375
Related #3335

[2021-11-04 05:06] qiao-bo commented on #3372
Hi, Can you dump the output of ti diagnose? thx

[2021-11-04 05:20] #3367 closed

[2021-11-04 05:30] bobcao3 commented on #3372
Hi, can you try the 470 driver and cuda 11.4.2?

On Wed, Nov 3, 2021, 10:07 PM Bo Qiao ***@***.***> wrote:

[2021-11-04 06:47] cftcn commented on #3372
[W 11/04/21 14:45:59.696 885195] [cuda_driver.cpp:CUDADriver@38] CUDA driver not found.
[E 11/04/21 14:45:59.737 885195] [embedded_device.cpp:pick_physical_device@330] failed to find GPUs with Vulkan support

[38;2;255;000;255m***********************************
[0m[38;2;255;000;255m* Taichi Compiler Stack Traceback *
[0m[38;2;255;000;255m***********************************
[0m[38;2;255;000

[2021-11-04 06:53] ailzhang opened #3378 "Refactor atan2/pow codegen in codegen_llvm.cpp"
Move the cuda codegen part of atan2 and pow  to codegen_cuda.cpp. https://github.com/taichi-dev/taichi/blob/master/taichi/codegen/codegen_llvm.cpp#L515

Discussion in https://github.com/taichi-dev/taichi/pull/3373/files#r742557651

This task requires some knowledge of C++ but should be a simple one.

[2021-11-04 06:59] qiao-bo commented on #3372
seems like the cuda driver is not installed properly. can you find nvcc as well?

[2021-11-04 07:59] #3287 closed

[2021-11-04 08:26] cftcn commented on #3372
Yes, input nvcc --version and the output is :
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Tue_Sep_15_19:10:02_PDT_2020
Cuda compilation tools, release 11.1, V11.1.74
Build cuda_11.1.TC455_06.29069683_0

[2021-11-04 09:30] qiao-bo commented on #3372
this says cuda release 11.1, while your nvidia-smi picture above says 11.2. This is not consistent.

[2021-11-04 10:16] ailzhang commented on #3360
Closing via #3369 and #3376, thanks @k-ye !

[2021-11-04 10:16] #3360 closed

[2021-11-04 11:10] ailzhang opened #3380 "Test opengl backend for windows CI"
this is blocked on a self-hosted windows GPU machine in CI.

[2021-11-04 12:32] sjwsl opened #3382 "[refactor] Refactor codegen_llvm.cpp"
Currently, https://github.com/taichi-dev/taichi/blob/master/taichi/codegen/codegen_llvm.cpp is full of if/else, which is ugly and hard to maintain. It's worth spending some time refactoring.

[2021-11-04 14:03] sjwsl opened #3385 "[misc] New issue templates"
Should we have more issue templates? I think many of our issues are neither a 'bug report' nor a 'feature request'. At least I can think of:
1. Enhancement: An enhancement makes some existing functionalities better, e.g. in performance, useability. While a feature is a new functionality i.e. a user hopes to do something new with taichi.
2. Question: Ask anything about taichi.
3. Document: Any issu

[2021-11-04 14:11] k-ye commented on #3385
Sounds great! I believe 2 and 3 can be a very good start here :-)

[2021-11-05 05:04] ailzhang opened #3391 "Create a bash script for windows dev install"
Steps to build taichi from source is a bit complicated, we should consider providing a script to do the work
- download llvm , add to path
- download clang, add to path
- download vulkan (optional)
- clone taichi and build
It'll also simplify our windows ci worflow

[2021-11-05 07:38] frostming commented on #3391
I would like to help, do we have such script for Unix systems?

And `.ps1` might be better for Windows。

[2021-11-05 07:43] sjwsl opened #3393 "Replace `T*_NAMESPACE_BEGIN` (`END`) macros with `namespace taichi { ... }`."

[2021-11-05 07:43] #3393 closed

[2021-11-05 10:55] ailzhang commented on #3391
@frostming go for it! We don't have such script for Linux as well so it'll be nice to have them too.  But we do have a unix_build.sh that we use in CI(missing some download pieces which is in Dockerfile). IMHO the windows one is higher pri since it'll be useful to CI as well. Thanks a lot!

[2021-11-05 13:46] YuCrazing opened #3401 "A serialized taichi kernel does not stop execution when met first `return` statement."
**To Reproduce**

taichi version: `0.8.4`

[code]

The expected output should be:
[code]
but the actual output is:
[code]

This problem still remains even if I modify `ti.ndarray` to `ti.field`.

[2021-11-05 14:20] #3378 closed

[2021-11-05 16:18] sjwsl opened #3402 "[Doc] Document supported CMake arguments"
It's better to have a place listing all the supported CMake arguments for building taichi and their usages.

[2021-11-05 16:41] #3385 closed

[2021-11-05 23:09] SuchtyTV commented on #3401
Seems right to me... arr.shape returns 5...
Am I wrong ?

[2021-11-06 00:43] #3272 closed

[2021-11-06 18:42] SuchtyTV opened #3411 "Do the test time out from time to time?"
Hey,

I've made a pull request who passes all tests except the Macos Testing (Intel).
However, I have checked the "cancelled" test. It has (seemingly) nothing to do with my commit and furthermore there is no reason this test should have failed on Macos but passed on all the other platforms.
Therefore I am wondering if the Test maybe just took so long and timed out?

Thanks!
Niclas

[2021-11-06 20:11] SuchtyTV commented on #3147
I would give it a try 🙂

[2021-11-06 22:02] SuchtyTV commented on #3411
I just pushed again. Works now...

[2021-11-07 06:51] k-ye commented on #3411
Sorry, sometimes the CI tests can get flaky 😂

[2021-11-07 06:51] #3411 closed

[2021-11-07 13:23] NiclasSchwalbe opened #3413 "Taichi LLVM installation"
I do not seem to get LLVM to work with CMake. I already massacred google because of it.

I downloaded llvm via git and put it into the Programm(x86) folder
In the llvm-repo I made a build folder and wrote

cmake ..\llvm\

Then I went into VS2019 and "Build all targets"
Which was a huge task and I froze once...
In Taichi we have this requirement in the CMake:

find_package(LLVM REQUIRED CONFIG)

Th

[2021-11-07 15:59] Linyou opened #3416 "Vulkan backend on m1 Mac ( device does not support wide lines)"
The problem was occurred when running ggui_example/mass_spring_game_ggui.py

[code]

[code]
When I remove the 158 line, the code run normally, but can not display any line

https://github.com/taichi-dev/taichi/blob/0e4ca37c2581f6e449c193612e77657c4dd87865/examples/ggui_examples/mass_spring_game_ggui.py#L158

Currently, it seem like the Vulkan backend on Mac, dose not support wide lines,  is there

[2021-11-07 17:52] sjwsl commented on #3413
Hi! Could you try adding `-DLLVM_DIR=C:/Program Files(x86)/LLVM/build/installed/lib/cmake/llvm` when running cmake for taichi?

[2021-11-07 18:04] sjwsl commented on #3413
Or you can download our [prebuilt LLVM](https://github.com/taichi-dev/taichi_assets/releases/download/llvm10/taichi-llvm-10.0.0-msvc2019.zip). Then use `LLVM_DIR={prebuilt_llvm_directory}/lib/cmake/llvm python3 setup.py develop --user` to build taichi.

[2021-11-08 05:37] strongoier opened #3422 "A cleaner error report mechanism"
#3345 makes error messages for type errors much more user-friendly. However, the mechanism of implementing this is a bit ad-hoc: https://github.com/taichi-dev/taichi/blob/0e4ca37c2581f6e449c193612e77657c4dd87865/python/taichi/lang/expr.py#L41-L54

Here, we extracts parts of the backtrace stack, manually prints them and `sys.exit(1)`. The main concern is that this is no longer a Python `Exception`,

[2021-11-08 05:49] ailzhang opened #3423 "Move python/build.py to misc"
`python/build.py` is the entry point where we build python wheels, it should live in misc instead of `python` folder.
Fixing this might require making some changes to CI as well, e.g. https://github.com/taichi-dev/taichi/blob/master/.github/workflows/presubmit.yml#L425

[2021-11-08 07:36] ailzhang commented on #3416
cc: @AmesingFlank ?

[2021-11-08 08:20] lin-hitonami opened #3425 "Skip a test with walrus operator in pytest when python version is below 3.8"
**Concisely describe the proposed feature**
When I was writing tests of walrus operator, I found that pytest fails to collect the files containing the walrus operator when python version is below 3.8. Adding `@pytest.mark.skipif(sys.version_info < (3, 8))` or defining the function inside `if sys.version_info >= (3, 8)` does not help. It seems that pytest compiles the whole file when collecting tes

[2021-11-08 13:25] frostming commented on #3423
In the latest PR #3410 I replaced the usage of `build.py` in favor of calling `setup.py` directly. So IMO we can get rid of that file entirely.

It has two responsibilities: build and upload, for build we can move it into dedicated scripts(like `win_build.ps1` and upload we can make use of GitHub action.

[2021-11-08 13:50] ailzhang commented on #3423
@frostming I'd be happy to get rid of the file! ;) Yea then the tasks become:
- move linux & mac jobs to setup.py instead of build.py
- create a github action for upload
Are you interested in helping on these btw? :D

[2021-11-08 13:52] frostming commented on #3423
Yes, it is a continuation of #3410

[2021-11-08 22:31] WenheLI commented on #2684
It seems we still need to implement `=` for Expr since its original `=` has been deleted as 'Expr' has a user-declared move constructor.
In this case, what semantic we should give for `Expr's =`?

[2021-11-09 00:46] AmesingFlank opened #3431 "Use triangles to simulate lines in GGUI"
Currently, during `canvas.lines()`, GGUI directly asks the GPU to draw lines. However, drawing lines with arbitrary width is not a well-supported operation. It would be better to generate triangles that simulate these lines instead.

[2021-11-10 00:36] frostming commented on #3422
If we are to raise an exception, it can only be done at high level apis, since an error thrown by a lower level function can't discard the stacks above it.

May be `_kernel_impl` is a proper place.

[2021-11-10 01:57] k-ye commented on #3332
Some updates here: the current Vulkan lib we're using has introduced a dependency on GLIBC_2.29. We will see if downgrading Vulkan could solve this problem.

[2021-11-10 02:13] messense commented on #3332
It may not  be necessary to downgrade Vulkan, the key is to compile in a manylinux compatible build environment, for example, https://github.com/pypa/manylinux docker images.

[2021-11-10 02:20] k-ye commented on #3332
We've tried that approach, and found many toolchain required for compiling Taichi missing (e.g. too low gcc version, etc). It's  likely that Vulkan is the blocker here.

[2021-11-10 02:24] messense commented on #3332
Right, the gcc version thing is annoying, but it's actually high in manylinux2014 (GCC 10) than in manylinux_2_24 (GCC 6.3) though, see https://github.com/pypa/manylinux/issues/1012

[code]

[2021-11-10 02:40] frostming commented on #3391
Sorry i didn't link it with the PR but this issue seems ok to be closed.

[2021-11-10 03:43] k-ye commented on #2684
Hey, sorry about the delayed reply. What we'd like here is really just to replace `operator=` with a named function. The fact that `a = b` has meanings other than copy/move is quite confusing.

[2021-11-10 03:43] k-ye commented on #2684
Hey, sorry about the delayed reply. What we'd like here is really just to replace `operator=` with a named function. The fact that `a = b` has meanings other than copy/move is quite confusing.

[2021-11-10 05:23] #3391 closed

[2021-11-10 06:11] qiao-bo commented on #3332
I am a bit confused here. The [manylinux2014](https://www.python.org/dev/peps/pep-0599/) policy states the max version for GCC is 4.8. But now we have a docker image that is manylinux2014 compliant and with gcc 10 ?(thinking face...)

[2021-11-10 06:14] messense commented on #3332
It's something **magic** with Red Hat devtoolset-10 that I don't understand.

[2021-11-10 06:17] messense commented on #3332
See also https://github.com/pypa/manylinux/issues/1141

[2021-11-10 08:37] ailzhang opened #3446 "Support /rebase in PR comment"
Similar to how we implemented `/format`, it'd be convenient to have a `/rebase` command which automatically rebase PR on top of master. :D

[2021-11-10 10:07] Vissidarte-Herman opened #3449 "Flowchart in https://docs.taichi.graphics/lang/articles/contribution/compilation can be improved"
**Issue with the flowchart: **

- Holds too much information.
- Does not describe explicitly in the way of how a Taichi kernel works or what the workflow is.

**Suggested solution:**

- Split the flowchart into multiple images or
- Use a motion graph to describe the flow.

**Reference:**
https://www.twilio.com/docs/video/tutorials/basic-concepts#how-twilio-video-applications-work

[2021-11-10 13:46] ailzhang opened #3451 "CI job should fail when upload fails"
Example: this job failed to upload windows wheel to nightly but the job showed as succeed. https://github.com/taichi-dev/taichi/runs/4146199888?check_suite_focus=true

[2021-11-10 13:51] ailzhang opened #3452 "Remove `ti test` command in the release taichi package"
This should be developer only and it has many runtime dependencies that users need to install if they want to run it. It creates many confusion IMHO.

Potential steps:
1. move `ti test` to a script in `misc/`, update CI
2. remove tests/ folder from released python package

[2021-11-10 14:04] ailzhang opened #3453 "buildbot2 fail to run opengl tests"
seems to be related to off-screen settings.

[2021-11-10 16:40] GrapixLeGrand opened #3455 "Taichi crash on GGUI example with arch=CUDA"
**Describe the bug**
When running examples with GGUI on CUDA arch the program crash with the bellow error log.

**To Reproduce**
Run the example stable_fluid_ggui.py in the main repo examples.

GPU: GTX 1050 4GB mobile.
driver version: 496.49

**Log/Screenshots**
[code]

**Additional comments**
I installed taichi with pip and here is my conda list:

```taichi                    0.8.4

[2021-11-11 00:08] Hilbert-Yaa commented on #1997
Hi Yuanming, I thought this refactor has already been done by now?

[2021-11-11 01:26] k-ye commented on #3455
Hi, could you do a `ti diagnose`, thanks!

[2021-11-11 01:34] bobcao3 commented on #3455
Actually this seems like an known issue of 0.8.4, fixed here #3330. The fix should be in 0.8.5

[2021-11-11 02:30] yuanming-hu commented on #1997
That's true. I should have closed this issue :-) Thanks for the reminder.

If you are interested in contributing, please find the list of issues here: https://github.com/taichi-dev/taichi/issues/3151#issuecomment-956049040

[2021-11-11 02:30] #1997 closed

[2021-11-11 02:56] lucywsq commented on #3151
Currently, if you run `pylint python/taichi/`there're a lot of warnings/errors.
We'd like to get rid of these and run pylint in CI. You're welcome to submit one PR per pylint checker/rule.
Most of these rules are easy to fix, so please feel free to give them a try!
If you are interested in fixing one of these rules, please leave a message here to let us know! Thanks!

Besides，find out all errors f

[2021-11-11 05:14] ailzhang commented on #3453
Thanks to @qiao-bo and @strongoier! - we didn't reboot the machine after driver reinstallation, rebooting fixes it.

[2021-11-11 05:14] #3453 closed

[2021-11-11 09:45] FantasyVR opened #3463 "SNodeOpStmt is not allowed here"
**Describe the bug**
Related forum post: [here](https://forum.taichi.graphics/t/cpu-gpu/2003/8)

**To Reproduce**
[code]

**Log/Screenshots**
[code]

[2021-11-11 11:36] strongoier opened #3467 "Finish the implementation of IdentifyValuesUsedInOtherOffloads"
The implementation of `IdentifyValuesUsedInOtherOffloads` is not finished yet: https://github.com/taichi-dev/taichi/blob/153f338df549174a4c000d85ff5936e7a36923e1/taichi/transforms/offload.cpp#L269-L272

More specifically, most statements currently go through: https://github.com/taichi-dev/taichi/blob/153f338df549174a4c000d85ff5936e7a36923e1/taichi/transforms/offload.cpp#L345-L351

However, the ope

[2021-11-11 13:47] ailzhang opened #3469 "Provide an option to disable arch fallback"
This feature will be particularly useful in CI.
With the current smart fallbacks, we sometimes miss testing a backend entirely when fallback happens, which is pretty inconvenient.

A simple implementation I have in mind is just `ti.init(enable_fallback=False)`, most of the change can happen in python side, so this shouldn't be too hard to implement IMHO.

[2021-11-11 15:06] GrapixLeGrand commented on #3455
Thanks, I'll try with the 0.8.5 version when I'll have time. Thanks for the reply.

[2021-11-12 00:56] #3463 closed

[2021-11-12 01:29] ailzhang commented on #3469
note currently arch fallback happens in C++, but we can probably lift it up to python mostly https://github.com/taichi-dev/taichi/blob/master/taichi/program/program.cpp#L72-L110

[2021-11-12 01:38] k-ye commented on #3455
FYI v0.8.5 is released :-)

[2021-11-12 01:44] qiao-bo commented on #3174
Hi, we have containerized our CI/CD and the GLIBC 2.29 problem should be fixed. Release 0.8.5 should work on both Ubuntu 18.04 and 20.04. Please let us know if it solved your problem. Thanks!

[2021-11-12 01:56] #3346 closed

[2021-11-12 01:58] ailzhang commented on #3380
Assigning to @chuandongyan who's looking into adding buildbot5 to CI. (Thanks!)

[2021-11-12 02:37] #3451 closed

[2021-11-12 02:50] jyz0309 commented on #3151
I want to pick up the W0401, Can you assign it to me?@lucywsq

[2021-11-12 03:01] LJHG commented on #3151
I want to pick up the R1703, Can you assign it to me?@lucywsq

[2021-11-12 06:12] eatcosmos commented on #2696
I'm sorry long time no reply. i quit this，maybe need more background knowledge，other student can help

[2021-11-12 07:05] Hilbert-Yaa commented on #2696
Hi, if @eatcosmos decides to quit, I am interested to set my hands to this issue, if it's eligible could you please assign that to me? : ) I need some directions.
I read through the Python code for ti.Matrix in Taichi(./python/taichi/lang/Matrix.py), and as far as I know(pls correct me if I got something wrong) it seems that it's pure Python implementation? (e.g. operations such as ti.Matrix.__mat

[2021-11-12 07:06] #3422 closed

[2021-11-12 08:15] Dustyposa commented on #3151
I want to pick up the W0201, Can you assign it to me?@lucywsq

[2021-11-12 08:18] tczhangzhi commented on #3151
I want to pick up the W0611, Can you assign it to me?@lucywsq

[2021-11-12 08:23] Dustyposa commented on #3151
I want to pick up the W0404, Can you assign it to me?@lucywsq

[2021-11-12 08:31] syguan96 commented on #3174
Hi @qiao-bo, the problem has been solved.  Thank you all for your contribution!

[2021-11-12 08:44] qiao-bo commented on #3174
@syguan96, you'er welcome. Just let us know if further problem arises.

[2021-11-12 08:45] #3174 closed

[2021-11-12 09:47] kemingy commented on #3151
I want to pick up the C0200, Can you assign it to me? @lucywsq

[2021-11-12 10:01] lucywsq commented on #3151
@Dustyposa And you may skip this rule W0102(it seems complex). Thanks!

[2021-11-12 10:04] zstone12 commented on #3151
I want to pick up the C0209, Can you assign it to me? @lucywsq

[2021-11-12 10:04] Dustyposa commented on #3151
OK. It looks need a detailed description for it. Can solve the question.

[2021-11-12 10:05] nasnoisaac commented on #3151
I want to pick up the W0108, Can you assign it to me? @lucywsq

[2021-11-12 10:12] imdouyu commented on #3151
I want to pick up the R0402, Can you assign it to me? @lucywsq

[2021-11-12 12:09] junaire opened #3481 "example of TAI_CMAKE_ARGS seems to be wrong"
I'm trying to customize `TAI_CMAKE_ARGS` when building taichi, and I found a possible mistake in [https://docs.taichi.graphics/zh-Hans/lang/articles/contribution/dev_install#installing-dependencies](https://docs.taichi.graphics/zh-Hans/lang/articles/contribution/dev_install#installing-dependencies).

[code]
It failed with errors:
[code]

So I tried:
[code]
**I removed the `:`**

Then here we go.

[2021-11-12 13:11] Zheaoli opened #3484 "Build failed on Macbook Pro with M1X Max CPU"
Could not build the taichi code at the master branch. Here's the error message

[code]

The compiler is clang-13 and os version is MacOS 12.0.1

[2021-11-12 13:12] k-ye commented on #2097
Supported now :-)

[2021-11-12 13:12] #2097 closed

[2021-11-12 13:15] tczhangzhi commented on #3201
I have the same problem but I suppose `ti.GUI`'s behavior should be somehow consistent with `ti.ui.Window` in `GGUI`. But there already exists API called `window.show()` to rander results.

I wonder are we supposed to have a `window.savefig(file)` here:
https://github.com/taichi-dev/taichi/blob/master/taichi/python/export_ggui.cpp#L253-L255
to obtain a `VkBuffer` in RGBA format and save the image

[2021-11-12 13:23] AmesingFlank commented on #3201
This is already implemented. The API is `window.write_image()`. You can find more info here: https://docs.taichi.graphics/lang/articles/misc/ggui

[2021-11-12 13:24] AmesingFlank commented on #3201
Closed by related PRs: #3333  #3348  #3357 #3359

[2021-11-12 13:27] #3201 closed

[2021-11-12 13:39] ailzhang commented on #3484
@Zheaoli we've updated dev install documentation about clang-12 and above not supported yet. clang11 works ;)
https://docs.taichi.graphics/lang/articles/contribution/dev_install
[code]

[2021-11-12 13:51] sjwsl commented on #3481
Great! Would you mind submitting a PR for this?

[2021-11-12 13:52] junaire commented on #3481
My pleasure!

[2021-11-12 14:07] tczhangzhi commented on #3201
Good job, dude! You save my day, m just trying to save the visualization results!

[2021-11-12 14:18] frostming commented on #3484
I've built successfully on M1 Mac (clang 13)

1. Download prebuilt LLVM
2. brew install `llvm@11` (to `/opt/` prefix for arm build)
3. Set the PATH env var as [this comment](https://github.com/taichi-dev/taichi/issues/3346#issuecomment-964290795)

[2021-11-12 15:00] ailzhang commented on #3484
Closing via https://github.com/taichi-dev/taichi/issues/3484#issuecomment-967152074

[2021-11-12 15:00] #3484 closed

[2021-11-12 15:02] junaire commented on #3481
close via #3485

[2021-11-12 15:02] #3481 closed

[2021-11-13 02:23] MerleLiuKun commented on #3151
I want to pick up the W0612, Can you assign it to me? @lucywsq :)

[2021-11-13 03:13] IceCodeNew commented on #3151
I would like to take care of `C0209`, can you assign it to me?
@lucywsq

[2021-11-13 05:02] k-ye commented on #3151
@imdouyu @MerleLiuKun @IceCodeNew  thank you all for expressing the interests! Assigned :-)

[2021-11-13 06:45] SFAfreshman commented on #3151
i want try to pickup` W0101`,can you assign it to me? @lucywsq

[2021-11-13 08:05] darkSheep404 commented on #3151
I want to pick up the W0235, Can you assign it to me?@lucywsq

[2021-11-13 10:53] skyzh commented on #3151
I'll pick R0201.

[2021-11-13 13:42] sjwsl commented on #3151
Hi contributors, thanks for your enthusiasm and great works! After submitting a PR, you may see

<img width="933" alt="Screenshot 2021-11-13 at 21 04 44" src="https://user-images.githubusercontent.com/44310559/141644834-8fe69e10-0518-4520-a307-0e69d1abc522.png">

That's because some new changes in `master` branch have conflicts with yours (most likely in `.github/workflows/presubmit.yml`). Please

[2021-11-13 15:34] licktion commented on #3151
R1710 plz ^_^

[2021-11-13 16:03] bzd111 commented on #3151
I'll pick W0235.

[2021-11-13 16:49] Lyken17 commented on #3151
I'll pick W0101 and here is PR to add the lint.

[2021-11-13 16:51] PragmaTwice commented on #3151
W0108 plz 🍰

[2021-11-13 17:57] MarkHershey commented on #3151
I'll take W0622~

[2021-11-14 01:56] DeepDuke commented on #3151
I want to pick up the E1101, Can you assign it to me? @lucywsq

[2021-11-14 08:59] sjwsl commented on #3151
Hi contributors! @MarkHershey @DeepDuke @bzd111 @licktion @MerleLiuKun @Lyken17 @ZonePG

We are sorry that you had to resolve conflicts with `master` again and again. The good news is that after #3503 we have put each rule on a separate line so that your PRs should have no conflicts with others. Now please kindly make the final step before we can merge it

1. Overwrite your previous changes in `pr

[2021-11-14 11:52] Lyken17 commented on #3151
@sjwsl Sure, rule W0101  fixed. Please take a time and have a check https://github.com/taichi-dev/taichi/pull/3497

[2021-11-14 13:33] DeepDuke commented on #3151
@sjwsl Conflicts resolved. Please take a time and have a check #3500

[2021-11-14 16:35] archibate commented on #2696
Exactly, I saw recently `ti.Struct` has been added`, why not add `ti.Array` for dynamic-indexable array too? Their cpp equivalent are `std::tuple` and `std::array`, where `std::array` allows dynamic indexing using `a[i]` and can be large but all elements has to be same type, and `std::tuple` only supports compile-time index like `std::get<i>(a)` but allows each element to be different type.

[2021-11-14 19:06] ZonePG commented on #3151
@sjwsl Conflicts resolved. Please take a time and have a check #3498

[2021-11-15 01:24] AmesingFlank opened #3508 "Make the entire code-base less backend-dependent"
The taichi code-base isn't backend dependent enough, which hinders readability. This is manifested in two ways:

* There are a bunch of #ifdefs
* There're still a considerable amount of llvm specific code scattered around (see #3507 )

To relieve this problem, we should

* Move all backend-specific code into a folder in `backends`, and omit these folders accordingly in cmake.
* Keep working on uni

[2021-11-15 02:45] ruiwng opened #3512 "ti.Vector method normalized crash"
**Describe the bug**
when I use the ti.Vector inner method normalized to normalize a ti.Vector([10.0, 10.0, -0.01]), taichi will crash.
[code]
however if I assign the vector ti.Vector([10.0, 10.0, -0.01]) to a local variable, and then do the normalization to this local variable, It will be OK.
[code]
 Furthermore, if I use another ti.Vector, such as ti.Vector([10.0, 10.0, 10.0]), It will be fine,

[2021-11-15 03:39] ailzhang opened #3514 "Automatically approve first time contributor's workflow"
Looks like this will help: https://github.com/mheap/automatic-approve-action

[2021-11-15 03:50] yihong0618 commented on #3514
Seems not a good idea, actions may cause some security issue.

like:
https://medium.com/cider-sec/bypassing-required-reviews-using-github-actions-6e1b29135cc7
https://nova.moe/steal-credentials-from-ci-agents/

[2021-11-15 04:41] SoTosorrow opened #3515 "[Bug maybe][from_numpy] from_numpy() seemd take uint8 to int8"
**Describe the bug**
image input to from_numpy() get a wrong result
image put to a np.ones then input to from_numpy() get a right result
the difference seemd because from_numpy() take uint8 to int8

[code]

[2021-11-15 04:51] SoTosorrow commented on #3515
When i alter the "from_numpy(image)" to "from_numpy(image.astype(np.float32)"  (prompt by @archibate)
then get right result
from_numpy() seemd take uint8 to int8
is it a bug or feature?

[2021-11-15 05:03] Hilbert-Yaa commented on #2696
Thanks, I'll start working on it right this weekend. 😆

[2021-11-15 05:11] #3301 closed

[2021-11-15 07:54] ailzhang commented on #3514
@yihong0618 hmmm yea that makes sense, sure let's put it aside then. (we were a bit overwhelmed by these "approve and run"s during the pylint activity :P but yea I do agree the security concern is valid.

[2021-11-15 07:54] #3514 closed

[2021-11-15 07:59] ailzhang opened #3519 "linter check script to do yapf & clang-format &clang-tidy & pylint"
I usually do `python misc/code_format.py`before sending a pull request to make sure it passes linter check.
Now that we've added pylint and clang-tidy, I'd hope there's still one command to check all of these so that I can fix before opening a PR.
(also since /format doesn't do clang-tidy and pylint, having a simple way to run them locally is kinda necessary).
We can either expand code_format.py o

[2021-11-15 08:18] strongoier commented on #2696
Hi @Hilbert-Yaa. Welcome to the Taichi community! In fact, `ti.Vector` is on its way to become a dynamic-indexable array, and we already have `TensorType` in Taichi core now. Also, putting all `Matrix`-related implementations into Taichi core is on our current roadmap. We're glad that you would like to help. Stay in touch and we can discuss more implementation details when you're available.

[2021-11-16 10:44] ailzhang opened #3528 "Reduce end to end time for presubmit jobs"
As discussed offline with @lin-hitonami , here are a few planned steps to reduce end to end CI time, target is to get CI signal in 30mins.

1. Get rid of "required CPU" job, directly spawn python3.6 & python3.9 CPU jobs
   - Should reduce CPU e2e time by half: 1hr -> 30mins.
2. Setup sccache for linux jobs:
   - build time on CPU: 15mins -> 5mins (expected)
3. Reduce windows build time: maybe also

[2021-11-16 12:42] #3038 closed

[2021-11-16 12:46] ailzhang opened #3532 "jit_evaluator kernel doesn't need to go through transform passes."
I don't think this is a perf bottleneck but just felt it might not be necessary. (We probably can just directly launch those small kernels and get result back. :D

[2021-11-16 15:20] yolo2themoon commented on #2725
#3319  has been merged into the master. Many thanks to @Luke-Skycrawler . cc @lucywsq

[2021-11-16 15:20] #2725 closed

[2021-11-16 22:43] bsavery commented on #2733
Bumping this issue and giving an alternative.  Could we add `@ti.func` functions to struct types?  Something like this:

`
import taichi as ti

ti.init(arch=ti.gpu)
choices = [0, 1]

@ti.func
def add(self):
    return self.x + self.y

my_type = ti.types.struct(x=ti.i32, y=ti.i32)
my_type.add = add
my_list = my_type.field(shape=1)
my_list[0] = my_type(x=1, y=2)

@ti.kernel
def test() -> ti.i32:

[2021-11-16 22:48] bsavery commented on #2733
Your response might be "well why not use `@ti.data_oriented` classes?  Well, getting back to the root of this problem, _I can't use a list of objects in Taichi scope_.

However I can make a field of a struct type which is quite handy.  It just would be nice do run functions on the struct type without doing something like

[code]

[2021-11-17 03:16] chuandongyan opened #3533 "Get an error on windows when building from source."
**Describe the bug**
Get an error on windows when building from source.

**To Reproduce**
Trying to build Taichi on tag `v0.8.5` from source on a Windows VM with:

[code]

**Log/Screenshots**

[code]

[2021-11-17 05:14] #3469 closed

[2021-11-17 05:37] ailzhang commented on #3533
@chuandongyan I've seen this, it's caused by your system language being Chinese lol.
Setting languages to English (in control panel) fixed it for me.

[2021-11-17 18:38] bsavery opened #3543 "How to handle type polymorphism in structs or data orientated classes"
Zooming out from my issue on #2733 I'd like a better way to handle function polymorphism on custom types.  For example, let's say I have a type A, and type B.  Both with different `compute()` methods.  There is no clean way to execute the correct compute method without injecting all the code or a big ugly if/else statement.  But I'm looking for suggestions.  Maybe this comes down to having functio

[2021-11-17 19:01] bsavery commented on #2733
Basically a similar problem to this:  https://stackoverflow.com/questions/27030046/glsl-passing-functions

[2021-11-18 02:57] lucywsq commented on #3151
For more discussion, please join this[ slack channel ](https://join.slack.com/share/enQtMjc0MjY3MzMzNzY1Mi1kNTllMWY5Yjk4ZDM4YmU5MjQ2MzM5MmIzZDUzZmI2MGM4MGVmMjc2ZTU5Y2RjMmVhMDhjZTkxMzY1MDJmODk0), then we would respond to your problems on time. Thanks for all the great work!!

[2021-11-18 03:11] whorfin opened #3544 "Nested Operations on "large" fields fails on Vulkan and OpenGL, works on Cuda"
**Describe the bug**
I have a set of kernels which perform nested operations over fields.  When the field operations involve computed field access, in my case a periodic access , and the inner loop is "too big", Vulkan crashes with a "failed to submit command buffer".  OpenGL just exits with no warnings.  Cuda and CPU are fine.

Here is a minimal repro case; "compute()" is what fails, with symptom

[2021-11-18 03:12] skyzh commented on #3151
Hi @lucywsq , the Slack link you sent is a channel link and is not supported by community edition of Slack.

You may invite us directly to Taichi's workspace.

[2021-11-18 03:33] k-ye commented on #3543
Thanks! This is still blocked on the real function support: https://github.com/taichi-dev/taichi/issues/602.

As for `@ti.data_oriented`, this is actually meant to be used on the host side. It is designed to modularize the code, by grouping kernels and fields within a class. So binding functions to structs sounds like a more reasonable approach.

[2021-11-18 03:50] skyzh commented on #3151
So to join the channel, we will need to first create our own workspace, and then join the channel as another workspace's member. This doesn't sound like a common practice for open-source commnities.

[2021-11-18 03:52] skyzh commented on #3151
... and we only have 90-days trial for joining.

<img width="595" alt="image" src="https://user-images.githubusercontent.com/4198311/142348583-c7c179df-b0df-44d0-b2db-d84f2999b0ca.png">

[2021-11-18 06:33] lucywsq commented on #3151
@skyzh sorry for that. We'll find better ways for communicating.

[2021-11-18 06:40] #2718 closed

[2021-11-18 08:56] sjwsl opened #3548 "[Lang] Subnormal floating point numbers are flushed to zero by pybind"
Subnormal numbers (approximately `1e-45` to `1e-38`) are flushed to zero by pybind now, which causes some confusing behaviors. For example

[code]

The output (same on the CUDA backend) is

[code]

The different results of 1 and 3 are fine because they use 64-bit and 32-bit multiplication respectively. The problem is that `1e-40` (a subnormal number) on the Python side cannot be passed to the C++

[2021-11-18 14:09] tisonkun opened #3550 "How to build taichi from source"
Neither CONTRIBUTING.md nor [docs](https://docs.taichi.graphics/lang/articles/contribution/contributor_guide) gives instructions to get started with taichi by firstly building taichi from source.

[2021-11-18 14:12] tisonkun commented on #3550
Found https://docs.taichi.graphics/lang/articles/contribution/dev_install#setting-up-taichi-for-development ...

Let me give it a try.

[2021-11-18 14:20] skyzh commented on #3550
In fact, I feel the development guide confusing at first. I spent about 2 hours installing the correct version of clang.

The document didn't mention the difference of LLVM and clang. At first I thought I only need to install Taichi's custom version of LLVM. Lately I found that the prebuilt LLVM doesn't contain clang++. Then I installed llvm@11 from brew, and the CMake complains about unsupported

[2021-11-18 16:01] qiao-bo commented on #3332
Just want to update here that we managed to build Taichi for CPU (#3542), using the image `quay.io/pypa/manylinux2014_x86_64` based on CentOS 7. The result from auditwheel-symbols indicates the wheel is fully manylinux2014 compliant. Thanks a lot @messense for the useful information discussed here. We will have to see in the future what we can do for the other backends, in particular Vulkan is a b

[2021-11-18 16:08] k-ye commented on #3512
Thanks for catching this! Interesting... Need to figure out where `-nan` comes from

[2021-11-18 16:13] DeepDuke commented on #3151
<img width="746" alt="Screen Shot 2021-11-19 at 12 10 22 AM" src="https://user-images.githubusercontent.com/15854511/142452992-a6dd6774-c203-4813-b3ba-93162c0223f9.png">
cannot join now ...

[2021-11-18 16:23] qiao-bo opened #3552 "Vulkan test failures after pinning GLIBC versions to 2.2.5"
Taichi has a few math symbols `exp, log, pow, log2` that will introduce dependencies on high GLIBC versions (such as 2.29), when building on systems such as Ubuntu 20.04. We found a way to pin these symbols back to an older version (2.2.5 GLIBC), which has been documented at #3426. Nevertheless, the method will introduce many Vulkan test failures such as:

[code]

[2021-11-18 16:25] bsavery commented on #3543
Great.  I'll follow that issue #602 and close this, rename the other issue to request for binding functions to structs.

[2021-11-18 16:25] #3543 closed

[2021-11-18 16:25] #2733 closed

[2021-11-18 16:29] bsavery opened #3553 "Ability to bind functions to structs"
**Concisely describe the proposed feature**

Add ability to bind functions to structs.  So I can call

`mystruct_obj.func()`

**Describe the solution you'd like (if any)**

More complete example

Could we add @ti.func functions to struct types? Something like this:

import taichi as ti

[code]

[2021-11-19 00:41] #3227 closed

[2021-11-19 04:18] victoriacity opened #3557 "Cannot implicit cast from ti.f64 from ti.f16"
**Describe the bug**
The implicit type conversion from `ti.f64` to `ti.f16` is not available on the CPU backend.

**Platform**
Ubuntu 20.04, Python 3.8

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2021-11-19 05:00] #3548 closed

[2021-11-19 07:23] sjwsl commented on #3151
Hi all! Please join our Slack workspace for discussion via [this invitation link](https://join.slack.com/t/taichicommunity/shared_invite/zt-yz96moub-18KdjyCfsR8i6q3SirghfQ). We apologize for the inconvenience caused.
Thanks!

[2021-11-19 07:26] lucywsq commented on #3151
Before that, please prepare one Gmail account or an Apple account.
If that link has broken, please send an email to siqiwu@taichi.graphics, then we will send another invitation.

[2021-11-19 08:21] #3550 closed

[2021-11-19 10:04] strongoier commented on #3515
This should be fixed in #3560. Could you wait for Taichi v0.8.6 and help verify this?

[2021-11-19 12:15] JayL-zxl commented on #3270
I am a beginner, and would like to ask if this project is suitable for novices to participate in.

[2021-11-19 14:35] SoTosorrow commented on #3515
My pleasure, thx

[2021-11-20 03:25] whorfin commented on #3544
Addendum:
When run under Linux on an Intel i915, Vulkan fails at a fieldHeight of 512 but works at 256.
More importantly and hopefully helpfully, there is some additional information on what might be going on:
[code]
I do notice with my "working properly" Vulkan targets in taichi, if I run something complicated with low FPS, the window system [both Windows and Linux] seems to "lock up" while kerne

[2021-11-20 08:21] strongoier opened #3563 "Invalid data type alignment for arguments and return values in the Metal backend"
The following code snippet:
[code]
prints `2.304855714121459e-41` instead of `3.0`. However, if we add another argument:
[code]
it will print `3.0` as expected.

This behavior suggests that there might be a data alignment problem for writing return values. Same thing happens for reading arguments:
[code]
prints `767` instead of `2`. The binary representation of `767` is `0x2ff`, where `ff` comes f

[2021-11-20 09:37] junaire commented on #2684
Is there anyone still working on this? I guess I know how to do this :-)

[2021-11-20 12:39] bolin12 opened #3566 "Low FPS of ray_tracer"
FPS of https://github.com/taichiCourse01/taichi_ray_tracing/blob/master/4_0_path_tracing.py is merely 20FPS

Settings:
RTX2080
[Taichi] version 0.8.3, llvm 10.0.0, commit 021af5d2, win, python 3.8.10
[Taichi] Starting on arch=cuda

Taichi system diagnose:
[code]

[2021-11-20 12:51] tisonkun commented on #3550
@skyzh thanks for your information. Yes this part is a bit tricky.

Finally, I made it. I think it's worth a section to elaborate on how to config taichi's specific LLVM. And separate by platform, not step by step expanding multiple platforms and many "Notes". For example, working on a darwin OS, I don't care about notes on arch linux.

[2021-11-20 15:35] strongoier opened #3568 "CI is still skipped when there are non-doc modifications"
https://github.com/taichi-dev/taichi/runs/4252103913?check_suite_focus=true is an example run. Although `docs/lang/articles/basic/type.md` is modified, there are other non-doc modifications. However, CI is skipped in this case.

The logic here:
https://github.com/taichi-dev/taichi/blob/17a0a119bad15e5caeaf242548a72476f643fd7e/.github/workflows/presubmit.yml#L29-L32
is incorrect. We can skip CI onl

[2021-11-21 03:59] #3563 closed

[2021-11-21 05:27] mzy2240 opened #3570 "complex number support and basic methods"
Sorry in case being dumb. I just wonder could Taichi support complex number as a data type, and support some relevant basic arithmetic and methods(like conjugate).

I'm trying to compute a partial jacobian matrix using Taichi (already have a parallel numba version to compare), but cannot find related example for complex vector op.

[2021-11-21 05:52] strongoier commented on #3568
Fixed by #3569.

[2021-11-21 05:52] #3568 closed

[2021-11-21 08:27] Hilbert-Yaa commented on #2696
Thanks for your warm welcome @strongoier ! As planned I'll begin to figure things this weekend. Stay in touch 🌟.

[2021-11-21 09:33] strongoier opened #3572 "Support short-circuiting logical expressions"
The following code snippet,
[code]
will give a runtime error due to negative indices. This is because in Taichi, logical expressions are completely evaluated anyway. However, most programming languages are using short-circuiting logical expressions, so this behavior difference may cause confusion to newcomers.

I suggest that Taichi can support short-circuiting logical expressions. To avoid affect

[2021-11-21 18:15] sjwsl opened #3573 "[IR] Dereference nullptr"
Using `nullptr` as a parameter here will cause the dereference of `nullptr` later, which is undefined behavior.
https://github.com/taichi-dev/taichi/blob/0888810457af3e406b01f56544ef8bff6014d2c4/taichi/ir/frontend_ir.cpp#L681-L685
This is one of them, which is the root cause of #3323.
https://github.com/taichi-dev/taichi/blob/5a18210177eca5e7b1851b2b8cf86bf14b476adc/taichi/transforms/make_thread_l

[2021-11-22 00:01] re-xyr commented on #3572
To implement this in the frontend, I think we can translate `a and b` into the semantics of `if a then b else False` and `a or b` into the semantics of `if a then True else b`. We can use the logic in `IRBuilder.build_IfExp()`; not sure what the performance impact is going to be.

[2021-11-22 01:08] #3423 closed

[2021-11-22 02:43] ailzhang opened #3577 "A workflow to test postsubmit a& release in taichi repo"
Normally when we change sth in postsubmit & release workflow we'll have to test it manually in test_actions repo, which is super inconvenient and sometimes fail to shake out all the problems.

Ideally we need a workflow that we can test these PRs inplace (like, in taichi repo).

The only workaround I can think of is  temporarily change the trigger condition for postsubmit & release workflow so tha

[2021-11-22 02:51] bobcao3 opened #3578 "[build] CMake on macOS can not find the right compiler"
I'm on a M1 Macbook Air, macOS 11.6.1, I also installed the latest XCode from the AppStore.

This is my env:
[code]

When I run `clang --version` directly from the shell, I get:
[code]

This means I have the right PATH setup. However when I run cmake / `python setup.py develop`, I get this sequence:

[code]

And if I force the build it will error out. If I manually set CLANG_EXECUTABLE to `clang`,

[2021-11-22 02:54] mzy2240 commented on #2906
Do you consider supporting conversion from and to scipy.sparse matrix? Scipy is probably the most used library when dealing with sparse matrix in python.

[2021-11-22 03:01] sjwsl commented on #3578
This is a known issue. Our CI machine has exactly the same issue before and it was fixed by setting the environment variable `CXX=clang` after #3379. Could you try it on your mac?

[2021-11-22 03:41] ailzhang opened #3580 "Test examples in CI"
Currently, we only run `ti example laplace` in CI, which cannot prevent us from breaking other examples in PRs. This leads to occasionally unstable releases of Taichi.

The main blocker is that most of the examples require GUI, and we need to add a CI mode for them to only verify correctness.

[2021-11-22 04:05] strongoier commented on #3572
The solution makes sense to me!

Regarding the performance impact, branches are considered harmful in GPU programming :-( Therefore, as the first step, I suggest adding an option like `ti.init(short_circuit=True)` to enable the new behavior. In the future, we may apply more optimizations to it (e.g. automatically switching back to the non-short-circuiting case if it is definitely safe and faster)

[2021-11-22 04:14] bobcao3 commented on #3578
Yes it works. However I do see this problem being prevalent on macOS, maybe default CXX to clang-11 or clang?

[2021-11-22 04:22] sjwsl commented on #3578
I think the point is that the detection of the compiler in cmake doesn't consider `PATH`. It's actually the expected workflow to set `CXX` instead of `PATH` so we are not doing wrong IMHO.

https://stackoverflow.com/questions/45933732/how-to-specify-a-compiler-in-cmake

But it'd still be useful to explain this in the docs.

[2021-11-22 04:26] bobcao3 commented on #3578
Actually, it does not compile. There's a compilation error. Seems like it's using a wrong linker or C compiler

[2021-11-22 04:31] sjwsl commented on #3578
Sorry, which compilation error are you talking about?

[2021-11-22 04:44] bobcao3 commented on #3578
I have a super long error message, something about can not find things like `new` and `delete`. Basically everything is not found

[2021-11-22 04:44] bobcao3 commented on #3578
So with `CXX=clang` it does not work, only works when setting `CLANG_EXECTUABLE` to clang

[2021-11-22 05:03] strongoier commented on #3578
What about using `clang++` instead of `clang`?

[2021-11-22 05:10] jparr721 opened #3582 "[Question] Proper formulation for matrix and vector artithmetic"
I have recently discovered Taichi and have been making an earnest attempt to replace it in my usual numpy workflow. However, something that stands out to me is the documentation around scalar fields and their ergonomics and intended uses. For example, let's take the following trivial situation with linear FEA:

[code]

To initialize an isotropic material matrix, you might do something like this. I

[2021-11-22 05:57] strongoier commented on #3582
Hi @jparr721. Welcome to the Taichi community! We are currently on our way to improve the `ti.Matrix/Vector` implementations, and the goal is to make them as easy to use as `np.array`. If you would like to automatically parallelize a large number of tasks where matrix operations may be parts of a task, then feel free to ignore the warnings. If you would like to conduct a parallelized single matrix

[2021-11-22 05:59] sjwsl commented on #3578
Ah right, I forgot that `clang` will miss C++ headers. `clang++` should work.

[2021-11-22 06:04] strongoier commented on #3566
cc: @erizmr

[2021-11-22 07:09] k-ye commented on #3544
Hmm, @bobcao3 @g1n0st could you help take a look on this? I don't expect it will be a problem writing a plain loop with 512 iterations in either SPIR-V or GLSL. So maybe something to do with our codegen (and Vulkan resource management)?

[2021-11-22 07:15] g1n0st commented on #3544
Okay, I will check it later

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ye Kuang ***@***.***>
Sent: Monday, November 22, 2021 3:09:17 PM
To: taichi-dev/taichi ***@***.***>
Cc: Chang Yu ***@***.***>; Mention ***@***.***>
Subject: Re: [taichi-dev/taichi] Nested Operations on "large" fields fails on Vulkan and OpenGL, works on Cuda (Issue #3544)

Hmm, @bobcao3<h

[2021-11-22 07:23] k-ye commented on #3570
Hi @mzy2240 , this will be a useful feature :-) For now you can take a look into https://github.com/taichi-dev/taichi_glsl/blob/master/taichi_glsl/classes.py for how a custom Complex can be implemented. Ideally, we'd like to support this in our C++ type system (CC @strongoier)

[2021-11-22 07:56] ailzhang opened #3586 "Issues for skipping presubmit jobs with doc only changes."
There's still something off with our doc only ci workflow, see an example at https://github.com/taichi-dev/taichi/pull/3584
maybe related to https://github.com/taichi-dev/taichi/pull/3569/files, cc: @sjwsl

[2021-11-22 10:53] ailzhang opened #3590 "Remove deprecated APIs"
These APIs are deprecated a while ago, we'll want to get rid of them.

[code]

[2021-11-22 14:02] jparr721 commented on #3582
That's about what I expected. I'm highly excited about Taichi and would love to help if I can. Are some of the new matrix/vector roadmaps available?

[2021-11-22 15:12] ailzhang commented on #3557
fixed via #3561, closing

[2021-11-22 15:12] #3557 closed

[2021-11-22 22:22] bcolloran opened #3593 "how to `.place()` a field of `ti.type.struct`?"
Hi there, I have a hopefully quick question about how to use advanced memory layouts for `ti.type.struct` objects.

I've been playing with the mpm examples, and I'm able to get my code working with AoS memory layout like the following:

[code]

But the call signatures and access patterns in the rest of my code quickly becomes cumbersome when I have to manage references to these three separate arra

[2021-11-23 01:43] k-ye commented on #2684
@WenheLI are you still working on this? If not, we will pass this to @junaire , thanks :-)

[2021-11-23 02:12] WenheLI commented on #2684
Sorry just saw this thread. And I am kinda busy recently. @junaire feel free to take it over!

[2021-11-23 03:02] wangfeng70117 opened #3595 "Draw the arrow in GGUI"
When debugging a 3D vector field, you need to draw arrows to test correctness, which I think is very useful feature.

[2021-11-23 06:40] strongoier commented on #3452
Done in #3574

[2021-11-23 06:40] #3452 closed

[2021-11-23 07:36] strongoier commented on #3593
According to https://docs.taichi.graphics/lang/articles/basic/field#struct-fields, there are two ways to declare struct fields:
[code]
or
[code]
Then you can do
[code]

[2021-11-23 07:53] #3467 closed

[2021-11-23 08:58] wangfeng70117 opened #3600 "不同的类使用ti.root.dense + from_numpy函数会报错"
![image](https://user-images.githubusercontent.com/46859758/142995216-d44f01e9-a2cd-4aff-bf6e-27c33a70e002.png)
![image](https://user-images.githubusercontent.com/46859758/142995240-a945ace3-b7fe-4c0c-b868-dbf50a96559f.png)
![image](https://user-images.githubusercontent.com/46859758/142995257-b91f0002-d039-4b56-9e10-e1421e2de6bf.png)
如果注释class2，正常运行。
如果不注释class2，报错。
![image](https://user-images.gi

[2021-11-23 09:11] #3600 closed

[2021-11-23 09:55] qiao-bo opened #3601 "test_ggui fails on Vulkan"
To repro:
Build taichi with Vulkan on, then `python tests/run_tests.py -a vulkan -vr2 -t1 -k "ggui"`. or `python -m pytest tests/python/test_ggui.py::test_geometry_2d -s`, yields the following error:

[code]

Nvidia-driver: 470.57.02
RTX 3080.

[2021-11-23 10:48] AmesingFlank commented on #3601
Is it failing only on vulkan? does it work on cuda?

[2021-11-23 10:49] qiao-bo commented on #3601
cuda also fails

[2021-11-23 16:02] SoTosorrow commented on #3515
I have tested my code in the v0.8.6, it is correct now
I will do more verification tomorrow maybe, and the issue can be closed for now
thanks

[2021-11-23 18:52] bcolloran commented on #3593
Ah fantastic, thanks very much @strongoier! :-)

[2021-11-23 18:52] #3593 closed

[2021-11-23 18:57] GrapixLeGrand commented on #3455
Hello,

Cuda is working fine now. Thanks :)

Best,
Quentin

[2021-11-23 18:57] #3455 closed

[2021-11-24 02:25] bobcao3 commented on #3601
I've seen this one, it's a improper swapchain config, the min image count needs to be >= 2 on some systems.

[2021-11-24 02:50] AmesingFlank commented on #3601
Seems like IMGUI is asserting that min image count >= 2.

I hard-coded MinImageCount and ImageCount to be 1 when I built GGUI:

https://github.com/taichi-dev/taichi/blob/7027cc300cf459f57dcc882dd5ddcae14ae7281e/taichi/ui/backends/vulkan/gui.cpp#L49-L50

Which is wrong, and I should've queried the values.

It's interesting that this had never caused crashes before.

[2021-11-24 02:54] AmesingFlank commented on #3601
@qiao-bo When you observe failures, is taichi built in DEBUG mode? Does it still fail for RELEASE builds?

[2021-11-24 03:08] victoriacity opened #3605 "[AST] Cannot reassign numerical arguments of kernels"
### Describe the bug
After AST refactor has been fully deployed (#3516 and #3527), numerical arguments passed to Taichi kernels cannot be reassigned. This is because in the new AST, the argument variable is regarded as a rvalue and thus cannot be modified.

### To Reproduce
[code]

### Log/Screenshots
[code]

### Additional comments
**Before** the AST refactor, the following IR is produced for thi

[2021-11-24 03:08] qiao-bo commented on #3601
@AmesingFlank, yep. it was built in DEBUG mode. Just tried RELEASE mode, and it is working ;/.

[2021-11-24 03:11] AmesingFlank commented on #3601
Thanks for confirming. So this assert isn't triggered in debug mode, and it doesn't actually cause any big problems. With that said, we should still fix it properly.

[2021-11-24 03:12] #3515 closed

[2021-11-24 03:24] strongoier commented on #3595
cc: @AmesingFlank

[2021-11-24 05:13] mzy2240 commented on #3570
One update on this issue, also partially related to https://github.com/taichi-dev/taichi/issues/1206, I did a quick but probably unfair comparison between numba and taichi on a partial Jacobian matrix generation process (Im a power system researcher and the Jacobian matrix is a big thing in steady state power system analysis). You may say

and yes you could absolutely write in a form of matrix mul

[2021-11-24 05:18] g1n0st opened #3608 "Internal research project: ti.Mesh"
We are developing an internal research project ti.Mesh (#3567). It offers first-class support for triangular/tetrahedral meshes and allows efficient computation on these irregular data structures. Now it's an early-stage prototype in progress, so we keep it undiscussed. We will soon release more details and welcome contributions from the community. : )

[2021-11-24 05:44] bobcao3 commented on #3570
What's the typical shape of Ybus and V?

[2021-11-24 05:48] qiao-bo commented on #3570
Hi, would you mind update the full code s.t. we can also run some tests locally?

[2021-11-24 05:51] bobcao3 commented on #3570
Or I think a sample of generator of Ybus and V values will be good

[2021-11-24 06:16] mzy2240 commented on #3570
Here is the zipped npz file for the Ybus matrix. You could load using scipy.sparse.load_npz after decompression.
[Ybus.zip](https://github.com/taichi-dev/taichi/files/7593135/Ybus.zip)
For the V array, you could generate like this:
[code]
Ybus is a 2000*2000 sparse matrix and V is a 1D array with length 2000. 2000 is definitely not a small size for power system in terms of buses, but it is also no

[2021-11-24 06:18] mzy2240 commented on #3570
In case you guys want to test, I just updated the original post with all the imports I am using in the code.

[2021-11-24 06:26] #3605 closed

[2021-11-24 06:36] erizmr commented on #3566
Thanks for reporting this and sorry for late reply.
I have tested the example on cuda backend using my Linux machine with RTX 2060. The FPS is typically ~40Fps.
Would you mind providing the profiling info shown below?

To print these info, there are two lines to modify/add:
[code]

Sample profiling info output on my machine:
[code]

[2021-11-24 06:38] bobcao3 commented on #3601
@qiao-bo can you try the latest commit? I pushed a fix but I'm not sure

[2021-11-24 06:43] bolin12 commented on #3566
thanks for replying.

to begin with:

[Taichi] version 0.8.3, llvm 10.0.0, commit 021af5d2, win, python 3.8.10
[Taichi] Starting on arch=cuda
=========================================================================
Kernel Profiler(count) @ CUDA
=========================================================================
[      %     total   count |      min       avg       max   ] Kernel name
------

[2021-11-24 07:04] qiao-bo commented on #3601
@bobcao3 @AmesingFlank Just tested, worked on both modes, approved. many thanks!

[2021-11-24 07:04] #3601 closed

[2021-11-24 09:05] erizmr commented on #3566
It looks like the max runtime of kernel `render_c44_0_kernel_10_range_for` on Windows is extremely larger that on Linux.
cc: @yolo2themoon

[2021-11-24 09:53] k-ye opened #3611 "[RFC] Add a JIT compilation optimization level"
**Concisely describe the proposed feature**

Right now we've observed very slow JIT compilation speed on some large Taichi programs. Specifically, two of the most time-consuming optimizations are:

* CFG
* Whole kernel CSE

A JIT optimization level config (like C++'s `-O`) can help decide which set of IR opts to run. This could be very useful when Taichi users are iterating their programs and do n

[2021-11-24 10:23] lin-hitonami opened #3612 "Print the related source code and its position in the file when an error occurs"
**Concisely describe the proposed feature**
I would like to add the feature that prints the related source code and its position in the file when an error occurs when building the AST.

**Describe the solution you'd like (if any)**
Keep a copy of the source code of the taichi kernel/function inside the context and utilize the position information in the AST node to find out the source code related

[2021-11-24 11:36] strongoier commented on #3611
What is the relationship between this issue and #2658?

[2021-11-24 11:46] k-ye commented on #3611
Huh, I forgot about that. The PR wasn't associated with any issue so I created this one.

[2021-11-24 11:46] #3611 closed

[2021-11-25 01:45] AmesingFlank commented on #3595
Hmm, I think as a feature it is too specific to be included in the core GGUI API. I suggest generating meshes that represent arrows for this type of debugging.

Also I doubt how useful would arrows be for debugging. Imagine if you have a 100x100x100 discrete velocity field (which is not a lot). Thats would already be 10^6 arrows stuffed inside one image. I don't think this image would be very help

[2021-11-25 06:01] sjwsl commented on #3612
Definitely need this!

[2021-11-25 07:08] ailzhang opened #3617 "Nightly wheels upload fail due to name conflict"
Example : https://github.com/taichi-dev/taichi/runs/4318455838?check_suite_focus=true
@frostming maybe this is related to #3537?

[2021-11-25 07:34] frostming commented on #3617
Yeah, I have submitted a fix :)

[2021-11-25 09:09] #3617 closed

[2021-11-26 03:44] k-ye opened #3624 "[refactorRemove the necessity to use shared Device"
**Concisely describe the proposed feature**
A clear and concise description of what you want. For example,

**Describe the solution you'd like (if any)**
A clear and concise description of what you want to achieve and implement.

**Additional comments**
Add any other context or screenshots about the feature request here.

[2021-11-26 05:04] bolin12 commented on #3566
I switched to ubuntu20, and FPS reached 35+

[2021-11-26 05:04] #3566 closed

[2021-11-26 05:18] bolin12 opened #3625 "some error on version 0.8.6"
I encountered some ploblems:
version 0.8.6 will display a totally chaos of this script https://github.com/taichiCourse01/taichi_ray_tracing/blob/master/4_0_path_tracing.py

and also report  " 'float' object has no attribute 'ptr' " error of this
https://github.com/taichiCourse01/taichi_ray_tracing/blob/master/3_2_whitted_style_ray_tracing.py

as I switched back to earlier version 0.8.4, problems a

[2021-11-26 05:27] strongoier commented on #3625
Could you provide the complete error message? Thanks!

[2021-11-26 05:38] bolin12 commented on #3625
[Taichi] version 0.8.6, llvm 10.0.0, commit d5f18ffd, linux, python 3.8.10
[Taichi] Starting on arch=cuda
Traceback (most recent call last):
  File "3_2_whitted_style_ray_tracing.py", line 242, in <module>
    render()
  File "/home/lbl/miniconda3/lib/python3.8/site-packages/taichi/lang/kernel_impl.py", line 702, in wrapped
    return primal(*args, **kwargs)
  File "/home/lbl/miniconda3/lib/python

[2021-11-26 05:51] bolin12 commented on #3625
![Screenshot from 2021-11-26 13-43-03](https://user-images.githubusercontent.com/48210500/143533394-498a958d-4512-4b9b-bbfc-82ec331a80b3.png
![Screenshot from 2021-11-26 13-42-53](https://user-images.githubusercontent.com/48210500/143533450-dd6fda17-c34a-4cbe-b0ec-3ae10df56afe.png)
)

[2021-11-26 07:16] g1n0st commented on #3544
Sorry for the late reply... I cannot reproduce this in my 2060... vulkan backend just works fine...

[2021-11-26 07:22] g1n0st commented on #3544
Maybe related to resource management? @bobcao3

[2021-11-26 11:00] g1n0st opened #3627 "[gui] GGUI not shading correctly when call particles/mesh first time"
**Describe the bug**
GGUI not shading correctly when call scene.particles() or scene.mesh() at the first time. It will show pure color instead of being shaded by point lights.

**To Reproduce**
It could be easily reproduced by headless mode.

[2021-11-26 13:29] #3627 closed

[2021-11-26 23:16] whorfin commented on #3544
Since lower numbers are needed on "weaker" GPUs to avoid the problem and the 2060 >> my 1070, I wonder if you would see this if you increased `fieldWidth` to 2048 or 4096 and increased `fieldHeight` correspondingly?

[2021-11-27 01:07] AmesingFlank opened #3630 "[IR] Building CHI IR examples"
I'm trying to lean to use CHI IR builder, but I'm having some troubles building `chi_examples`. From what I can tell

* The include paths aren't set up correctly. This is likely because we have added quite a few dependencies.
* The build args aren't set-up correctly.  The cmake file seem to be linux-specific, and on windows, I'm getting things like "ERROR: C++ 14 required". I'm trying to fix it bu

[2021-11-27 04:08] re-xyr opened #3631 "Instructions on installing test dependencies"
In ["Developer Installation/Build Taichi From Source"](https://docs.taichi.graphics/lang/articles/contribution/dev_install#building-taichi-from-source), dependencies in `requirements_dev.txt` are installed:

[code]

but not the dependencies in `requirements_test.txt`. Therefore users without these dependencies will encounter errors when running tests.

Should we add instructions for users to insta

[2021-11-27 09:03] R366Y commented on #2561
Hi, I solved the problem creating the directory "C:/taichi_cache". Instead of having an hardcoded directory on Windows,  you should create a new one in C:\Users\<user name>. That should solve also the problem with permissions.

[2021-11-27 10:03] strongoier opened #3633 "Support frontend type check for If/While statements"
**Concisely describe the proposed feature**
We have the following test: https://github.com/taichi-dev/taichi/blob/21d9048d8ce03d0c8257775f33d360656dd5f949/tests/python/test_type_check.py#L30-L41, which was commented in #3441. This was because `IfExp` was expanded to regular `If` statements in our new AST builder in #3299, and we didn't have type checks for the conditions of `If/While` statements.

[2021-11-28 01:20] re-xyr commented on #3633
Do we also need to typecheck other statements such as `FrontendSNodeOpStmt` or `FrontendForStmt`?

[2021-11-28 01:39] re-xyr commented on #3633
I found that Chi IR also has a typechecking pass in `transforms/type_check.cpp`. Does this mean after adding typechecking for frontend IR, we'll have two sets of typechecking mechanisms? This looks kind of redundant.

[2021-11-28 03:42] strongoier commented on #3633
Currently `transforms/type_check.cpp` does the following:
1. Check type errors;
2. Add implicit casting;
3. Fix some wrong types set by other passes.

However, we need to clearly separate user errors from compiler internal errors. Otherwise, neither users nor compiler developers can easily diagnose problems they meet.

Currently we are moving 1 to the frontend, and we just align the behavior with

[2021-11-28 06:10] qiao-bo opened #3634 "[RFC] Caching memory allocator for ndarray"
**Concisely describe the proposed feature**
We want to have a caching memory allocator for `Ndarray`, which can improve memory utilization on e.g., GPU device memory.

**Describe the solution you'd like (if any)**
Currently, Ndarray's own memory allocator does not perform recycling:
https://github.com/taichi-dev/taichi/blob/71dd17426b62327864a21c65ca570812997c33ba/taichi/program/ndarray.cpp#L20
We

[2021-11-28 10:13] strongoier opened #3635 "[Discussion] Expected behavior of logical expressions in Taichi"
Currently, there isn't a clear description of expected behavior of logical expressions (`and` / `or`) in Taichi. The implementation, https://github.com/taichi-dev/taichi/blob/71dd17426b62327864a21c65ca570812997c33ba/python/taichi/lang/ops.py#L792-L793, shows that `logical_and` / `logical_or` is simply treated as `bitwise_and` / `bitwise_or`. This leads to the non-short-circuit behavior (#3572) and

[2021-11-28 10:20] #3572 closed

[2021-11-28 10:36] lin-hitonami commented on #3635
I think the behavior should be identical to Python's because most Python users would expect taichi's grammar is similar to Python's.

[2021-11-29 01:34] ailzhang commented on #3635
I second @lin-hitonami 's idea, python frontend's behavior should be close to python convention as much as possible. ;)

[2021-11-29 03:23] BillXu2000 opened #3636 "Error popped up when running IRBuilder tests"
**Describe the bug**
Error popped up when running IRBuilder tests.
Taichi version: commit fdf665e4dfe6c1cee41e67b12b288749b2c8cb8f

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2021-11-29 03:23] BillXu2000 commented on #3630
Dependency: #3636

[2021-11-29 07:32] strongoier commented on #3636
According to https://docs.taichi.graphics/lang/articles/contribution/writing_cpp_tests#build-and-run-taichi-c-tests, you have to set `TI_LIB_DIR`.

[2021-11-29 08:44] R366Y commented on #2561
@yjhp1016 , when I said

I was addressing Taichi developers, sorry for misunderstanding.

As I said, the only thing you can do is to create "C:/taichi_cache"  manually until this bug is fixed.  You said you don't have admin access to your machine therefore you cannot create the aforementioned directory. I think you have to wait this bug being fixed then.

[2021-11-29 08:55] k-ye opened #3642 "Feature Proposal: Taichi's Ahead of Time (AOT) Module"
We'd like to share our ideas on how to implement the AOT feature in Taichi. AOT refers to the process of using Taichi as a GPU compute shader/kernel compiler: The AOT users can compile their Taichi kernels into an *AOT module*, package this module alongside their apps (likely without a Python environment, e.g. an Android app), and load/execute the compiled shaders from this module in the app.

Not

[2021-11-29 08:58] frostming opened #3643 "Reuse the build steps in multiple CI workflows"
**Concisely describe the proposed feature**
The build steps are shared between multiple CI workflows, GHA supports [reusing workflow](https://docs.github.com/cn/actions/learn-github-actions/reusing-workflows#creating-a-reusable-workflow) to duplicate the repeating blocks.

[2021-11-29 09:43] ailzhang commented on #3380
@frostming this is the issue that I mentioned about adding buildbot5 to CI. @chuandongyan will share access to buildbot5 to you :D. Thanks a lot!

[2021-11-29 10:16] k-ye commented on #2561
@R366Y thanks! Would you like to open a PR to fix this?

[2021-11-29 20:11] AmesingFlank commented on #3630
Instead of fixing this CMakeList, I suggest we move it under `cmake` and add a `TI_BUILD_CHI_EXAMPLE` to optionally enable it (similar to how taichi cpp tests are handled). This way, we can share all the build configurations of the main taichi library.

[2021-11-29 20:29] whorfin commented on #3544
Confirming the above:
On a Quadro P6000, I needed to set `fieldWidth` to 2048 to get the crash
On a Quadro RTX 6000, I needed to set `fieldWidth = 2048` _and_ `fieldHeight = 2048` to get failure

On Linux with nvidia cards, I did not see the "GPU hung" message either from CLI or in dmesg which I observed with the i915 machine

[2021-11-29 21:26] ghuau-innopeak commented on #3642
Nice summary! I really like the idea of the API to load the kernels from C++!

I have a question related to the arguments of a TI Kernel. In the example of `subset`, we have some variables named "gravity", "bound" or "E" that are used within this function. During AOT execution, how do we expect to set them? Do we need to move them as Field/NdArray if those values can be changed at execution?

For

[2021-11-30 00:23] BillXu2000 commented on #3630
`chi_examples` was supposed to be an example to show how to independently compile and run taichi kernels in cpp with an exported taichi core shared library, decoupled from cmake settings in Taichi repository. Though it seems difficult now to maintain its availability while Taichi is developing so fast. I am considering whether deleting this `chi_examples` or not after fix bugs for current Taichi v

[2021-11-30 01:42] AmesingFlank commented on #3630
It would indeed be more ideal if the example can be built separately. But if this is difficult, then having it coupled with the main taichi library is still better then deleting it completely... Even leaving it as its current state would be better than having it deleted i would say, because people can still use it as a reference.

[2021-11-30 02:46] #3582 closed

[2021-11-30 02:52] strongoier commented on #3582
Thanks for your interest in Taichi! We are making more and more RFCs publicly available now. Matrix/vector roadmaps will also come out soon :-)

[2021-11-30 03:14] yuanming-hu commented on #3642
Random thought: in the future, it may make sense to wrap kernels and fields into a class for more modularity. This may end up with a syntax similar to ...

[code]

[2021-11-30 03:35] k-ye commented on #3642
Thanks for the reply!

Variables like `gravity` and `E` are compile-time constants. So they are just literal values in the generated shaders.

Yep. From a technical perspective, this should be quite straightforward :-) Updated the C++ API part.

Yeah the extension has introduced some trouble to us previously. Passing in a configuration list of the extensions the targeted platform can support sound

[2021-11-30 04:04] FantasyVR commented on #3512
I cannot reproduce the error using the code you provided. Could you run `ti diagnose` and copy the output here?

[2021-11-30 05:01] #3612 closed

[2021-11-30 06:41] ailzhang opened #3651 "ray tracing example failes on opengl backend"
https://github.com/bobcao3/ray-tracing-one-weekend-taichi/blob/main/main_lockless_queue.py failed on opengl backend.
cc: @bobcao3

[2021-11-30 07:24] BillXu2000 commented on #3636
It turns out that my local Taichi environment was too messy.
Problem is fixed now after I cleaned up and reinstalled Taichi.

[2021-11-30 07:24] #3636 closed

[2021-11-30 07:30] strongoier commented on #3625
The bug should be fixed in #3638 and #3649 now. Could you help verify this after v0.8.7 is released? Thanks!

[2021-11-30 08:11] frostming commented on #3643
While doing the research I found that release and postsubmit can't be united due to the matrix difference. So I will seek other approaches to reduce the duplication.

[2021-11-30 08:51] k-ye commented on #3630
Let's just add this to CI, which is the best way to prevent regression :-)

[2021-11-30 21:40] GrapixLeGrand opened #3656 "GGUI Rendering question"
Hello,

I can't find in the doc what is the rendering technique of GGUI. Is this reasterized? Moreover, is there more doc than this [page](https://docs.taichi.graphics/lang/articles/misc/ggui)? I was wondering what was happening under the hood because I'm aiming to get real time performances (or the most performance that I can) and by looking at the particles (3D geometry), they look like perfect

[2021-12-01 00:42] ailzhang commented on #3656
cc: @AmesingFlank ;)

[2021-12-01 01:45] AmesingFlank commented on #3656
Hi. Yes, GGUI uses a rasterization-based render pipeline written in Vulkan. There's no ray-marching, though I wish there is. The page that you mentioned is all the doc we have, but if you want to know more about, I suggest
1. Looking at the examples `python/taichi/examples/ggui_examples`
2. Read the source code.  The C++ code for ggui are located in `taichi/ui` and `taichi/backend/vulkan`, and the

[2021-12-01 01:51] AmesingFlank commented on #3656
Regarding particle rendering, it is done by first emitting `Point` primitives in the vertex shader, which are essentially squares with controllable sizes. Then, in the fragment shader, we `discard` the pixels in each square that's outside of circle inscribed in the square. The reason that the framerate drops when you zoom is because of something called "overdraw".

[2021-12-01 02:41] FantasyVR commented on #3337
Hi @WenheLI, sorry to bother you. Is there any progress on this issue?

[2021-12-01 03:53] lyd405121 commented on #3625
I also find my project don't work with 0.8.6 but works well with 0.8.4
- https://github.com/lyd405121/wcsph
- https://github.com/lyd405121/ti-raytrace

Hope taichi 0.8.7 will solve this~   :)

[2021-12-01 08:31] strongoier opened #3663 "A new commit in a PR will not cancel previous CI"
Example:
https://github.com/taichi-dev/taichi/actions/runs/1524659906
https://github.com/taichi-dev/taichi/actions/runs/1524673049
https://github.com/taichi-dev/taichi/actions/runs/1524685711
are all running at the same time.

[2021-12-01 08:32] strongoier commented on #3663
cc: @frostming

[2021-12-01 08:37] frostming commented on #3663
It is missing the authentication info, I've fixed in the linked PR.

[2021-12-01 09:18] lin-hitonami opened #3666 "Error message not correctly printed when tab appears in the source code"
**Describe the bug**
We now convert all tabs to 4 spaces in the source code. However, a tab can be 1-4 spaces long depending on its position. So, the tabs are not correctly handled in the error messages. Using textwrap.fill can solve this problem.
Many people like using tabs to align numbers in arrays.
Here is an example:
[code]
Now, it looks like
[code]
If it is correctly indented with tab size=4

[2021-12-01 09:33] ailzhang commented on #3280
Closing via https://github.com/taichi-dev/taichi/pull/3555

[2021-12-01 09:33] #3280 closed

[2021-12-01 09:51] R366Y commented on #2561
Hi @k-ye ,
I don't know if I have time this week to patch the bug.
But if somebody else wanna take this up , there is an hint how to do it :

I suggest to use Python's _pathilb_ :

- Check if the cache directory exists at installation or at the first run.
- If it doesn't , create a cache directory under %APPDATA% e.g. %APPDATA%\taichi\cache

[2021-12-01 10:43] #2908 closed

[2021-12-01 10:43] #3663 closed

[2021-12-01 11:06] ailzhang opened #3667 "Seemingly duplicated unix_build.sh and unix_docker_build.sh"
Right now we use both scripts in CI and have to copy paste our changes to both files, probably need to find a way to unify them. Wdyt? @frostming @lin-hitonami

[2021-12-01 11:07] frostming commented on #3667
Sure, I will handle it.

[2021-12-01 11:11] strongoier commented on #3625
It seems that they work fine with current master branch :-)

[2021-12-02 02:14] bobcao3 opened #3675 "[examples] Rasterizer & cornell_box broke"
For cornell_box.py
[code]

For rasterizer:
[code]

[2021-12-02 03:00] strongoier commented on #3675
I will take a look at the error of `cornell_box.py`. However, I cannot reproduce the error of `rasterizer.py`. Would you pull master and try again?

[2021-12-02 03:42] ailzhang opened #3679 "Cross compile taichi_core.so to other targets"
In [Taichi AOT Module RFC](https://github.com/taichi-dev/taichi/issues/3642) we mainly covered how to serialize taichi kernels and fields/ndarrays. One missing piece is how to load & execute on a different target.

For example, in the android demo @Leonz5288 is working on (will be released soon), we first serialized the kernels/ndarrays for GLES, but still had to deserialize the JSON output to pro

[2021-12-02 03:44] strongoier commented on #3675
The problem of `cornell_box.py` is simply as the error message states. However, whether to support this operator, or modify this example, requires careful discussion.

One purpose of the AST refactoring is to standardize which subset of Python Taichi should support. Allowing things is easy, but IMO it is much more important to have a clear specification of what users can/cannot do. As the `in` ope

[2021-12-02 04:03] k-ye commented on #3675
+1. In general, I don't think `in` is of significant value for Taichi's programs. That said, I thought that expressions inside `ti.static()` are evaluated at Python?

[2021-12-02 04:43] lin-hitonami commented on #3675
ti.static now is evaluated at compile time (in the ast transformer) but it is still processed by the transformer. Maybe we can enable more functionalities inside the ti.static scope?

[2021-12-02 05:06] strongoier commented on #3675
Just as @lin-hitonami said, all evaluations are controlled by the transformer now. So we can completely determine what to support.

Currently `ti.static` is mainly for the so-called meta-programming (https://docs.taichi.graphics/lang/articles/advanced/meta). Although all features are controlled by the transformer, Python object evaluation is enabled everywhere (e.g. a simplest expression like `1 +

[2021-12-02 05:58] ailzhang commented on #3675
Totally agree that we should be clear on what want to support. If we're going to ban `in`, shall we update the error message suggesting adding a few words about how to rewrite the user program?

[2021-12-02 09:12] k-ye commented on #3675
I see. Supporting bool + all sorts of basic arithmetics could be a good start? (I wonder what happens if we mix Python scope and Taichi scope concepts, e.g. `ti.static(ti.Vector([0, 1]).normalized())`)

[2021-12-02 09:41] ailzhang opened #3682 "Move testing C++ from unix_docker_build to unix_docker_test"
As @BillXu2000 found out, it's a bit confusing that we currently run C++ tests in the build stage. https://github.com/taichi-dev/taichi/pull/3680/files#diff-038b990ab4476a55a74bb7ed8ed7e10231567d52310b620b5a2884d1faa40dacL48

And we didn't run C++ tests in tests stage since the taichi_cpp_tests binary was not copied over. I gave a quick try fixing this in #3680 but hit some docker related errors.

[2021-12-02 09:54] YangYang129 opened #3683 "taichi failed to run test on Windows with MSVC"
taichi failed to run test on Windows with MSVC. It can reproduces on version https://github.com/taichi-dev/taichi/commit/3951c087438a697fc17a14bf603e61d69a2da0cd. Could you please help look at this issue? Thank you very much

**Environment**
Compiler version: VS2019 (16.11.5)
Operating system: Windows server 2019

**Reproduce steps:**
1. git clone https://github.com/taichi-dev/taichi c:/
2. cd tai

[2021-12-02 11:32] knight42 commented on #3682
@ailzhang Hi, I would like to help!

[2021-12-02 12:48] ailzhang commented on #3682
Hey @knight42 , go for it! Thanks a ton!!

[2021-12-02 13:11] ailzhang commented on #3683
@YangYang129 would you mind adding more information about the error message? They're truncated in the description above :P

[2021-12-02 14:57] k-ye commented on #3683
Actually there's a log file attached :-)

[code]

Could be due to the frontend refactor? @lin-hitonami @strongoier

[2021-12-02 15:29] k-ye commented on #3590
Thanks @izackwu for the help! It's yours now. We may need to go through known significant projects like https://github.com/taichi-dev/taichi_elements and https://github.com/taichi-dev/difftaichi to make sure they no longer use the legacy APIs. cc: @erizmr @strongoier

[2021-12-02 15:35] izackwu commented on #3590
@k-ye OK, I see. I'll check these projects to make sure I don't break things.

[2021-12-02 17:14] woooodyye commented on #2610
I would like to work on this issue. A simple approach would be cast the value based on the type annotation we provide. In case of already-created variable, we compare the type annotation with the type established in the `ctx`. If the types are different, we would raise a syntaxError

[2021-12-02 22:52] leirbag commented on #3679
One idea I have in mind (seems to work so far...) is to introduce a new option `TI_WITH_PYTHON` to the CMake build system. By default, the option could be ON but in the case of cross-compiling to a platform that doesn't support Python (Android for example), we could set this option to OFF.
With this option, we could compile the `taichi/python/` source code to a static library `libtaichi_python.a`

[2021-12-02 22:54] ghuau-innopeak commented on #3679
One idea I have in mind (seems to work so far...) is to introduce a new option `TI_WITH_PYTHON` to the CMake build system. By default, the option could be ON but in the case of cross-compiling to a platform that doesn't support Python (Android for example), we could set this option to OFF.
With this option, we could compile the `taichi/python/` source code to a static library `libtaichi_python.a`

[2021-12-03 01:45] ailzhang commented on #3679
@ghuau-innopeak Splitting the python part out first is a great idea! Now that I think about it, it's indeed a good first step, looking forward to your `TI_WITH_PYTHON` PR! :D

[2021-12-03 02:11] k-ye commented on #3679
Note that we already have this configuration of whether to include Python or not, see
https://github.com/taichi-dev/taichi/blob/4590adcabdbd60a398be77906022bd7e9a640410/cmake/TaichiCore.cmake#L178-L190. In particular:

* `taichi_isolated_core`: without Python. However, this is an OBJECT library (a concept in CMake)
* `taichi_core`: with Pyhton. This is a shared library.

Also we have a `taichi_exp

[2021-12-03 04:42] lin-hitonami commented on #3683
d5f18ff is committed 10 days ago, have you installed taichi before? It seems that python is using the old taichi instead the one you just built.

[2021-12-03 05:37] lin-hitonami opened #3694 "Random value is returned when kernel return type is specified but no return statement is executed"
**Describe the bug**
If a taichi kernel has a return type but no return statement is executed, the kernel returns a random value.

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2021-12-03 05:46] lin-hitonami commented on #3694
IMHO we should make sure the kernel have one and only one (as we only support single return now) return statement that will always be executed, and no return statement that will maybe be executed, for example inside a non-static if, but we can allow returns that will never be executed, for example, an return statement after another return statement. We should raise an error if the rule is broken.

[2021-12-03 06:59] strongoier commented on #1913
Close because they are already in doc now.

[2021-12-03 06:59] #1913 closed

[2021-12-03 07:05] strongoier commented on #2610
Welcome to the Taichi community! Your proposal looks great. This issue is assigned to you :-)

[2021-12-03 08:28] #3682 closed

[2021-12-03 08:51] knight42 commented on #2730
@lucywsq Hi, I am willing to take over if @hongrubb no longer works on this issue.

@k-ye Hi! Could you provide me some guidance on how to resolve this issue?
* For the first part, I am not sure what to do now, could you point me in the right direction?
* For the second part, is there any recommended way to check if the program is already materialized? Is it sufficient to check the `materialized`

[2021-12-03 10:40] YangYang129 commented on #3683
@lin-hitonami I  cloned the latest source code and ran command "python -m pip install taichi", I find default installed v0.8.6 https://github.com/taichi-dev/taichi/releases/tag/v0.8.6, commit of this version is older d5f18ff . How can I install taichi of the one I built. Could you please help me look at this question? Thank you very much

[2021-12-03 12:14] knight42 commented on #2734
@k-ye Hi! It seems that we could already specify the random seed now https://github.com/taichi-dev/taichi/blob/17adcdb92db10b1573c692168ed5a2879f1632ca/taichi/python/export_lang.cpp#L168

Is this issue still valid? Or are there any remaining work to do?

[2021-12-03 15:37] izackwu commented on #3346
@frostming This solution works perfectly for me (on MacBook with M1X chips). Thank you!

[2021-12-03 23:07] ghuau-innopeak commented on #3679
@k-ye I saw that and was a bit confused about some parts but wanted to check this out during the PR. The changes with `TI_WITH_PYTHON` are very small, I'm starting to submit PR to start the initial integration for Android support with the fix for `LLVM` and then AOT Loading support before the initial integration for Android (including `TI_WITH_PYTHON`), but the changes are mainly for:

-  Clean-up

[2021-12-04 09:49] #3630 closed

[2021-12-04 15:23] qiao-bo commented on #3683
@YangYang129, can you uninstall the taichi from pip first? by `pip uninstall taichi`. You need either `pip install taichi` OR build from source. Either is fine, you don't need both. If you want to build from source, follow the build Taichi from source (Windows) part of [this doc](https://docs.taichi.graphics/lang/articles/contribution/dev_install). We provided some scripts that should automate the

[2021-12-04 15:26] lin-hitonami commented on #3683
Maybe uninstalling the old taichi by `python -m pip uninstall taichi` and following the instructions on https://docs.taichi.graphics/lang/articles/contribution/dev_install will help. Also, please notice that this is for taichi developers to install taichi, and if you use it in production, you can simply just `python -m pip install taichi` without cloning the repo. Also, the tests are considered no

[2021-12-04 22:01] AmesingFlank opened #3708 "Vulkan AOT requires materializing runtime"
See the AOT example in PR #3707:
[code]
If the line `program.materialize_runtime();` is removed, then this example crashes.

[2021-12-04 22:06] AmesingFlank commented on #3708
Nevermind. It works if `compile_only` is set to `true` in `add_snode_tree`

[2021-12-05 13:09] SoTosorrow opened #3710 "[0.8.6]: Run Code and get Checking version error"
**Describe the bug**
Desc:
I used taichi==0.8.6 to run a simple taichi-demo, it will report a error at "Checking your Taichi version..."
(the error detail will as follows)
then i re-install the taichi0.8.6 and it get wrong again.
then i close the net-connect and it get wrong again.
then i open the vpn and run again, i'll get nothing wrong.
then i change the version to 0.8.5 and get nothing wrong.

[2021-12-05 22:51] petergu684 commented on #3710
Same issue here. Looks like the `http://ec2-54-90-48-192.compute-1.amazonaws.com/check_version` is not responding.

[2021-12-06 01:06] #3667 closed

[2021-12-06 02:26] SoTosorrow commented on #3710
yes, I have been sought the similar issue but not found that i push this issue.
Beg a pardon for your link? I can not into any valid address

[2021-12-06 02:30] yihong0618 commented on #3710
Beause its a remote api, I think its better give a warning instead of raise an error

[2021-12-06 02:35] SoTosorrow commented on #3710
why did taichi have this remote api? maybe just like "wait a minute, I am looking for the new version"? hahhahaha
And it has some bad influence for the offline code
maybe i should peek the source code

[2021-12-06 03:08] SoTosorrow commented on #3710
I just find the source code and it have been fixed
The issues is outdate! sorry! i'll close the issues

[2021-12-06 03:08] #3710 closed

[2021-12-06 03:10] Leonz5288 commented on #3710
Hi, this is my problem, I assigned the server to a new domain and didn't expected that the old IP is down. Also the error handling was not handled appropriately in the last version. v0.8.6 would be deleted shortly. Sorry for all the inconvenience.

[2021-12-06 03:14] SoTosorrow commented on #3710
Thx for your replay!
by the way, I have expected this is a chance to commit a PR, but I just found the bug had been fixed by yourself
hhahhhah

[2021-12-06 03:31] Leonz5288 commented on #3710
No worries! This API is just a simple version checking function for reminding users about the new versions of Taichi. It was my fault that it accidentally raised an error instead of giving a warning. Already fixed tho.

[2021-12-06 04:21] tszdanger opened #3714 "Unnecessary code"
Hi, guys.

Right now we're checking the potential security issues on taichi. As a beginning, we find some CWEs in this repo.

For example, in ./python/taichi/examples/simulation/euler.py from line 218.

`HLLC = ti.Vector([0.0, 0.0, 0.0, 0.0])
    if (0 <= sL):
        HLLC = fL
    elif (sL <= 0) and (0 <= sM):
        qsL = rL * (sL-vnL)/(sL-sM) \
                  * ti.Vector([1.0, sM*nx-vtL*ny,

[2021-12-06 05:39] k-ye commented on #2734
Hey! Sorry for the delayed reply. Could you check if this is passed to the backend? (IIRC, Metal at least doesn't use this yet. Likely the case for Vulkan)

[2021-12-06 07:44] stamnug opened #3717 "Syntax sugars for ti.types.vector and ti.types.matrix"
ti.vec2 for ti.types.vector(2, ti.float)
ti.vec3 for ti.types.vector(3, ti.float)
ti.vec4 for ti.types.vector(4, ti.float)
ti.mat2 for ti.types.matrix(2,2, ti.float)
ti.mat3 for ti.types.matrix(3,3, ti.float)
ti.mat4 for ti.types.matrix(4,4, ti.float)

[2021-12-06 07:45] #3714 closed

[2021-12-06 07:50] ailzhang commented on #3717
@stamnug Could you elaborate a bit on your use case and why `ti.field(ti.u8, shape=(x,y))` isn't good enough? ;)
Btw would you mind if we update the title to English so that it's easily searchable on search engines? Thanks!

[2021-12-06 08:26] stamnug commented on #3717
标量还好,  向量和矩阵就有点烦了, vec =  ti.Vector.field(n=3, dtype=ti.f32, shape=(x, y, z))  ;  mat = ti.Matrix.field(n=3, m=3, dtype=ti.f32, shape=(x, y, z))  , 而且我个人觉得参数里面填dtype的时候会卡脑子, 我脑子比较简单,三个以上参数就乱,开头ti.Vector或者ti.Matrix相比"vector = ti.i32filed(3, shape=(x,y,z)) ;mat = ti.f64field(4,4, shape=(x,y,z))"这么写估计每个定义要浪费2秒吧,  当然只是个人感觉....
再比如定义复合类型
my_vec2i = ti.types.vector(2, ti.i32)
my_vec3f = ti.types.vector(

[2021-12-06 09:15] #3666 closed

[2021-12-06 09:23] ailzhang opened #3720 "Explore using clang-cl instead of MSVC on windows"
MSVC is so mysterious, maybe clang-cl is easier to work with?
cc: @bobcao3

[2021-12-06 10:00] ailzhang commented on #2489
cc: @turbo0628 This issue is fairly simple in the sense that it just need to grep and delete all the _taichi_skip_traceback lines. But it might give you some sense how the frontend works :D

[2021-12-06 10:01] ailzhang commented on #3146
cc: @turbo0628 This issue might be interesting if you want to learn more about the backend part. :D

[2021-12-06 10:43] YangYang129 commented on #3683
@qiao-bo @lin-hitonami I create a machine, taichi still failed to run test on Windows with MSVC. It can reproduces on version 3951c08.
**Reproduce steps:**
1. git clone https://github.com/taichi-dev/taichi F:\gitP\taichi-dev
2. cd F:\gitP\taichi-dev\taichi
3. git reset --hard 3951c087438a697fc17a14bf603e61d69a2da0cd
4. git submodule update --init --recursive
5. mkdir bin & cd bin
6. pip3 install -

[2021-12-06 11:00] lin-hitonami commented on #3683
This is a known bug and it should already be fixed in the latest master branch.

[2021-12-06 14:59] GostInShell commented on #3332
So is Tachi officially compatible with Ubuntu 16.04 Now？I ran into the following error
``ImportError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by  /xxxxx/envs/taichi/lib/python3.8/site-packages/taichi/core/../lib/taichi_core.so)``
which is also mentioned in #1313. I am just wondering if the latest tachi still support Ubuntu 16.04 with `GLIBC_2.23'.

[2021-12-07 02:02] #3708 closed

[2021-12-07 02:20] turbo0628 commented on #2489
Thanks! It's pretty interesting to trace the code execution path :)

[2021-12-07 03:19] messense commented on #3332
How about distributing a CPU only version of taichi with the name `taichi-cpu` on PyPI? Just like tensorflow has a [tensorflow-cpu](https://pypi.org/project/tensorflow-cpu/) package on PyPI.

[2021-12-07 07:59] FantasyVR opened #3734 "Why from_numpy is faster than kernel initialization"
- Related forum topic: https://forum.taichi.graphics/t/8-fem/2136

- Test script:
[code]
- The results show that
[code]

[2021-12-07 08:34] GostInShell commented on #3332
Thanks for the quick reply! I will try to build from source first.

[2021-12-07 08:48] qiao-bo commented on #3332
That is indeed a viable alternative. Currently we assume most our users employ Ubuntu 18/20.04 for linux OS. If the demand of manylinux CPU-only is there, it should be no problem to have such a version on PyPI. @k-ye @ailzhang WDYT?

[2021-12-07 12:03] strongoier commented on #3734
After printing out the CHI IRs, I find that the `block_dim` set for `from_numpy()` is 128, while the `block_dim` set for your `init()` kernel is 32. As you are using the CPU backend, `block_dim` is the number of iterations handled in a task, and all the tasks will be scheduled to the threads you set. Assume we are using the default setting, where the number of threads equals the number of processo

[2021-12-07 18:02] qweryty commented on #1990
The issue is still present with Blender 2.93.6 and 3.0.0 with taichi 0.8.7 on arch linux; python 3.9
It might be related to a similar issue, I had when trying to use eigen library https://developer.blender.org/T93622

[2021-12-08 01:59] GumpXiaoli opened #3739 "Why not use mpi as one parallelization option when using cpu backend?"
Hello,

I'm an algorithm developer from CAE industry. We usually use mpi as the default parallelizaiton method, especially when two or more computing nodes are needed. In general, MPI+X is the common scheme., and X can be openmp, pthread(rarely used), GPU, etc.

Is there any problem to implement mpi codes in Taichi, or other concerns that i don't know.

Thanks!

[2021-12-08 04:55] #3734 closed

[2021-12-08 06:19] YangYang129 opened #3743 "taichi failed to build on Windows with MSVC on latest version 5953e03"
taichi failed to build on Windows with MSVC on latest version 5953e03, dependence [**taichi-llvm-10.0.0-msvc2019** ](https://github.com/taichi-dev/taichi_assets/releases/download/llvm10/taichi-llvm-10.0.0-msvc2019.zip) and [**clang-10.0.0-win** ](https://github.com/taichi-dev/taichi_assets/releases/download/llvm10/clang-10.0.0-win.zip), "error STL1000: Unexpected compiler version, expected Clang 1

[2021-12-08 06:34] QuellaZhang opened #3745 "[MSVC][std:c++latest] error C2666: '!=': 3 overloads have similar conversions"
Taichi failed to build with /std:c++latest on MSVC. Could you please help look at this issue or provide some workarounds? Thanks in advance.

**Environment**
Compiler version: VS2019 (16.11.5)
Operating system: Windows server 2019

**Reproduce steps:**

1. git clone https://github.com/taichi-dev/taichi c:/
2. cd taichi
3. git submodule update --init --recursive
4. mkdir bin & cd bin
5. C:\Python39

[2021-12-08 06:41] qiao-bo commented on #3743
Hi, thanks for reporting, we will have a look at this. If i understood correctly, version at `590adc` worked for you?

[2021-12-08 07:02] YangYang129 commented on #3743
@qiao-bo Thanks for your reply. When using same build steps, I can build successfully on version 4590adc, but build failed on latest version 5953e03. I need to use latest version to running build and test.

[2021-12-08 07:23] strongoier commented on #2590
Dynamic indexing refers to the following two cases:
[code]

We would like to gradually support this feature with `ti.init(dynamic_index=True)`.

- [ ] If we can finally confirm that this feature will not harm performance of non-dynamic-indexing code, we will make this behavior as default.

A few months ago, @squarefk made a prototype for this in #2543, #2637, #2673, #2773. He also gave a talk (htt

[2021-12-08 07:24] qiao-bo commented on #3743
@YangYang129, [recently](https://github.com/taichi-dev/taichi/pull/3712/files) we changed Ninja as the cmake generator to speedup incremental build. The error is from Ninja picking up Clang-10 in your path. Could you fix this by using Clang>=11 (sorry. currently we don't have a prebuilt pacakge)? or try to run the build inside visual studio environment?

[2021-12-08 07:48] ailzhang opened #3748 "Remove `print_preprocessed` which is no longer used."
After the ast generator refactor `print_preprocessed` is no longer used(replaced by `print_preprocessed_ir`). We should remove it as well as `print_ast` here. https://github.com/taichi-dev/taichi/blob/master/python/taichi/lang/ast/ast_transformer_utils.py#L199-L204
This task should be as simple as removing all of `print_preprocessed` and `print_ast`s.
cc: @lin-hitonami

[2021-12-08 11:07] lucywsq commented on #3151
Hi all, we are so appreciative of your contribution to fixing pylint rules through the “Let’s become Taichi contributors within 10 minutes” program. If you have finished this task, please send an email to **siqiwu@taichi.graphics** with your offline address. We would deliver a hoodie to you. : ) Looking forward to hearing from you!

[2021-12-08 11:31] strongoier opened #3750 "Enhance the default scheduling mechanism of the CPU backend"
**Concisely describe the proposed feature**
Currently, the scheduling mechanism of the CPU backend is similar to `schedule(dynamic, chunk)` in OpenMP where `chunk` is set to `block_dim` in Taichi. Although users can manually specify `block_dim` to get desired behavior, newcomers tend to rely on the default behavior of Taichi.

Now `block_dim` has default value 32 in the CPU backend. However, just

[2021-12-08 12:32] g1n0st opened #3751 "LLVM backends not handle atomic max/min for unsigned int"
**Describe the bug**
Currently LLVM codegen not support atomic_max/atomic_min for unsigned int type (ti.u32/ & ti.u64). But there are not error throwing in frontend and codegen. So the uint atomic_min/atomic_max behavior in cuda and cpu backends is not correctly.

**To Reproduce**

[code]

[2021-12-08 13:10] tszdanger opened #3752 "Unnecessary assignment as it is redefined"
Hi, guys

We found that some assignments are unnecessary as they are redefined.

For example, in /python/taichi/lang/impl.py line 693.

`elif isinstance(_var, (list, tuple)):
                res = _var# the first assignment
                # If the first element is '__ti_format__', this list is the result of ti_format.
                if len(_var) > 0 and isinstance(
                        _var[0

[2021-12-08 13:19] knight42 commented on #2734
@k-ye Hi! As for the Vulkan and OpenGL backend, looks like they initialize the random numbers using a similar ad-hoc method:
* opengl: https://github.com/taichi-dev/taichi/blob/master/taichi/backends/opengl/shaders/random.glsl.h#L19
* vulkan: https://github.com/taichi-dev/taichi/blob/master/taichi/codegen/spirv/spirv_ir_builder.cpp#L936

I am not sure how should we adjust the intialisation to acce

[2021-12-08 14:19] izackwu commented on #3590
Actually, there're even more APIs to deprecate in the codebase, like: (note that some results below are **false-positive**)

[code]

I'll fix true positive cases later.

[2021-12-08 14:21] ailzhang opened #3754 "Reduce windows build script to minimal dependencies"
`install_deps.ps1` in https://docs.taichi.graphics/lang/articles/contribution/dev_install#build-taichi-from-source requires downloading a full vs build tools package which takes ~40mins on my machine. We should identify what're the minimal deps to speed up the build process for windows
cc: @frostming Do you have any insights what can be improved in the script by any chance? ;)

[2021-12-09 01:23] frostming commented on #3754
First, conda is not necessary at all, at least I haven't used conda in either m1 mac or windows 10 to have taichi build successfully. The vanilla Python interpreter should work fine, and we can assume the users already have one on their system.

Second, the only needed dependency is MSVC build tools. We can direct users to the download link, the installer is very user-friendly and IMO it doesn't n

[2021-12-09 01:51] qiao-bo commented on #3754
The question here is whether we automate the process or provide the information to the user. IIUC the choice of Conda is not to install a python environment, but to suggest a convenient way to isolate Taichi python environment with other apps.  Although end users may or may not need this.

Choco is indeed not necessary here (it was needed when we are developing Dockerfile, there using Choco is mor

[2021-12-09 02:08] frostming commented on #3754
I recommend using a virtualenv, in fact, the win build script [is already using it](but to suggest a convenient way to isolate Taichi python environment with other apps). We can extend it to UNIX builds to get rid of the `pip uninstall taichi taichi-nightly` stuff.

git is a basic tool that we can assume users have it. `cmake` is a build requirements and will be installed by `pip install -r requir

[2021-12-09 02:23] ailzhang commented on #3754
@frostming I'm curious if downloading the whole of msvc build tools is necessary for building taichi. My main concern here is downloading that takes 40+mins :P

[2021-12-09 04:20] kxxt commented on #3151
I have fixed W1309, #3757 .

[2021-12-09 05:31] bobcao3 commented on #3754
Even if we avoid MSVC we can't avoid Win 10 SDK.

[2021-12-09 05:34] bobcao3 commented on #3754
Unless we switch to mingw, but I think that's more trouble than what its worth. I still recommend windows developers just install the full Visual Studio, it ships with many useful tools (CMake, MSVC, optionally Clang 13, Win 10 SDK, Ninja, git, etc.) Also when we later add DirectX back end, having the full SDK is quite beneficial.

[2021-12-09 05:36] bobcao3 commented on #3754
In addition, if a developer wishes to build Taichi from source, it's highly likely that the developer also wants debugging capabilities. Visual Studio's debugger is quite good and quite convenient. If the SDK and compilers are installed manually, the user will need to install a debugger as well and in my experience those are really hard to install and use

[2021-12-09 05:39] bobcao3 commented on #3754
As for Chocolatey, I don't think we should use it. The user can decide to use it to install stuff if they want, but we shouldn't just by default install an entire package system. For individual developers (instead of CI environments), Visual Studio GUI installer is great.

[2021-12-09 06:00] qiao-bo commented on #3754
agree, then should we still keep this `install_deps.ps1`?

[2021-12-09 06:06] qiao-bo commented on #3754
To summarize, the `install_dep.ps1` can be deleted. Instead, we add requirements to build Taichi from source, i.e., VS and Python. We recommend full version of VS and Conda. This can go to some requirements section of the dev install page?

[2021-12-09 11:49] JawadurRahman commented on #3748
I would like to make my first contribution hence, I would like to help!

[2021-12-09 13:58] GrapixLeGrand commented on #3656
Hello,

Thanks a lot for the answer and sorry for the late reply (busy studies). I'll have a look a the sources.
Best,
Quentin

[2021-12-09 14:06] GrapixLeGrand opened #3764 "Any parallel sorting on the GPU with Taichi or thirdparty ?"
Hello,

I could not find a thread (nor in the docs) that would cover this subject, therefore I created one. Is there any parallel sorting algorithm in taichi? I'm looking for a radix/counting sort. Is there a known taichi implementation of a radix/counting sort out there? I was considering writing my own following this [paper](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=5395307). However,

[2021-12-09 14:47] cflw opened #3765 "GGUI canvas.set_image() not working on taichi 0.8.6~0.8.7"
examples:
https://github.com/taichi-dev/taichi/blob/master/python/taichi/examples/ggui_examples/fractal3d_ggui.py
https://github.com/taichi-dev/taichi/blob/master/python/taichi/examples/ggui_examples/stable_fluid_ggui.py

[code]

the window is black.

![python_20211209223827](https://user-images.githubusercontent.com/17311509/145416789-0d658277-02de-4875-8a61-5cd4821e6162.png)

[2021-12-09 15:06] ailzhang commented on #3656
Cool we'll close this issue for now, please feel free to reopen if you have any followup questions!

[2021-12-09 15:06] #3656 closed

[2021-12-09 15:30] qiao-bo commented on #3764
[](url)Hi Quentin,
I am not aware of an existing GPU-accelerated sorting algo in Taichi, perhaps other people can comment on this.

Regarding to the atomic assign operation, would this work [(doc)](https://docs.taichi.graphics/lang/articles/basic/type#supported-atomic-operations)?
[code]

[2021-12-09 16:22] GrapixLeGrand commented on #3764
Hello back,

It worked for the atomics, thanks! Now, do you know how to get the max number of global threads?
Best,
Quentin

[2021-12-09 20:27] AmesingFlank commented on #3765
Hi!

This is indeed a bug. I submitted #3767 to fix it, and we should be able to release the fix in the next version. Until then, the workaround would be to always call `set_image` with a `ti.vector.field(4,...)`, where the 4th channel (alpha channel) is set to 1.0 (for float) or 255 (for u8).

[2021-12-10 02:43] #3765 closed

[2021-12-10 04:50] #262 closed

[2021-12-10 04:50] #306 closed

[2021-12-10 04:50] #308 closed

[2021-12-10 04:50] #325 closed

[2021-12-10 04:50] #329 closed

[2021-12-10 04:50] #333 closed

[2021-12-10 04:50] #334 closed

[2021-12-10 04:50] #344 closed

[2021-12-10 04:50] #350 closed

[2021-12-10 04:50] #373 closed

[2021-12-10 04:50] #375 closed

[2021-12-10 04:50] #379 closed

[2021-12-10 04:50] #385 closed

[2021-12-10 04:50] #394 closed

[2021-12-10 04:50] #406 closed

[2021-12-10 04:50] #439 closed

[2021-12-10 04:50] #524 closed

[2021-12-10 04:50] #536 closed

[2021-12-10 04:50] #549 closed

[2021-12-10 04:50] #607 closed

[2021-12-10 04:50] #635 closed

[2021-12-10 04:50] #636 closed

[2021-12-10 04:50] #639 closed

[2021-12-10 04:50] #647 closed

[2021-12-10 04:51] #176 closed

[2021-12-10 04:51] #179 closed

[2021-12-10 04:51] #186 closed

[2021-12-10 04:51] #191 closed

[2021-12-10 04:51] #200 closed

[2021-12-10 04:51] #209 closed

[2021-12-10 04:51] #222 closed

[2021-12-10 04:51] #225 closed

[2021-12-10 04:51] #254 closed

[2021-12-10 04:51] #255 closed

[2021-12-10 04:51] #267 closed

[2021-12-10 04:51] #301 closed

[2021-12-10 04:51] #304 closed

[2021-12-10 05:58] YuCrazing opened #3768 "[GUI] Error when creating GUI in Houdini Python Shell under MacOS environment"
**Describe the bug**
An error occurs when trying to create a GUI in Houdini Python Shell under MacOS environment. Error messages:
[code]
Taichi version: several versions (including `0.8.7`).

A similar report is:   https://github.com/taichi-dev/taichi_houdini/issues/17 .

BTW, there is no such error in the Ubuntu environment.

**To Reproduce**

- A MacBook (non-M1 chip) with Houdini installed.
- c

[2021-12-10 06:33] FantasyVR opened #3769 "[GUI] Couldn't use gui.text"
**Describe the bug**
When I run the [taichi course code](https://github.com/taichiCourse01/--Deformables/blob/master/fem-explicit.py) using Taichi 0.8.7,  AttributeError occurs.

**To Reproduce**
Just run the code with: `python fem-explicit.py`.

**Log/Screenshots**
[code]

**Additional comments**
The source code of `core_vec` is moved to `taichi/python/taichi/tools/util.py`. `gui.py` doesn't impo

[2021-12-10 08:22] lin-hitonami opened #3771 "CI runs cpp tests for multiple times"
**Describe the bug**
The new test script `tests/run_test.py` runs cpp tests by default, and the CI script also manually runs the cpp tests. Moreover, in the GPU test, `tests/run_test.py` is run twice. So, in total the GPU test runs cpp tests for 3 times, and other tests run cpp tests twice. `tests/run_tests.py` seems to have a `-c` option to decide whether to run the cpp tests.

[2021-12-10 15:48] turbo0628 commented on #3764
Is that possible to add some hooks to for external libraries? Many such math functions / permutation utilities are already implemented in vendor libraries, CUB for example.

[2021-12-10 16:09] turbo0628 commented on #3739
X can be Taichi in the MPI + X common scheme. In the current version, you can temporarily solve this problem by combining MPI4py + Taichi. This solution should work well with coarse-grained parallelism (many processes, each process can be solved with an independent smaller Taichi kernel),  but shall not tackle with fine-grained parallelism (grand taichi field distributed over a large compute clust

[2021-12-10 16:11] qiao-bo commented on #3764
Very good point! CUB exposes very efficient permutation utilities, and it's hard to be better ;). Although in Taichi we want to avoid Vendor lock-in, having some external libs could still be a good start...

[2021-12-10 16:36] turbo0628 commented on #3764
Integration of any platform-specific library would definitely make Taichi less consistent, especially when switching among hardware backends. I totally agree that vendor lock-in should be avoided for Taichi, especially in the current stage. The alternative approach is to mimic vendor library with some consistent primitives. However, it has already been proven to be a hard task in TVM. The TVM comm

[2021-12-11 21:28] whorfin opened #3775 "excepthook=True and ti.enable_excepthook() broken - breaking change? [v0.8.7]"
**Describe the bug**
calling `ti.init()` with `excepthook=True` or calling `ti.enable_excepthook()` now fail with version 0.8.7.
It appears that this was introduced by 36ca6f1f14c58f6319aeac6c2053c863fe99f7ff via #3671
Discussion in the commit indicates this might have been intentional (?) but the documentation still references it and so does code in the release.  If this is indeed going away, it

[2021-12-12 06:29] strongoier commented on #3769
Closed by #3770.

[2021-12-12 06:29] #3769 closed

[2021-12-12 07:36] #3590 closed

[2021-12-12 07:43] strongoier commented on #3625
Hi @bolin12 @lyd405121
Could you help confirm whether v0.8.7 works for you? Thanks!

[2021-12-12 07:53] bolin12 commented on #3625
All fixed. Thanks!

[2021-12-12 07:53] #3625 closed

[2021-12-12 09:57] bobcao3 commented on #3745
Hello! Does this happen when you use `c++17`? We have not tried the latest C++ yet, it seems like some operator overload is actually added or something to the latest c++

[2021-12-12 09:58] bobcao3 commented on #3717
Maybe something like vec3 in taichi_glsl?

[2021-12-12 10:10] bobcao3 commented on #3595
I think usually people just draw lines with different color on each end. (e.g. white to red, the red tip points to the vector direction) You can write a simple helper function of your own to invoke the line drawing routine.

[2021-12-12 10:10] #3595 closed

[2021-12-12 10:10] #3578 closed

[2021-12-12 10:20] bobcao3 commented on #3512
Can not reproduce this error on Mac with the metal back end. I'm assuming this is fixed in the current version, closing the issue for now. If the problem persists, please feel free to re-open it.

[2021-12-12 10:20] #3512 closed

[2021-12-12 10:22] bobcao3 commented on #3416
Fixed in #3432. Variable width line is not supported yet, but since that's a different issue, closing this one for now.

[2021-12-12 10:22] #3416 closed

[2021-12-12 10:23] #3413 closed

[2021-12-12 10:23] #3320 closed

[2021-12-12 10:27] bobcao3 commented on #3316
Closing this for now, since this will be automatically done once we move over to SPIR-V based GL codegen (SPIR-V code gen is already separate from the runtime). The problem of constant folding JIT evaluator still stands, but that's a different issue.

[2021-12-12 10:27] #3316 closed

[2021-12-12 10:31] bobcao3 commented on #3240
Seems like all the issues in here are fixed at this point. With regard to the vulkan test one, #3456 enabled vulkan test and it seems they are all passing. Closing this issue for now

[2021-12-12 10:31] #3240 closed

[2021-12-12 10:32] bobcao3 commented on #3214
This issue is fixed as of now. (GL_INVALID_OPERATION bug)

[2021-12-12 10:32] #3214 closed

[2021-12-12 10:33] #3018 closed

[2021-12-12 10:33] #2992 closed

[2021-12-12 10:34] #2936 closed

[2021-12-12 10:59] ailzhang commented on #1988
Closing this issue for now, please refer to https://github.com/taichi-dev/taichi/issues/2398 for a up-to-date version of our one year roadmap.

[2021-12-12 10:59] #1988 closed

[2021-12-12 11:17] ailzhang commented on #3775
Hey @whorfin, thanks for reporting the issue! Yea the removal was indeed intended but we could have done it better by deprecating it first. So sorry for the inconvenience!

Some context: This exceptionhook was introduced to simplify/prettify the traceback when exception is thrown. But we (by we I meant @lin-hitonami  :P ) have refactor the frontend ast generator so hiding python stack trace is no

[2021-12-12 20:14] AmesingFlank opened #3781 "[RFC] Taichi on Javascript"
I'm writing this RFC to share my thoughts and plans to build a version of Taichi completely embedded in Javascript, with the hope of getting production-level applications to use Taichi, and thereby increasing the impact of Taichi as a programming language.

Currently, Taichi uses Python as the host language. Thanks to Python's simplicity, Taichi enables programmers with little GPU experiences to h

[2021-12-12 20:32] AmesingFlank commented on #3781
Regarding SPIR-V to WGSL, the biggest pain point is atomics. To understand the problem, please have a look at [this discussion](https://github.com/gpuweb/gpuweb/issues/2377).

TLDR:
* In WGSL, atomic operations can only be applied to `atomic<T>` types. And there is no way to convert a `T*` to a `atomic<T>*`.
* If we wish to perform any atomic operations at all on a buffer, we would need to promote

[2021-12-13 00:59] #3683 closed

[2021-12-13 01:01] bobcao3 commented on #2813
Related: #3781 #2398

[2021-12-13 01:01] #2813 closed

[2021-12-13 01:02] #2646 closed

[2021-12-13 01:07] bobcao3 commented on #2331
We are binding to python using pybind and I don't think micro python has all the required features to support this. I don't think it's really possible, maybe AOT is a better solution in these cases. Closing this issue for now

[2021-12-13 01:07] #2331 closed

[2021-12-13 01:10] #2217 closed

[2021-12-13 01:10] #1989 closed

[2021-12-13 01:15] bobcao3 commented on #1667
Multi-context is a hard thing to do on OpenGL. We won't know whether we have entered or leaved a context, and it is costly to check every time we do anything. Using another thread is the better option here.

[2021-12-13 01:15] #1667 closed

[2021-12-13 01:16] bobcao3 commented on #1610
Duplicated with the other performance issue #2324. Closing this one for now

[2021-12-13 01:16] #1610 closed

[2021-12-13 01:16] #1580 closed

[2021-12-13 01:23] bobcao3 commented on #1445
This might be running on the CPU back end? I don't think our CPU backend has yet restored vectorization, so it's very possible that it's slower. However if you run it with the GPU backend it should be better. Closing this issue for now, seems to be a known problem

[2021-12-13 01:23] #1445 closed

[2021-12-13 01:23] #1373 closed

[2021-12-13 01:25] #1363 closed

[2021-12-13 01:25] #1332 closed

[2021-12-13 01:26] ailzhang opened #3782 "Python frontend API cleanup"
## Motivation:
We are in the process of revamping our [API doc site](https://api-docs.taichi.graphics/) and found that we currently expose a lot of internal data structures / functions to users. While this problem can be partially resolved by not showing them on the website through a config file, we'd like to take this opportunity to refactor & cleanup our python frontend as well. We believe it'll

[2021-12-13 01:27] bobcao3 commented on #1191
Metal AOT module is up and running rn, closing the issue

[2021-12-13 01:27] #1191 closed

[2021-12-13 01:28] #1142 closed

[2021-12-13 01:28] #1096 closed

[2021-12-13 01:42] bcolloran commented on #3764
@GrapixLeGrand following your work here with interest! If you get a working implementation, please post details back here if you are able to share :-)

[2021-12-13 01:48] bobcao3 commented on #878
Should be supported as of now.

[2021-12-13 01:48] #878 closed

[2021-12-13 01:52] lyd405121 commented on #3625
Fixed :)

[2021-12-13 01:55] bobcao3 commented on #3781
WebGPU is not a stable API by any means and the atomic issue also originates from their persistence to use WGSL instead of a common standard. This does not sound like an addressable issue in any way, we might want to straight up limit atomic capabilities on WGSL all together. This is my personal opinion, but I feel like if the platform did not allow flexibility, we should not try to "fix" it by ha

[2021-12-13 01:57] bobcao3 commented on #3781
Would it be reasonable to make this work two-parted. The first part is the front-end, and we can use bindings such as https://github.com/maierfelix/nvk to allow at least node.js front-end to work with Vulkan. The second part would be the backend where we figure out WebGPU and WGSL

[2021-12-13 02:25] AmesingFlank commented on #3781
I more or less agree. I hate the idea of hacking around it either. But this would essentially mean we would support **no** atomics at all, and that's not great. Virtually all of the physical simulation programs in taichi requires atomics. Not having atomics is a huge limitation.

That makes sense. Although I wouldn't invest too much time into a node-only version if it turns out to be a lot of work

[2021-12-13 03:00] strongoier commented on #3775
Besides #2489, we should also remove all occurrences of `excepthook` (https://github.com/taichi-dev/taichi/search?q=excepthook). :-)

[2021-12-13 03:04] #3675 closed

[2021-12-13 05:27] #2326 closed

[2021-12-13 05:29] bobcao3 commented on #3743
This is also a bug in our setup.py, should be fixed when https://github.com/taichi-dev/taichi/pull/3735 is merged. We also need to update the installation docs

[2021-12-13 05:32] k-ye commented on #3764
This sounds like an interesting direction!

FYI we have some basic experiments regarding how to integrate with vendor/external libs. One example is the Sparse Matrix feature on top of Eigen (https://github.com/taichi-dev/taichi/pull/2792). Another one being @squarefk 's external LLVM bitcode call support (https://github.com/taichi-dev/taichi/pull/2873). Clearly, these are prototypes, rather than a

[2021-12-13 06:32] lin-hitonami opened #3783 "Add support for operator "in""
**Concisely describe the proposed feature**
Taichi itself does not support operator `in`. However, before the refactoring of the AST transformer, code like `if ti.static(dtype in [ti.f32, ti.f64]):` can run perfectly because they were handled by Python instead of taichi AST transformer. Sadly, these code can no longer run after the refactoring because all the expressions are evaluated by the AST t

[2021-12-13 06:47] lin-hitonami opened #3784 "Error message too long when error occurs in For/FunctionDef nodes"
**Describe the bug**
When an error occurs in a node with `body` (for example, For, If, FunctionDef nodes), the error will contain the body as well, which is not necessary.

**To Reproduce**

[code]

**Log/Screenshots**
[code]

[2021-12-13 07:14] lin-hitonami opened #3785 "Re-raised exceptions generates redundant tracebacks in AST transformer"
**Describe the bug**
The current error reporting mechanism of the AST transformer catches exceptions, adds the tracebacks in taichi program and re-raises the exception again and again until it is thrown outside the transformer. This makes python generate tracebacks to each exception and shows `During handling of the above exception, another exception occurred` because the program throws exceptions

[2021-12-13 07:21] #3751 closed

[2021-12-13 07:40] lin-hitonami opened #3787 "Vulkan backend cannot run on Mac unless manually installing MoltenVK or Vulkan SDK"
**Describe the bug**
Although taichi now ships a copy of `libMoltenVK.dylib` in the package, it is not correctly used by `taichi_core.so`. By executing `otool -L` on `taichi_core.so`, we can see that `taichi_core.so` uses the dylib in the homebrew directory instead the one in the package. Following is the output:
[code]
Executing `install_name_tool -change /opt/homebrew/opt/molten-vk/lib/libMolten

[2021-12-13 09:06] ailzhang commented on #3787
cc: @bobcao3
Maybe worth trying https://cmake.org/pipermail/cmake/2006-June/009758.html?

In the worst case this can be fixed by adding a post build step, similar to https://coderedirect.com/questions/546925/how-do-you-add-an-rpath-to-an-executable-in-cmake-on-build-not-install-on-osx.

[2021-12-13 09:38] yuanming-hu commented on #3783
Sorry I'm a little confused - are you talking about supporting `in` in `ti.static(...)` only, so that the expression can be evaluated at compile-time, or further adding such support to normal Taichi code which is later run-time evaluated (e.g., on GPUs)?

[2021-12-13 09:45] lin-hitonami commented on #3783
The evaluation of operator `in` is handled at compile-time now, and it does not matter whether it is in `ti.static`. Maybe we should limit it only inside `ti.static`.

[2021-12-13 09:46] lin-hitonami commented on #3783
However, it can work on code like `if 1 in [1, 2]`, it simply translate it to `if True`

[2021-12-13 09:48] strongoier commented on #3783
IMHO the main question here is whether we are going to support a list of Taichi objects (say `Expr`s).

[2021-12-13 09:48] yuanming-hu commented on #3783
Agreed. We can stick to the old behavior before the AST refactoring.

IMHO testing if a number is within a list is not really a frequent use case. If that need happens users can simply translate that into something like `a == 1 or a == 2`.