[2022-03-01 14:47] stamnug commented on #4408
are you solved it? can you upload your taichi_core.dll to me? i have same error, but it is really no exist.

[2022-03-01 16:39] 0xzhang commented on #4408
@stamnug Maybe you could found it under `runtimes/Release/`.

[2022-03-01 16:42] stamnug commented on #4408
@0xzhang  no, it is really no exist. Can you send a copy to me?  987004590@qq.com

[2022-03-01 18:31] bcolloran commented on #4283
related to this: it would be convenient to be able to specify that windows will be created with a fixed size, and to have an API to set the size of a window.

[2022-03-01 18:56] bcolloran commented on #4421
I wonder if option 2 might be somehow more "Pythonic"? -- I suspect that for many Python users it might look a bit unfamiliar that `ti.seq_loop()` would alter the behavior of the following loop, because it's not a pattern that is possible in other Python code, but a `with` block often signifies that something special is happening in the enclosed block.

(On the other hand, perhaps Python users sim

[2022-03-01 19:18] stamnug commented on #4421
why not add a new keyword?

[2022-03-01 19:29] bobcao3 commented on #4410
What's the verdict on automatic promotion? Also IMO that warning should be an compiler error due to pointer type mismatch.

[2022-03-01 19:31] bobcao3 commented on #4408
Is it running from the x64 developer shell? If it is, can you try directly running the command `ninja` to check whether that is there or not?

[2022-03-01 19:38] whorfin opened #4425 "0.9.0 removed ti.mod, update docs?"
**Describe the bug**
More 0.8.8 code broken by 0.9.0

[code]

[code]
Should this go in [Taichi v0.9 API changes](https://docs.google.com/spreadsheets/d/1FMECCsPMVDjzFN9p3Xy2e4CaA-ru9-lIHb1if-7zgLY/edit#gid=0)?

[2022-03-01 19:51] whorfin commented on #4414
Thank you for the clear explanation and recommended solution, this solved my problem.

[2022-03-02 01:07] qiao-bo commented on #4425
cc @strongoier

[2022-03-02 01:16] k-ye commented on #4421
Either way, I suggest us to converge to a more generic compiler hint approach. Instead of adding a new API for each knob, we can just  make them parameters to a function such as `ti.loop_config()`?

[2022-03-02 01:22] k-ye opened #4426 "Remove LLVM logic from the generic Device interface"
I'm talking about this part https://github.com/taichi-dev/taichi/blob/1915a80272ac7e7008c8b22b2a1eb5f67fd54202/taichi/backends/device.h#L397-L414

We can see if there's a  better way to avoid specific backend info from being leaked into this generic interface.

[2022-03-02 02:47] qiao-bo commented on #4426
Perhaps an extra layer such as llvm_device or spirv_device between the generic device interface and all backends?  Currently, anything shared between cpu and cuda will probably go to the generic device interface, which yields leak.

[2022-03-02 02:50] strongoier commented on #4425
Users can always simply write `a % b` just as in Python. `ti.mod()` was previously an accidentally-exposed internal API, so we decided to hide it.  @lin-hitonami Shall we record these changes in [Taichi v0.9 API changes](https://docs.google.com/spreadsheets/d/1FMECCsPMVDjzFN9p3Xy2e4CaA-ru9-lIHb1if-7zgLY/edit#gid=0) as well?

[2022-03-02 03:55] lin-hitonami commented on #4425
Yes, I think so too.

[2022-03-02 05:02] #4414 closed

[2022-03-02 05:29] strongoier commented on #4425
Could you help record them? You know them best I guess :-)

[2022-03-02 05:37] k-ye commented on #4426
+1, sounds like the right direction.

[2022-03-02 09:57] strongoier commented on #4314
@lin-hitonami Did we ban this behavior?

[2022-03-02 12:32] lin-hitonami commented on #4250
Yes, but it seems that we are passing the traceback info to the Expr class in C++? https://github.com/taichi-dev/taichi/blob/master/python/taichi/lang/expr.py#L37

[2022-03-02 12:46] lin-hitonami commented on #4314
It seems that it was banned at least two years ago... You should only use the syntax sugar `a = ti.static(b)` on fields and functions according to the [documentation](https://docs.taichi.graphics/lang/articles/advanced/syntax_sugars).

[2022-03-02 12:51] lin-hitonami commented on #4314
It seems that it was banned at least two years ago... Maybe we assumed that class members are all scalars or fields...

[2022-03-02 13:23] stamnug commented on #4381
@k-ye
after considered, i find it is more suitable that the field supply a method that receive a filter and return a it's subfield.  this subfield has every features of field, but it's data is a reference of parent field. i still think it should be implemented as a mask class.
BTW, the c++ code of Taichi seems is generated by  ASTTransformer transforming a python code. Can i directly write a c++ c

[2022-03-03 01:23] qiao-bo commented on #4304
@neozhaoliang this has been fixed, right? can you mention this issue in the fix PR and close this one. Thanks!

[2022-03-03 01:26] qiao-bo commented on #4315
cc @strongoier

[2022-03-03 01:27] qiao-bo commented on #4350
@lin-hitonami, did we fix this already?

[2022-03-03 01:31] qiao-bo commented on #4388
Hi, did you try the trace mode? `ti.print_kernel_profile_info('trace')`. The trace mode works with GPU only at the moment.

[2022-03-03 01:34] neozhaoliang commented on #4304
It has not been fixed yet,  but not of high priority.

[2022-03-03 01:38] qiao-bo commented on #4072
Hi, would you mind close this issue if your question has been answered?  thanks

[2022-03-03 01:40] qiao-bo commented on #4324
Did we change the doc or had a fix already? can we close this issue?

[2022-03-03 01:45] neozhaoliang commented on #4388
@qiao-bo It works, thanks!

[2022-03-03 01:49] #4388 closed

[2022-03-03 02:09] ZeyingXuHuaWei opened #4434 "how to draw lines in GGUI?"
Hi,   I want to display line segments in 3D space. I guess that ggui scene can only draw mesh and particles, then how to draw line segments?    Sometimes we just want to visualize the edges of a mesh instead of faces. Thank you.

[2022-03-03 02:55] strongoier commented on #4250
Yes the missing info can be fixed. However, even if it is fixed, the result info will be the traceback mostly inside the ASTTransformer instead of anything locating source code.

[2022-03-03 03:51] lyd405121 commented on #4314
Ok，I see
[code]
I just change "tool = ti.static(self.tool)" to "tool = self.tool"

[2022-03-03 03:51] #4314 closed

[2022-03-03 05:57] ailzhang commented on #3800
The first part is done on opengl and vulkan, but "offloaded task is iterating over, and directly compute the number of threads required by checking the shape of the binding Ndarray." is wip.

[2022-03-03 06:03] ailzhang commented on #3988
need element_shape info in vulkan backend as well.

[2022-03-03 06:04] ailzhang commented on #3988
need update android ndarray tutorial as well.

[2022-03-03 06:06] ailzhang commented on #4102
Closing via https://github.com/taichi-dev/taichi/issues/4102#issuecomment-1020291163, please feel free to reopen if you have other questions!

[2022-03-03 06:06] #4102 closed

[2022-03-03 07:51] qiao-bo commented on #4434
Hi, have you checked the GUI doc? https://docs.taichi.graphics/lang/articles/gui/ggui

[2022-03-03 07:52] qiao-bo commented on #4434
cc @AmesingFlank

[2022-03-03 11:12] AmesingFlank commented on #4434
We don't have support for lines in 3D scenes yet :<

[2022-03-03 11:29] RussellZhangYo commented on #4072
Thank you！

[2022-03-03 11:29] #4072 closed

[2022-03-03 15:15] mackrol commented on #4421
For sequential loops I do
[code]
No need for decorator,

[2022-03-03 18:00] eatcosmos commented on #3781
What about webgl Oasis Engines, is three any relation between Taichi.js and Oasis or Three.js in technology？
[Oasis Engine \- Mobile first web graphic engine](https://oasisengine.cn/)
[支付宝App 3D动画和小游戏背后的故事\_前端\_曾柏然\_InfoQ精选文章](https://www.infoq.cn/article/w1f7zziah1aud5dp6kui)

[2022-03-03 18:34] RuRo opened #4441 "Backend documentation."
I wasn't able to find a comprehensive description of the available backends in the documentation (CPU backends in particular).

Here are some questions, that don't seem to be addressed in the current documentation. (It's possible, that I just suck at RTFM, but I wasn't able to find this info)

# Backends

Is there a list of all supported backends with proper descriptions for them somewhere?

- `gp

[2022-03-03 23:08] bobcao3 commented on #4441
Hi! The `cpu_max_num_threads` is only for the CPU backend. (currently only x64 and arm64) For other backends this would not make a difference. As for the actual thread scheduling, I don't think we schedule much at all. We use grid strided loops and we only launch enough threads to occupy the CPU. I don't think openmp or TBB is used currently anywhere. As for the codegen / runtime, they do not use

[2022-03-03 23:53] bobcao3 commented on #3781
There isn't much in common at all. Taichi.js is a compiler codegen and JIT runtime system that compiles your JS code into GPU kernels. These examples are graphics and rendering engines, they are very different things. So, no relation in them at all.

[2022-03-04 01:12] qiao-bo commented on #4441
Agree that much backend related information is missing in the doc. A section on backend selection process sounds a good plan.

[2022-03-04 01:59] mzmzm opened #4445 "Unify the type system in python and cpp"
## Problem
In the current version of taichi, some types have been implemented in python(like `ti.Matrix`). It does not make sense. Those implementations need to be moved to taichi-scope so that we can make sure the scalability. Another problem is that the store location of data is different between the definition in python-scope and the definition in taichi-scope. It will have some potential bugs

[2022-03-04 02:14] lin-hitonami commented on #4350
Not yet.

[2022-03-04 02:18] lin-hitonami commented on #4023
Fixed by #4356.

[2022-03-04 02:18] #4023 closed

[2022-03-04 02:40] lin-hitonami commented on #4425
Updated.

[2022-03-04 02:40] #4425 closed

[2022-03-04 05:18] lin-hitonami commented on #4324
The outermost loop which is not in the outermost scope is not parallelized. We should change the code to allow `break` in these loops.

[2022-03-04 05:55] yuanming-hu commented on #4421
Another cent from me: `serial` may be a better name compared to `sequential`. It's clearer and shorter.

[2022-03-04 08:26] frostming commented on #2790
Closing since it can't be reproduced using the latest version.

[2022-03-04 08:26] #2790 closed

[2022-03-04 08:28] frostming commented on #3970
This needs extra GitHub action listening to the `closed` events. But IMO this is acceptable.

[2022-03-04 08:36] mackrol opened #4449 "No iterations in a mixed forward, reverse ndrange"
Mixed forward, reverse ndrange yields no iterations regardless of selected architecture
[code]
gives:
[code]

[2022-03-04 08:45] #4238 closed

[2022-03-04 08:45] #4324 closed

[2022-03-04 08:52] zixichen007115 opened #4450 "affine velocity in mpm"
In [mpm99.py,](https://github.com/taichi-dev/taichi/blob/master/python/taichi/examples/simulation/mpm99.py) C is updated by 4 * inv_dx * weight * g_v.outer_product(dpos). However, according to the paper '[The Affine Particle-In-Cell Method](https://www.math.ucla.edu/~jteran/papers/JSSTS15.pdf)', C = B * (D)^-1, and B=weight * g_v.outer_product(dpos), D=inv_dx * inv_dx / 4. A 'inv_dx' is missing.

[2022-03-04 08:56] mackrol commented on #4449
Results are the same in version 0.9.0
[code]

[2022-03-04 09:50] qiao-bo commented on #4450
cc @FantasyVR

[2022-03-04 09:53] qiao-bo commented on #4449
cc @lin-hitonami

[2022-03-04 10:03] mackrol opened #4451 "Float initialization with integer literal regression"
Regression w.r.t. to 0.8.11, in 0.9.0 float variable cannot be initialized with integer literal.
[code]
Results:
[code]

`0` worked in 0.8.11, in 0.9.0 only `0.0` works. Although strictly correct, this change breaks lots of scripts.

[2022-03-04 11:00] AmesingFlank commented on #4450
The `dpos` in `mpm99.py` is in grid coordinate space:
[code]
This means that it is contains a factor of `inv_dx`

In the APIC paper, the outer product is written as
[code]
The `x` here are all world-space coordinates.

[2022-03-04 11:58] qiao-bo commented on #4451
cc @strongoier @lin-hitonami

[2022-03-04 12:05] strongoier commented on #4451
Thanks for reporting this! This is indeed a bug and I will help fix this in v0.9.1.

[2022-03-04 14:50] eatcosmos commented on #3781
| run [taichi.js demo](https://amesingflank.github.io/taichi.js/zoo/index.html) in mobile chrome | run [three.js demo](https://threejs.org/examples/#webgl_animation_skinning_morph) in mobile chrome | run [oasis.js demo](https://oasisengine.cn/0.6/examples) in mobile chrome |
|---|---|---|
| ![2](https://raw.githubusercontent.com/eatcosmos/assets/master/2.7bfdoa6b36g0.jpg)  | ![1](https://raw.githu

[2022-03-04 15:26] AmesingFlank commented on #3781
@eatcosmos Taichi.js runs on WebGPU, which is not supported by mobile chrome yet.

Of course I hope that in the future, mobile chrome/safari will support WebGPU and thus Taichi.js. But at this point there's no telling how long that would take.

[2022-03-04 15:37] eatcosmos commented on #3781
but mobile has no gpu, three.js could work, three.js use webgl , taichi.js not use webgl?
Then will taichi.js do the webgl's work , so taichi.js can work in mobile chrome without using webgl?

[2022-03-04 15:41] AmesingFlank commented on #3781
@eatcosmos Three.js uses WebGL, which is a legacy API, and is well-supported by mobile browsers. Taichi.js uses a new API called WebGPU, which is aimed to replace WebGL, but has a long way to go from actually doing so.

[2022-03-06 02:38] k-ye commented on #3781
FYI you can track Chrome's support status of WebGPU in https://chromestatus.com/feature/6213121689518080. It doesn't mention mobile Chrome yet, but this is almost a guaranteed thing.

[2022-03-06 14:42] 0xzhang commented on #4408
Yes

Yes. I have confirmed this problem. I havn't notice the command enviroment described in docs. I used PowerShell and got this error. Previously, the generator is `Visual Studio 16 2019`. Switch to `Ninja` gonna be ok.

[2022-03-06 14:42] #4408 closed

[2022-03-06 14:46] #4407 closed

[2022-03-07 03:57] neozhaoliang opened #4455 "ti.atomic_min gives wrong result when an argument is a matrix"
For all atomic operations `ti.atomic_min`, `ti.atomic_max`, `ti.atomic_add`, `ti.atomic_sub`, `ti.atomic_and`, `ti.atomic_xor`, they always return the first argument when this argument is a matrix, and raises error if the first argument is a scalar and the second one is a matrix:

[code]

[2022-03-07 04:29] neozhaoliang opened #4456 "ti.profiler.print_kernel_profiler_info() raises divide by zero error occasionally"
The last line `ti.profiler.print_kernel_profiler_info()` in the folllowing code raises the `DivisionByZero` Error occasionally if it's executed several times:

[code]

[2022-03-07 04:32] PGZXB commented on #4426
I would like to work on this. @k-ye

[2022-03-07 04:55] strongoier commented on #4455
1. According to https://docs.taichi.graphics/lang/articles/basic/operator#supported-atomic-operations, the return value of an atomic operation is the old value of first argument.
2. The first argument must be some writable destination, so using a constant doesn't make sense.

[2022-03-07 05:27] k-ye commented on #4426
Thanks, your now :-)

[2022-03-07 05:47] neozhaoliang commented on #4455
Thanks, just learned that.

[2022-03-07 06:13] yuanming-hu opened #4459 "Cannot reuse anonymous variables to receive multiple return values with different types"
**Describe the bug**
Cannot reuse anonymous variables to receive multiple return values with different types.

**To Reproduce**

[code]

[code]

[2022-03-07 06:16] ailzhang commented on #4455
Closing via https://github.com/taichi-dev/taichi/issues/4455#issuecomment-1060193714

[2022-03-07 06:18] ailzhang commented on #4455
Reopening since the error message here can be improved indeed, I currently get `cannot augassign taichi class <class taichi.lang.matrix.Matrix> to scalar expr` which is less obvious to users what they did wrong. Will send a PR for it.

[2022-03-07 07:49] qiao-bo opened #4464 "Undefined reference to backend-specific symbols"
Currently, compiling Taichi with a specific backend can be enabled/disabled by `TI_WITH_{CUDA,VULKAN,METAL...}=ON/OFF`. However, this env also controls the inclusion of source files (particular headers) in CMake.

For example Vulkan
https://github.com/taichi-dev/taichi/blob/0a1b9a63f1c9468c008658b4140919b59e0ebd78/cmake/TaichiCore.cmake#L178-L181
https://github.com/taichi-dev/taichi/blob/0a1b9a63f

[2022-03-07 08:07] qiao-bo commented on #4464
compiling current master with `-DTI_WITH_METAL:BOOL=OFF` yields the following error:
[code]

[2022-03-07 08:48] #4451 closed

[2022-03-07 09:32] chuiliuyiyi opened #4466 "How to slice"
How to slice
for example
a = ti.field(ti.f32,10)
b = a[0:9]

[2022-03-07 10:24] neozhaoliang opened #4468 "Accessing a destroyed field causes segment fault after reset()"
When trying to access the global field `a` after calling `ti.reset()`, the program results in a segment fault.

[code]

[2022-03-07 11:45] #4350 closed

[2022-03-07 13:56] ailzhang commented on #4466
@chuiliuyiyi I believe this only works after https://github.com/taichi-dev/taichi/pull/4420/files, so might be give nightly a try?
`pip install -i https://test.pypi.org/simple/ taichi-nightly`

[2022-03-07 13:57] ailzhang commented on #4464
Closing via #4469

[2022-03-07 13:57] #4464 closed

[2022-03-07 14:31] strongoier commented on #4466
@ailzhang That PR is about matrix slicing instead of field slicing :-(

[2022-03-07 14:33] ailzhang commented on #4466
Aha right, thanks for reminding! yea field slicing is not supported yet....

[2022-03-08 01:22] qiao-bo commented on #4395
GCC 4.8 comes with [CXXABI 1.3.7](https://gcc.gnu.org/onlinedocs/libstdc++/manual/abi.html). Maybe first try if the wheel works with this image (quay.io/pypa/manylinux2014_x86_64)? If yes, option [b] will probably have the same result.

[2022-03-08 01:57] strongoier commented on #4395
Same error appears on `quay.io/pypa/manylinux2014_x86_64`. The magic image works by updating GCC without updating `libstdc++`, so we can still only use `CXXABI 1.3.7`.

[2022-03-08 02:27] qiao-bo commented on #4395
[This dockerfile](https://github.com/taichi-dev/taichi/blob/master/ci/Dockerfile.manylinux2014.cpu) builds Taichi on CPU using the image. It is useful as a starting point.

[2022-03-08 02:39] erizmr opened #4471 "Confused error message when ti.init() is not called"
**Describe the bug**
Confused error message when `ti.init()` is not called. It does not remind the user that `ti.init()` should be called first.

**To Reproduce**

[code]

**Log/Screenshots**
![image](https://user-images.githubusercontent.com/33411325/157155366-3524e016-fa4b-4752-a001-3d02275c02b8.png)

[2022-03-08 02:54] erizmr opened #4473 "No proper error message for autodiff not supporting `to_numpy` and `from_numpy`"
**Describe the bug**
No proper error message for autodiff not supporting `to_numpy` and `from_numpy`.
The reason for this bug is that autodiff not supporting external arrary currently, the `dest` of a `GlobalStoreStmt` cannot be a `ExternalPtrStmt` , thus an assertion failure raised.

**To Reproduce**

[code]

**Log/Screenshots**
![image](https://user-images.githubusercontent.com/33411325/15715675

[2022-03-08 05:26] strongoier commented on #4426
Closed via #4470.

[2022-03-08 05:26] #4426 closed

[2022-03-08 10:30] neozhaoliang opened #4478 "ti.ndrange accepts float arguments"
`ti.ndrange` also accepts float arguments, which causes undesired behavier:

[code]

[2022-03-08 10:43] ayanlv opened #4479 "An error occurred when using “if-else” statements in the ti.static loop"
The k loop is only executed twice when using ti.static
[code]

The k loop is executed normally when using range()
[code]

[2022-03-08 10:48] TCChenlong opened #4480 "【PaddlePaddle Hackathon 2】89、增加 Taichi 和 PaddlePaddle 高效结合的案例"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：增加 Taichi 和 PaddlePaddle 高效结合的案例。

- 技术标签：深度学习框架，高性能计算。

- 任务难度：简单。

- 详细描述：选取一个 PaddlePaddle 中暂不支持的 op，使用 Taichi 编写该 op 的并行实现，并在一个 PaddlePaddle 和Taichi的交互案例中展示效果。

  - 注意本题目为开放性题目，需要在题目一的基础上完成。

- 相关实现：[如需使用可微分op，请参考 Taichi 中与 torch autogra

[2022-03-08 11:24] k-ye commented on #4450
Closing, feel free to reopen if  you have additonal questions thx!

[2022-03-08 11:24] #4450 closed

[2022-03-08 11:25] AAUfoa opened #4481 "support export .jpg with RGBA channels, set background unseen?"

[2022-03-08 11:36] k-ye commented on #4441
Thanks for bringing this up @RuRo . These are really great questions!

The best you could find as of now is in https://docs.taichi.graphics/. Please do note that only the CPU/CUDA backends are feature complete currently. Other backends mostly only support `dense` SNodes.

Maybe the best way to explain this for now is a code walkthrough.

You're absolutely right that `gpu` is just a virtual name fo

[2022-03-08 11:47] TCChenlong opened #4482 "【PaddlePaddle Hackathon 2】88、实现 Taichi 和 PaddlePaddle 之间的无拷贝交互"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：实现 Taichi 和 PaddlePaddle 之间的无拷贝交互。

- 技术标签：深度学习框架，高性能计算。

- 任务难度：中等。

- 详细描述：

- 深度学习框架如 PaddlePaddle 与 Taichi 的结合使用，可以使开发新的 op 更加高效快速。得益于 Paddle Tensor 的内部由一块连续内存实现，Taichi 和 Paddle 之间可以实现同硬件上的无拷贝交互，即 Taichi kernel 直接操作 PaddlePaddle 。Tensor

[2022-03-08 12:15] TCChenlong opened #4483 "【PaddlePaddle Hackathon 2】Taichi 任务合集"
大家好，非常高兴地告诉大家，第二期 [PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon-2022-03?fr=paddleg) 开始了。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle 开源社区。本次共有四大专区：PaddlePaddle、Paddle Family、Paddle Friends、Paddle Eval，共计100+个任务供大家认领。详细信息可以参考 [PaddlePaddle Hackathon 说明](https://www.paddlepaddle.org.cn/contributionguide?docPath=hackathon_cn)。大家是否已经迫不及待了呢~

本 ISS

[2022-03-08 12:54] ailzhang commented on #4441
@neozhaoliang would you mind help adding this to the docs? Thanks a lot!

[2022-03-08 13:59] #4483 closed, assigned to nobody

[2022-03-08 13:59] Zheaoli commented on #4483
Hi, we do require issues in this repo to be related to Taichi development and/or bug reports. We will migrate this issue to the hackathons repo (link to the issue), and close this one. Thanks for your understanding!

[2022-03-08 14:00] Zheaoli commented on #4482
Hi, we do require issues in this repo to be related to Taichi development and/or bug reports. We will migrate this issue to the hackathons repo (link to the issue), and close this one. Thanks for your understanding!

[2022-03-08 14:00] Zheaoli commented on #4480
Hi, we do require issues in this repo to be related to Taichi development and/or bug reports. We will migrate this issue to the hackathons repo (link to the issue), and close this one. Thanks for your understanding!

[2022-03-08 14:43] Vissidarte-Herman commented on #4441
Agreed that these topics have not been adequately addressed and that RuRo has raised really great questions. I'll make sure this request takes higher priority.

[2022-03-09 01:55] qiao-bo commented on #4479
cc @lin-hitonami

[2022-03-09 04:54] mzmzm commented on #4479
Sorry for this error, I found the reason in the optimization pass, maybe you can set `advanced_optimization=False` to get the right result, I will fix it soon.

[2022-03-09 05:20] ailzhang commented on #4481
Hey @AAUfoa , does this work for you?

[code]
More details can be found at https://docs.taichi.graphics/lang/articles/gui/#image-io.

[2022-03-09 07:56] strongoier commented on #4395
I finally choose path [a], customizing an image for our purpose. After tons of trials, now `ti.cuda` works properly and:
[code]

Next steps:
- [ ] Upload the Dockerfile.
- [ ] Add the image to our local registry.
- [ ] Add the generation of the wheel into the release workflow.
- [ ] Add an auto-uploading step in the auto-release script.

[2022-03-09 08:20] Peterritche commented on #4376
Thanks!!!!

So, it should be some methods to show the way running the case on the based linux platform(MALI GPU/based on EGL. support opengles/vulkan).
if so, please show me the links！

At 2022-02-25 11:44:12, "Ye Kuang" ***@***.***> wrote:

Just one more thing coming to my mind: https://github.com/ghuau-innopeak/taichi-aot-tests/blob/main/desktop/main.cpp

—
Reply to this email directly, view it

[2022-03-09 08:20] strongoier commented on #4230
Closed via #4440.

[2022-03-09 08:20] #4230 closed

[2022-03-09 08:27] #4479 closed

[2022-03-09 09:30] erizmr opened #4493 "[GGUI] Segmentation fault on cuda backend (while works on vulkan backend)"
**Describe the bug**
Segmentation fault on cuda backend, while works on vulkan backend.

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2022-03-09 09:53] yuanming-hu opened #4494 ""continue" in for loop leads to wrong result"
**To Reproduce**
[code]

Output:
[code]

Removing "continue" leads to output:
[code]

"continue" should have no effect in this loop.

**Additional comments**
Interestingly, you need the if-clause with `print` to reproduce this bug.

[2022-03-09 10:14] MengMeng3399 opened #4495 "Vulkan的相关问题"
![($N`$MC%JOLUKQ`QVFBU`U5](https://user-images.githubusercontent.com/86776127/157420917-e5dff201-4b4e-4575-80dc-f64144efdd33.png)

怎么解决怎么问题？？

[2022-03-09 11:35] k-ye commented on #4495
Could you follow the bug report template and fill in more details please, thanks

[2022-03-09 11:37] #1674 closed

[2022-03-09 12:03] MengMeng3399 commented on #4495
**Describe the bug：**
Issues related to Vulkan's use

**To Reproduce：**
the examples provided in [examples/ggui_examples](https://github.com/taichi-dev/taichi/tree/master/python/taichi/examples/ggui_examples)

**Log/Screenshots**

[code]

[2022-03-09 12:15] ailzhang commented on #4493
cc: @AmesingFlank do you happen to have any insight on this issue? Thanks!

[2022-03-09 12:18] k-ye commented on #4495
Hmm, I saw that you were running `Multiple_fluid/3D_Study.py`, which is not from the GGUI examples. Were you able to run any of the GGUI example, though?

Also it picked the integrated card, could be a driver issue.

@bobcao3 I think we should add a mode to enable/disable the Vulkan validation layer at runtime.

[2022-03-09 13:26] MengMeng3399 commented on #4495
GGUI ：Can run 2D, not 3D

[2022-03-09 13:28] MengMeng3399 commented on #4495
Vulkan version 1.2.151 was not found on the official website， It cannot run even if a lower version is installed

[2022-03-09 15:16] YuCrazing opened #4497 "`ti.acos()` return `nan` without error info"
**Describe the bug**
When the input value is out range of `[-1, 1]`,  `ti.acos()` will return `nan` sliently, is it a better idea to report an error in this situation?

**To Reproduce**

[code]

[2022-03-09 15:43] yuanming-hu commented on #4497
I believe no - on GPU hardware there is no mechanism for detecting such errors.

However, we can add a flag, something like `ti.init(check_math_input=True)`, and insert some run-time checks and assertions (as we did in `ti.init(debug=True)`, which checks access out-of-bound), users can then be alerted when they are feeding invalid values to functions such as `sqrt` and `acos`. This comes at a perf

[2022-03-09 18:50] stamnug opened #4498 "Clean code"
i'm learning the source and finding these code is ugly.  the reason is to a large degree on the limit of 80 char per line.
for example:
![QQ截图20220310022702](https://user-images.githubusercontent.com/21006005/157507012-4710a05c-14f8-49b5-b23d-222d8dc99488.png)
after modified:
![QQ截图20220310022634](https://user-images.githubusercontent.com/21006005/157507029-db875b2e-625a-4159-8dfa-587a6d802434.png

[2022-03-09 22:43] AmesingFlank commented on #4493
Hi! @erizmr I'm sorry that you're experiencing this, this is probably a bug.
Could you please share your OS version and CUDA version?
Also, could you please try running the command `vulkaninfo`, and paste the output here?

[2022-03-09 22:56] AmesingFlank commented on #4495
Does `examples/mass_spring_3d_ggui.py` work?
Also, could you please run `vulkaninfo` and paste the output here?

[2022-03-09 23:11] AmesingFlank commented on #4494
Probably a bug in CFG optimisation. The following shows the IR before and after CFG optimization:
[code]

[2022-03-10 01:27] PGZXB commented on #4401
### New solution (Only for LLVM)
#### Workflow (When `ti.init(offline_cache=True)`)
... → Python Code → Taichi AST → Trans AST to string as key → Hash it(hashed key) → Try find offline cache file by hashed-key:
* **Found:** Load cache data from disk → Create kernel form cache → Run kernel
* **Not Found:** *( Continue to compile  )* ... → Get `llvm::Module` + `offloaded_task_list` → Cache them → Ru

[2022-03-10 02:13] ailzhang commented on #4498
Hey @stamnug , thanks a lot for the suggestion! FYI we use clang-format-10 with a slightly [customized config file ](https://github.com/taichi-dev/taichi/blob/master/.clang-format) to format our C++ code. We're happy to accept a PR to update clang-format config file to improve codebase as a whole instead of adhoc changes to a few files.

Re writing style issues, small PRs to update them gradually

[2022-03-10 02:30] erizmr commented on #4493
Hi @AmesingFlank , thanks for reply.

My OS version is `Ubuntu 20.04.3 LTS`, CUDA version is `11.5`.

The `vulkaninfo` output is a little bit long so I attached a file here:
[vulkaninfo_output.txt](https://github.com/taichi-dev/taichi/files/8219757/vulkaninfo_output.txt)

[2022-03-10 02:30] k-ye commented on #4498
Different ppl can have drastically different opinions on the coding style. For a project requiring multiple engineers to collaborate, the important thing is to stick to *one* style. It's like arguing whether vim or emacs is the best, which is mostly pointless because there is no real answer here.

---

The rest examples you pointed out are great points. It will be great to see the code getting imp

[2022-03-10 02:35] yihong0618 commented on #4498
@stamnug
For code style issues, each project has its own compliance and author's preference, write in accordance with the style is good, also you can format it with any style you like in your `ENV` to read source code.

Suggestion, **ugly** that word is not very suitable for this aspect of the code format, there is a little hurt.

[2022-03-10 05:40] stamnug commented on #4498
瑕不掩瑜, 相对于代码的功能来讲, 代码的外观并不是那么重要. 如果有代码作者被我的提出的问题伤害到, 希望能有个正确的心态. 但问题终究还是要指出的, 出于尊重把不简洁的代码说成是个人喜好问题, 这对于开源项目并没有好处.  当然, Talk is cheap, ... , 所以代码作者完全没必要在意我的胡言乱语.
关于代码格式问题, UE的代码真的非常漂亮, 漂亮到我不认为他们是用统一的工具进行格式化的, 我去研究研究他们怎么做的.

[2022-03-10 06:33] ailzhang commented on #4498
Hey @stamnug , we are super interested in improving the quality of our codebase. Although coding style issues sometimes get de-prioritized in our queue due to bandwidth limit, we welcome our community members to propose, contribute and bring the codebase to a better state together.
If you find any best practice in the UE codebase that's portable to other codebase, we'd love to hear and learn from

[2022-03-10 06:34] optimono opened #4501 "vulkan loading error when 'arch=cuda'"
**Describe the bug**
Tried `examples/mass_spring_3d_ggui.py` without vulkan preinstalled, received `vulkan loading error`

**To Reproduce**
 `python .\mass_spring_3d_ggui.py`

**Log/Screenshots**
[code]

**Additional comments**
some `ti diagnose` info:
[code]

[2022-03-10 07:51] stamnug commented on #4498
![QQ图片20220310144710](https://user-images.githubusercontent.com/21006005/157604898-1de968f3-a19b-4e84-9a5a-30eeef1a40af.png)

其实我也不认为有工具能够真正格式化出美观整洁的代码.  所以我并不在工具上抱有期望. 或许你们可以fork一份UE代码参观一下.
如果你们愿意花时间到人工修改代码上, 或许我能给出一点想法, 比如将代码整理的PR作为一个专项,  提交PR时进行标记:

#4498 * : 仅修改排版, 没有修改代码, 比如:
![QQ截图20220310151659](https://user-images.githubusercontent.com/21006005/157608873-3d4df579-4175-45d4-adb1-77a9e82cdbe

[2022-03-10 08:02] frostming commented on #4498
There are two different topics in this issue, please don't mix them in discussion:

1. Code style, every project has its own standard, including max line length, brackets style, tab/space, etc. It may not fit your style, you can suggest but before that is landed, you have to follow since it is enforced by the CI.
2. Clean code, every suggestion to make the code cleaner and easier to read is apprec

[2022-03-10 08:40] chuiliuyiyi opened #4502 "cannot break in the second cycle Double “if” error"
import taichi as ti
ti.init(arch=ti.cpu,debug = True)

F = ti.Vector.field(n = 1,dtype = ti.f32,shape=(100000000))
j0 = ti.field(dtype = ti.i32,shape=(1))

@ti.kernel
def COS(y :ti.f32,z :ti.f32):
	j0[0] = -1
	j1 = 10
	for waiceng in range(0,1):
		for x0 in range(50,100):
			j0[0] += 1
			j1 -= 1
			F[j0[0]] = ti.Vector([j1])
			print(z,j0[0],F[j0[0]])
			if  j0[0]>2:
				if F[j0[0]][0]*F[j0[0]-1]

[2022-03-10 08:51] stamnug commented on #4498
我把标题改成了Clean code, 但我认为这是词不达意. 虽然ugly难听, 但这才是我的意思.

每个人有自己的代码风格这没错,  比如不同命名方式就是不同风格, 比如花括号是单独一行还是放在行末也是不同风格.但代码是否美观, 易读, 我觉得和风格无关, 任何风格的代码都能写的美观, 同样也能写的混乱. 美观的代码也不会执着于一种风格. 而是会根据上下文选择合适的风格使代码更清晰. 但是, 我同样尊重任何程序员保持自己的风格. 我再次重申, 瑕不掩瑜. 何况这个瑕还是我的主观看法. 何况我一个动嘴皮子的, 有何资格说别人代码丑.

但是,我就是想表达一下我觉得源码丑这个观点, 丑多半是因为统一格式化的问题, 不知道为何会忽然转向到谈代码风格上, 我没有谈论任何程序员代码风格问题, 我只是说我觉得现在的代码丑. 如果没人和我有相同的看法, 那就当我没说好了.

[2022-03-10 09:26] k-ye commented on #4501
Did you install Vulkan? You can find the installation steps in https://docs.taichi.graphics/lang/articles/contribution/dev_install (Search for "Install Vulkan")

[2022-03-10 09:38] ailzhang commented on #4498
如果你们愿意花时间到人工修改代码上, 或许我能给出一点想法, 比如将代码整理的PR作为一个专项, 提交PR时进行标记

IMHO automatic tooling is actually extremely powerful and helpful in an open source community as Taichi's. For anyone new to the codebase and community, it's the fastest way to collaborate without being blocked on stylish discrepancies. Given the limited dev bandwidth and high communication cost, it's a good trade-off to make.

With that

[2022-03-10 09:38] #4498 closed

[2022-03-10 10:12] ailzhang commented on #4502
cc: @lin-hitonami

[2022-03-10 10:18] chuiliuyiyi commented on #4502
what is lin hitonami

[2022-03-10 10:48] ailzhang commented on #4502
haha @lin-hitonami is the developer who wrote the break support so I cc'ed him :P
But in your example it seems like
[code]
is run at compile time ( `j0` is a python value so this got evaluated  to false by python at taichi compilation) Thus taichi actually didn't see this break stmt at all. If you want to make sure taichi is aware of `j0`'s mutation, consider putting it in a taichi field?

[2022-03-10 11:11] chuiliuyiyi commented on #4502
The first time, and the next cycle will be interrupted. What's going on?

[2022-03-10 11:13] chuiliuyiyi commented on #4502
j0 = ti.field(dtype = ti.i32,shape=(1))
..........
			F[j0[0]] = ti.Vector([x,-Fc+Fy])
			print(z,j0[0],F[j0[0]])
			if  j0[0]>2:
				if F[j0[0]][1]*F[j0[0]-1][1]<0:
					x1 = j0[0]
					break
It still won't break the second time

[2022-03-10 14:19] ailzhang commented on #4502
@chuiliuyiyi This seems to be working as expected (like break works no matter how many times it's called), see the minimal repro below:

[code]
If this doesn't explain your issue, would you mind adding a **minimal** repro script as well? Thanks a lot!

[2022-03-10 20:31] RuRo opened #4504 "Follow the XDG Base Directory Specification"
## Concisely describe the proposed feature

Currently, Taichi creates a hardcoded `~/.taichi` directory in the home directory. As far as I am concerned, random programs putting their files in my home directory is a cardinal sin. Taichi should follow the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) instead of polluting the user hom

[2022-03-11 01:10] chuiliuyiyi commented on #4502
Double “ if ” error

import taichi as ti
ti.init(arch=ti.cpu,debug = True)

F = ti.Vector.field(n = 2,dtype = ti.f32,shape=(100000000))
j0 = ti.field(dtype = ti.i32,shape=(1))

@ti.kernel
def COS(y :ti.f32,z :ti.f32) ->ti.f32:
	j0[0] = -1
	x1 = 0
	j1 = 10
	for waiceng in range(0,1):
		for x0 in range(int(Cr2+Or2+1)*50,1000):
			j0[0] += 1
			x = x0/50
			j1 -= 1
			F[j0[0]] = ti.Vector([x,j1])

[2022-03-11 01:53] optimono commented on #4501
Hi, @k-ye Thanks for your reply! I have not installed vulkan yet.
So taichi version 0.9.0 ggui relies  on vulkan? I thought vulkan was not indispensable.

[2022-03-11 02:05] mzmzm commented on #4494
It seems like the source code is not correct. `continue` should be banned in the outermost loop in `ti.kernel`. Maybe we need an error report to solve this problem?

[2022-03-11 02:15] ailzhang commented on #4504
Hey @RuRo , thanks a lot for proposing this! IMHO the answer to all three questions above is no so it should be safe to switch to XDG. Would you mind sending a PR for it?

cc: @Leonz5288 just in case the version check service need any updates.

[2022-03-11 02:28] yuanming-hu commented on #4494
@mzmzm Using `continue` in for-loops in the outer-most scope should be allowed. While it is parallel, `continue` has a clear meaning: skip the rest of the loop body.

[2022-03-11 02:47] Leonz5288 commented on #4504
I think the answer to Q2 is yes. We kind of need to remember user's current version and the time we check user's version in order to not frequently checking user's version. However, the answers to Q1 and Q3 are no, so I believe it's safe to move .taichi under XDG_DATA.

[2022-03-11 02:52] RuRo commented on #4504
XDG_DATA is for stuff that you can't generate on your own without the users input (passwords, api keys, preferences, favourites, application state etc). If you can safely delete `~/.taichi` and the only side effect is that the next run is a bit slower, then it is a cache by XDG standards.

Sure, I'll make a PR tomorrow.

[2022-03-11 02:54] mzmzm commented on #4494
got it, thanks for your issue reporting this bug. I push a PR to fix this.

[2022-03-11 02:55] ailzhang commented on #4501
@optimono GGUI depends on vulkan so it's needed to run mass_spring_3d_ggui.py ;)

[2022-03-11 02:56] lin-hitonami commented on #4502
Does your program indent like this?
[code]

I've read the program and if I understand correctly, `F[j0[0]][0]*F[j0[0]-1][0]` is never less than zero according to the logic of this program, so it shouldn't break at all?

[2022-03-11 03:28] lin-hitonami commented on #4449
Currently, Taichi does not support reversed range/ndrange fors. `rev, rev` in your program works just by coincident. We will consider adding reversed range/ndrange for support in the future. I will add an error message when there are reversed fors for now.

[2022-03-11 03:30] yuanming-hu opened #4509 "Support randrange(begin, end) ?"
**Concisely describe the proposed feature**
Useful when users want to randomly select an integer number within a range, similar to `random.randrange`.

Potential use case: selecting a number in a field:
[code]

**Additional comments**

A few points that need discussion:
1. How to support different variants, such as `ti.ndrange(n)`, `ti.ndrange(3, 10)`?
2. How to let the user determine return value

[2022-03-11 06:36] mackrol commented on #4449
Yes, I consider `rev, rev` as a bug, it should yield no iterations just like python's `range`

[2022-03-11 06:53] #4399 closed

[2022-03-11 06:58] #4449 closed

[2022-03-11 07:56] yuanming-hu commented on #4504
Just a reminder that Taichi will support compilation cache (similar to `__pycache__`), and the cache files would be put under the `.taichi` folder too.

[2022-03-11 08:47] #4494 closed

[2022-03-11 09:13] chuiliuyiyi commented on #4502
Thank you very much for your answer.
Unexpectedly, I ignored that in the loop, there is a value equal to 0 So I won't interrupt.
Thank you again for your answer

[2022-03-11 10:04] ailzhang commented on #4502
Closing via https://github.com/taichi-dev/taichi/issues/4502#issuecomment-1064919679

[2022-03-11 10:05] #4502 closed

[2022-03-11 10:06] #4412 closed

[2022-03-12 09:08] RuRo opened #4515 "Developer installation notes"
I had some problems while trying to get a Developer environment up and running. I was able to figure it out myself in the end, but here is a short walkthrough of the issues I ran into. Hopefully, my notes will help anyone, who runs into the same issues as me.

<br/>

1) Currently on Arch Linux the default python version is 3.10, which is not supported by taichi.
    - Install `python39` from AUR

[2022-03-13 10:45] stamnug opened #4518 "Would you consider to decouple frontend from backends?"
Taichi is responsible for maintaining a c++ ast of Taichi and publishing a interface about Kernel_impl.
user is able to implements any frontend by construct a Kernel_impl with c++ ast.

[2022-03-13 15:51] AmesingFlank commented on #4518
This is already possible to some extent. The user can use the C++ CHI IR builder to build a non-python frontend. As an example, I built [taichi.js](https://amesingflank.github.io/taichi.js/zoo/index.html) using this approach.

It would indeed be more convenient if one can use a unified AST builder instead of the IR builder. And we do hope that in the future, the C++ AST will become powerful enough

[2022-03-13 18:17] stamnug commented on #4518
CHI IR level is ok too, maybe taichi is able to be splited to two project about frontend and backend respectively . and virtualize a part of kernel funtion. user is able to use taichi as long as user inherit kernel and implement virtual funtion

[2022-03-14 03:21] #4199 closed

[2022-03-14 03:44] strongoier commented on #4501
I will close it for now because the question is answered. Feel free to open a new one if you have other questions :-)

[2022-03-14 03:44] #4501 closed

[2022-03-14 03:50] strongoier commented on #4466
I will close this for now because it can be merged with #2669.

[2022-03-14 03:50] #4466 closed

[2022-03-14 04:24] #4504 closed

[2022-03-14 05:22] strongoier commented on #4504
Regarding compilation cache paths cc: @PGZXB

[2022-03-14 06:33] strongoier commented on #4334
Is this problem solved? @lin-hitonami

[2022-03-14 07:05] bobcao3 commented on #4401
I argue strongly against this solution. We have profiles showing the LLVM codegen takes about 30% of the entire JIT codegen time, it would be much wiser to spend time figuring out AST->CHI-IR caching first.

[2022-03-14 07:06] bobcao3 commented on #4401
A two staged caching gives a major JIT time boost to all backends, I'd argue this is a lot cleaner to implement as well compared to having one stage caching for each individual backend, which will cause maintenance problems down the line

[2022-03-14 07:34] PGZXB commented on #4401
Step by step. Maybe temporary solution. We don't have serialization of CHI IR now. After CHI IR's serialization is implemented. Maybe 2-level cache is better, especially for multi backends...

ps. I think CHI IR's serialization is very important for standardizing CHI IR, which needs a feasible efficient standard (more .adj to show the importance I think), like llvm-ir, intel-asm, java-bytecode ...

[2022-03-14 08:22] lin-hitonami commented on #4334
Yes, it is solved by #4463.

[2022-03-14 08:22] #4334 closed

[2022-03-14 08:23] lin-hitonami commented on #4016
Fixed in #4463.

[2022-03-14 08:23] #4016 closed

[2022-03-14 09:03] k-ye commented on #4401
Is there a middle ground we can find out? E.g. how easy is it for us to migrate the implementation from caching LLVM to caching CHI IR? If most users don't care about the internal implementation of the cache, I expect the following scenario to happen:

1. At first, they can only benefit from the caching behavior for CUDA/CPU backends
2. Then after release X, they find out the caching is working fo

[2022-03-14 09:32] PGZXB commented on #4401
The (new) implementation of offline-cache is transparent. All logic is in C++ side. Frontend only see the `offline_cache` and `offline_cache_file_path` options. If we have serialization and deserialization of CHI IR, implementing caching CHI IR will be simple. Maybe doing it after standardizing CHI IR is better. After release X, users can also use it by simply set options without any migration cos

[2022-03-14 09:38] PGZXB commented on #4401
Can't agree more. Because taichi's kernels depends on global var/state, finding a key which can uniquely identifies a kernel is difficult and the key of implementing caching a kernel.

[2022-03-14 17:15] RuRo commented on #4145
Not sure, if this is the correct issue to comment, but I honestly don't understand the motivation for the current integer casting rules.

For example, in C++ `decltype(std::declval<uint8_t>() + std::declval<uint8_t>())` is `int32_t`. This makes sense because it means that the computation is performed "as if" in a wide integer type and the user can then do stuff like this:
[code]
This is called [in

[2022-03-15 01:26] bcolloran opened #4526 "ability to access Taichi IR strings for specific kernels from within scripts"
**Concisely describe the proposed feature**

It would be very convenient to be able to access the Taichi IR of specific kernels in a fine grained way. The only way to access the Taichi IR that I see documented in the [Intermediate Representation (IR)section of the docs](https://docs.taichi.graphics/lang/articles/misc/internal#intermediate-representation-ir) recommends using `ti.init(print_ir=True)

[2022-03-15 01:45] bcolloran opened #4527 "Improvements for Diffing taichi IR"
While debugging a [recent issue I was having](https://github.com/taichi-dev/taichi/discussions/4416), I had the need to diff the IT of Taichi kernels. Currently, the IR produced by `ti.init(print_ir=True)` is a little bit inconvenient for diffing in two ways:

1) The IR produced by `print_ir=True` has a lot timestamps, which obviously must be removed before a useful diff can be produced.

2) The f

[2022-03-15 01:51] yuanming-hu commented on #4526
One possible solution: we introduce a "kernel decorator" system, something like one of the below

[code]

We can also put an option to serialize the whole kernel and even the optimization level for a specific level. I can imagine something going crazy like

[code]

This will unlock a lot of fancy usages and benefit a lot of users.

---

What do you think? :-) @bcolloran @k-ye

Btw, @bcolloran, giv

[2022-03-15 03:04] #3961 closed

[2022-03-15 03:16] #3128 closed

[2022-03-15 04:34] lin-hitonami opened #4530 "Add ti.loop_config to set loop directives"
**Concisely describe the proposed feature**
Now, we have many loop directives like `ti.parallelize`, `ti.block_dim`, `ti.block_local`, and I propose that we can unite them in one line of code, like `ti.loop_config(parallelize=8, block_dim=32, block_local=(a, b))`, this will make user code clearer.

[2022-03-15 05:53] strongoier commented on #4527
Regarding (1), you can set `ti.init(log_level=ti.ERROR)` as a workaround to avoid those information messages with timestamps. Of course, we should improve the output because the pass names are also inside the messages.

[2022-03-15 06:43] HighCWu opened #4534 "Add dlpack as the backend for copyless tensor operations between Taichi and different frameworks"
**Concisely describe the proposed feature**
I hope that the compiler can add a dlpack backend, so that other deep learning frameworks can operate their own tensor through taichi's operators or taichi can call other framework's operators to change the value of taichi's field.

**Describe the solution you'd like (if any)**
I noticed that taichi is trying to add some functions like to_torch, from_tor

[2022-03-15 12:09] RuRo opened #4540 "`ti.static_assert` silently succeeds with non-static information"
[code]

**Actual behaviour:**

Nothing happens.

**Expected behaviour:**

Either one of these would be fine

- `AssertionError: Oh, no!` (if you can automatically infer that `value = False` is a constant/static expression)
- `TaichiCompilationError: static_assert with non-static condition.`

[2022-03-15 12:35] houkensjtu opened #4541 "Parallelized for-loop performance same as serial one"
I tried to compare the computational performance of a Taichi kernel with the following code:
[code]

Surprisingly, the parallelized version yielded almost the same performance as the serial one. (0.02 sec on my M1 2020 MacBook Pro for ti.cpu)
I'm not sure if it's
1. The nature of this computation, or
2. My coding problem, or
3. Taichi language's optimization problem

that caused such behavior. Any

[2022-03-15 13:27] yooooyooo opened #4542 "RuntimeError: [llvm_context.cpp:clone_runtime_module@268]Assertion failure: std::this_thread::get_id() == main_thread_id_"
When I call taichi with fastapi, i got a RuntimeError, but success when run python files directly

[2022-03-15 13:28] yooooyooo commented on #4542
[E 03/15/22 21:12:32.985 50198] [llvm_context.cpp:clone_runtime_module@268] Assertion failure: std::this_thread::get_id() == main_thread_id_

                            * Taichi Core - Stack Traceback *
==========================================================================================
|                       Module |  Offset | Function                                      |
|-------------

[2022-03-15 15:26] RuRo opened #4543 "`taichi.lang.util.warning` doesn't respect stdlib `warnings` filters"
The [`taichi.lang.util.warning`](https://github.com/taichi-dev/taichi/blob/e56ac6a94ed686ac2c855cf44420b8938c53c39f/python/taichi/lang/util.py#L231) function just prints the warning without consulting the current state of pythons standard library `warnings` module.

For example:
[code]

You should either

1) use `warnings.warn` instead of `print` (preferable, imho)
2) reimplement the standard filt

[2022-03-15 16:39] RuRo opened #4544 "Not all `CompileConfig` options are available in `ti.init`"
This is either a documentation problem or bug.

The current `init` docs state that
[code]

However not all options listed in `compile_config.h` are accepted in `init`.
That is because the actual list of options is determined by [this expression](https://github.com/taichi-dev/taichi/blob/30876b483e281a595acac89ed0b1a5a13ece7525/taichi/python/export_lang.cpp#L116).

Notably, the following options ar

[2022-03-16 02:21] erizmr commented on #3003
Sorted by #4523 .

[2022-03-16 02:21] #3003 closed

[2022-03-16 03:42] k-ye opened #4547 "[AOT] Do not re-JIT if the kernel has been added to the AOT module already"
**Describe the bug**

If a kernel has been added to an AOT module multiple times, it should only be JIT once. While I found this problem for taichi kernels, we should also check for fields.

**To Reproduce**

Repro platform: macOS + Metal backend

[code]

[2022-03-16 05:58] strongoier commented on #4534
cc: @bobcao3 @qiao-bo

[2022-03-16 06:10] strongoier commented on #4540
Thanks for reporting this! This is indeed a bug.
@lin-hitonami Do you think we should keep `ti.static_assert()` or extend `ti.static` to an environment which accepts Python statements?

[2022-03-16 06:26] strongoier commented on #4145
@RuRo I think it is a bug in Taichi. For these "lose precision" warnings, Taichi compares the destination type with the common type of the destination type and the source type: https://github.com/taichi-dev/taichi/blob/ceb4aa683ef7b7f17100b54665628da94afaa24c/taichi/transforms/type_check.cpp#L140

As the common type (for arithmetic expressions) of `u8` and `u8` is `u32`, Taichi considers it as a d

[2022-03-16 06:34] RuRo commented on #4145
Yes. And also it should never warn about precision loss when it is caused by an explicit `ti.cast` IMHO. Nobody in their right mind would do `ti.cast(arg, ti.u8)` and be surprised that the value of `arg` is truncated.

[2022-03-16 06:39] strongoier commented on #4542
Currently Taichi cannot be used in a multi-threading environment (#2022). Sorry that we don't have enough bandwidth to solve that problem immediately, but we definitely would like to support it in the future.

[2022-03-16 07:01] strongoier commented on #4543
Thanks for pointing this out! Option 1 looks good to me.
wdyt @ailzhang @frostming

[2022-03-16 07:05] frostming commented on #4543
I agree to use the standard `warnings.warn` and `Warning` subclasses

[2022-03-16 07:22] ailzhang commented on #4543
Option 1 sounds great to me! @RuRo would you mind sending a PR to update this function? Thanks a lot!

[2022-03-16 07:27] strongoier commented on #4544
Thanks for catching this! Typically, a config in `compile_config.h` but not in `ti.init` is simply legacy for various reasons. I think we need to get the documentation correct first. Would you mind sending a PR for your suggestion?

[2022-03-16 09:13] qiao-bo commented on #4541
Share a few findings here, also for future visitors:

1. The measurement you posted includes the compilation time, since it is the first time kernel being executed. If the data size is small, the reported time does not reflects the actual computation time. The recommended way is to skip the first time execution and take the average of some repeated runs. For example:
[code]
2. For `arch=ti.gpu`, (

[2022-03-16 09:28] #4395 closed

[2022-03-16 09:32] ailzhang commented on #4515
It's really impressive to see you sort out everything on your own! We don't use arch linux often here so the docs for it is indeed imperfect. Reopening this issue temporarily to make sure we update dev install for arch linux before v1.0 release, @RuRo please feel free to contribute if you're interested!

[2022-03-16 09:37] qiao-bo commented on #4515
FYI, Python 3.10 will be supported as soon as by next release.

[2022-03-16 09:37] yuanming-hu commented on #4515
Thank you, @RuRo, for the detailed note.

1. For Python 3.10 support, we are working on it, see https://github.com/taichi-dev/taichi/issues/3985. I'm wondering what stops you from making 3.10 work - could you briefly doc it so that people can help? 3.10 support is definitely on our roadmap.
2. Yes, you will need a customized LLVM. Do you mind adding this clarification to the documentation? It will

[2022-03-16 16:11] k-ye commented on #4527
FYI, for (2), the relevant code is around https://github.com/taichi-dev/taichi/blob/5a377189bc8e0b20afd39fb3611c238a55e54f95/taichi/transforms/ir_printer.cpp#L17-L24 :-)

[2022-03-17 01:31] k-ye commented on #4515
Hmm, LLVM keeps biting at us. I wonder if TVM has some better experience managing the LLVM dependencies..? (cc @masahi )

[2022-03-17 03:09] k-ye commented on #4526
Thanks, I also find it useful to have a per-kernel config. I favor the third option, because that's 1) the least intrusive change, and 2) aligned with `loop_config`.

[code]

In addition, we can start thinking about which configs are global vs per-kernel vs per-loop.

I feel like this is quite related to the AOT infrastructure. If we consider this problem in the LLVM-way, `llvm::Module` can be ite

[2022-03-17 03:35] strongoier commented on #4377
Hi @AAUfoa. We now have a manylinux2014-compatible wheel, which should work on CentOS 7. Feel free to try it out by `pip install -i https://test.pypi.org/simple/ taichi-nightly` and provide some feedback :-)

[2022-03-17 03:41] k-ye commented on #4534
This looks like a very interesting solution! I also saw that TVM adopts dlpack as well.

Just for my own understanding:

Does this mean that dlpack tensors is not limited by this?

[2022-03-17 04:05] masahi commented on #4515
TVM can use distro-provided LLVM, so I don't recall our users complaining about their installation experience with TVM + LLVM.
I remember Taichi uses clang to compile the runtime lib, but TVM doesn't depend on clang. So our llvm story is a bit simpler than taichi's.

That said, TVM has many `#if TVM_LLVM_VERSION >= 110` etc to cope with many versions of LLVM with their annoying breaking API change

[2022-03-17 06:06] bobcao3 opened #4560 "[perf] Utilize GPU structured load instructions"
On GPUs, structured load might have a much larger throughput than scalar loads. (e.g. Loading a `vec4` at once compared to loading each element as scalar)

Reference: https://github.com/sebbbi/perftest

We should look into optimizing our codegen to utilize these instructions as small vector load / store is a very common pattern in graphics programming.

[2022-03-17 07:00] k-ye commented on #4515
Ha, I was wondering how TVM was able to cope with multiple LLVM versions...

Can't agree more. Actually, the original goal of releasing Taichi's prebuilt LLVM lib is to avoid the efforts of compiling LLVM with all the necessary flags.

IIUC, the problem with Taichi' clang + LLVM can be summarized as below:

1. We need `clang` to compile part of our runtime into LLVM modules.
2. We only support a s

[2022-03-17 07:06] yuanming-hu commented on #4560
Quick tips to who will be thinking about this: you may need a pass before CUDA codegen to batch the loads/stores. One additional thing to consider is memory alignment info, you will need one analysis pass + SNode info to infer that. `VectorType` may be your friend.

[2022-03-17 07:39] yuanming-hu commented on #4515
That reminds me: Halide has a lot of LLVM guards too...

My personal feeling: supporting multiple LLVM versions can actually harm code maintainability.

Perhaps the version of `clang` does **not** have to match that of LLVM, since we use `clang` to compile `runtime.cpp` and Taichi itself, which should give consistent results over different clang versions.

I would actually vote for the current way

[2022-03-17 08:11] k-ye commented on #4515
Previously we had this problem: users had `clang-13` as their system default. The compiled `runtime.cpp` by `clang-13` had compatibility issue with the LLVM-10 library.

+1 on harming the code maintainability.

[2022-03-17 13:08] HighCWu commented on #4534
In the [documentation](https://dmlc.github.io/dlpack/latest/python_spec.html#semantics) of dlpack, they mention:

I haven't tried it, but according to the description, it seems that zero copy is not possible in some cases.

But when I simply run some code in pytorch, it seems dlpack supports different memory layouts:
[code]
The changes to tensor d are synced to tensor a.

It's not clear to me if s

[2022-03-17 14:44] k-ye opened #4565 "Consider unifying the LLVM offline cache and the AOT infrastructure"
We have made our first step towards the LLVM offline cache in https://github.com/taichi-dev/taichi/pull/4500. Meanwhile, we are also developing our AOT infrastructure, tracked in https://github.com/taichi-dev/taichi/issues/3642. There are lots of common features:

* Save/load the compiled LLVM module
* Maintain a mapping from a Taichi kernel identifier to the compiled LLVM mobile

Therefore, we sh

[2022-03-17 16:01] #4542 closed, assigned to nobody

[2022-03-17 20:55] RuRo commented on #4515
Hi, sorry for the delayed reply. Unfortunately, I am kind of busy lately, so I won't be able to contribute anything in the forceable future. I'll keep submitting issues as I run into them while using taichi and I might revisit them once I get some free time. No promises tho, so if anyone wants to contribute it, that would be great.

[2022-03-17 20:56] RuRo commented on #4544
Hi, sorry for the delayed reply. Unfortunately, I am kind of busy lately, so I won't be able to contribute anything in the forceable future. I'll keep submitting issues as I run into them while using taichi and I might revisit them once I get some free time. No promises tho, so if anyone wants to contribute it, that would be great.

[2022-03-17 20:56] RuRo commented on #4543
Hi, sorry for the delayed reply. Unfortunately, I am kind of busy lately, so I won't be able to contribute anything in the forceable future. I'll keep submitting issues as I run into them while using taichi and I might revisit them once I get some free time. No promises tho, so if anyone wants to contribute it, that would be great.

[2022-03-17 21:28] RuRo opened #4566 "ndarray of Vectors with SOA layout crashes"
Consider the following:

[code]

Results in
[code]

Bonus (probably unrelated) issue:
[code]

[2022-03-17 23:52] RuRo commented on #4566
Here's one more segfault. This one is due to the `offset` parameter:

[code]

[code]

[2022-03-18 04:04] PGZXB commented on #4565
Got it! I will refactor some offline-cache code which can be reused by AOT for llvm-backend at the proper time. And merge/unify them with AOT infrastructure.

[2022-03-18 05:31] strongoier commented on #4566
Regarding the problem of ndarray `to_numpy` cc: @qiao-bo

[2022-03-18 07:40] k-ye opened #4569 "Restore `hash` SNode"
**Concisely describe the proposed feature**

The [the original Taichi paper](https://yuanming.taichi.graphics/publication/2019-taichi/taichi-lang.pdf) mentions the `hash` SNode, which we didn't get a chance to restore after switching to LLVM. Writing this issue to track this process.

As a start, we can support this on the LLVM backend.

[2022-03-18 11:36] k-ye opened #4574 "Support (predefined layout) Ndarrays as GGUI's VBO"
**Concisely describe the proposed feature**

It would be convenient to be able to use Ndarray as GGUI's VBO. For example, I may want to use an Ndarray of vec3 to represent the vertex positions.

**Describe the solution you'd like (if any)**

Each GGUI renderable already maintains a `vertex_buffer_`: https://github.com/taichi-dev/taichi/blob/d99acb54c4091679610eaf7dbb46147f34dfbbae/taichi/ui/backen

[2022-03-19 03:34] PGZXB opened #4577 "Refactor counters to scoped-counters"
Following #4561, in C++ codebase of Taichi, many counters are used to identify a instance. But the counters are global now, which causes some problems. Using Taichi AST string generated by `irpass::print` as offline-cache-key (#4401) cannot identify a kernel completely because of global counters. We need scoped-counters.

#### An example in which I found problem
[code]
**1st:** `f1(); f2()`, Ouput

[2022-03-19 04:15] k-ye commented on #4515
Submitting high quality issues like this one is already a great help to us, thank you! :-)

[2022-03-19 04:35] re-xyr opened #4578 "Use `IRBuilder` for AST expression flattening"
Currently `Expression::flatten` operates on a `FlattenContext`, which is for all intents and purposes a worse version of `IRBuilder` that is created only for expression flattening. In the future we should remove `FlattenContext` in favor of `IRBuilder`.

[2022-03-19 07:05] k-ye opened #4579 "Summarize the perf findings between the static field shape and Ndarray dynamic shape"
We should write down the investigation and conclusion during the Ndarray shape optimization. A few topics in my mind:

* Compile-time element shape
* Avoid repeatedly loading the global memory
* constant buffer/UBO

[2022-03-20 19:55] bobcao3 commented on #4515
I'd support only one LLVM version but the current one needs an update, we should move to LLVM 12 or 13, so that we don't end up get stuck on 10 forever. (The later the switch the more costly the changes will be...) This can also help our performance and porting efforts by moving to newer LLVM

[2022-03-21 01:59] ailzhang opened #4585 "Support built in taichi kernels in AOT"
related: https://github.com/taichi-dev/taichi/issues/3642
When users exchange data between taichi and python, e.g. when they write `field.fill(0)` in python, a built-in taichi kernel is compiled and executed. https://github.com/taichi-dev/taichi/blob/master/python/taichi/_kernels.py#L16
A problem for AOT users is that these kernels are "invisible" to them so that they don't usually add them into t

[2022-03-21 02:12] lql341 opened #4586 "Is it possible to install Taichi on Centos7 with Rocm backend?"
I am trying to use Taichi on Centos. The code complains "ImportError: /lib64/libm.so.6: version `GLIBC_2.27' not found ". This has to be the lower version of libc6.so. So my question is:

1. Is there a solution for Centos 7?
2. Or, maybe Taichi is not suitable for a supercomputing system without GUI? I notice that it highly replies on the Graphics.

Thank you in advance.

[2022-03-21 02:17] qiao-bo commented on #4586
Hi, we do have a Centos 7 compatible package. Did you do pip install? can you post the name of the wheel gets downloaded? cc @strongoier

[2022-03-21 02:34] lql341 commented on #4586
![image](https://user-images.githubusercontent.com/35156008/159198280-caff4ae4-fc22-43f4-8aa7-fd30bd522973.png)

[2022-03-21 02:54] strongoier commented on #4586
Hi @lql341. We have made a wheel compatible with CentOS 7 after the release of v0.9.1, so you have to wait for v0.9.2 (hopefully this week) to get it. Alternatively, you can install our nightly version via `pip install -i https://test.pypi.org/simple/ taichi-nightly`. The problem here is that our nightly releases only contain Python 3.8/3.10 wheels, so you may need to switch your Python version if

[2022-03-21 03:28] lql341 commented on #4586
I switched to python 3.8, but it is missing some requirement files?
![image](https://user-images.githubusercontent.com/35156008/159201394-6cbbffd5-14c5-4e46-98bc-dc04cc5300ff.png)

[2022-03-21 03:30] strongoier commented on #4586
There should be a space between `https://test.pypi.org/simple/` and `taichi-nightly`.

[2022-03-21 05:36] strongoier commented on #4586
@lql341 Have you succeeded or met other problems?

[2022-03-21 07:32] lql341 commented on #4586
Sorry for the late response. I have successfully installed taichi-nightly-20220320. The libm.so.6 error has gone.

But I ran into some other problems indeed. I am testing "fractal.py (hello world)" on the sugon super-computing platform, which has DCU ( a gpu similar to AMD's ) with ROCM backend. Any suggestions to how to get Taichi running properly?

![image](https://user-images.githubusercontent.

[2022-03-21 07:50] strongoier commented on #4586
1. Taichi hasn't supported ROCm backend yet. (related issue: #412)
2. You can try CPU backend first. Could you change the code according to the message, i.e., use `ti.GUI(show_gui=False)`?

[2022-03-21 07:59] lql341 commented on #4586
1. CPU backend works fine.
2. I saw that issue before posting this one. I thought Taichi may have some progress on AMD Drivers after two years. Haha. Do you have plans for developing ROCM backend?

Thank you.

[2022-03-21 08:34] k-ye commented on #4574
Fixed by #4575

[2022-03-21 08:34] #4574 closed

[2022-03-21 08:49] k-ye commented on #4585
I agree that the 2nd approach is better. Our compute graph system should also be able to identify these builtin APIs.

[2022-03-21 09:47] lin-hitonami opened #4591 "Add reference types for the real function"
**Concisely describe the proposed feature**
Now, we are using `ti.template` as the type hint for arguments of taichi functions to pass an argument by reference. However, this makes it hard for the real function to determine the type of the argument. So, I think we should add reference types of primitive types and matrices for the real function to handle arguments passed by reference correctly.

Mo

[2022-03-21 21:01] ghuau-innopeak commented on #4585
@ailzhang Same here, the 2nd approach is much more flexible and easier on the long term, especially with a transparent interface where the user won't have to explicitly add/load them to/from the AOT module.
My only concern would be when the built-in API will have hundred of functions being exported and loaded but I don't believe this is the case right now :), in this case, we might want to allow e

[2022-03-22 07:11] optimono commented on #4501
Thanks guys for your replies and instructions! Problem solved.
However, vulkan **SDK** is not necessary, but **vulkan driver support** in my case.
In any case someone could encouter the same issue, Nvidia GPU users could find the driver [here](https://developer.nvidia.com/vulkan-driver).

[2022-03-22 07:39] qiao-bo commented on #4415
The reason here is that the sparse elements are not activated by default. Hence the iteration you mentioned is completely skipped. If you activate the elements before calling `from_numpy()`:

[code]
Then the above iteration will be executed for the activated elements. Yes, dense will work since they are all activated.
@strongoier is this a bug or desired feature? maybe add a warning, WDYT?

[2022-03-22 07:53] #4518 closed

[2022-03-22 07:53] #4381 closed

[2022-03-22 07:54] #4357 closed

[2022-03-22 11:38] strongoier opened #4602 "[RFC] Taichi Language Reference"
**Concisely describe the proposed feature**
A programming language needs a specification. Both users and developers need to refer to it to determine whether a certain behavior is *correct*, *buggy*, or *undefined*.

The specification needs to be documented. It should not only stay in someone's mind. Otherwise, there will always be issues around language behavior, and maintainers have to guess who

[2022-03-23 00:32] BillXu2000 commented on #4064
fixed by #4529.

[2022-03-23 00:32] #4064 closed

[2022-03-23 02:52] BillXu2000 opened #4604 "Adjust CPU GUI document layout"
![Screenshot from 2022-03-23 10-49-19](https://user-images.githubusercontent.com/22523147/159614206-faacf48d-6ad1-401b-b563-36ab27975dcc.png)

Users need to click "GUI" to visit CPU GUI document.
I think this might be confusing and misguiding when users try to find CPU GUI document.

[2022-03-23 03:27] AmesingFlank commented on #4602
Highly relevant discussion: https://github.com/taichi-dev/taichi/discussions/4594

[2022-03-23 03:59] #4604 closed

[2022-03-23 05:21] k-ye opened #4607 "A vote to change license to Apache-2.0"
Dear contributors,

We are calling a majority vote to change Taichi license from MIT to Apache-2.0. The vote will be valid from today (March 23rd, 2022) until March 30th, 2022. Taichi contributor can approve this proposal by commenting "I approve the license change to Apache-2.0." or a simple thumb-up.

**Why changing the license?**

Apache-2.0 is also a permissive software license similar to MIT.

[2022-03-23 05:35] FantasyVR commented on #3764
Hi @GrapixLeGrand. Any progress in your project?

Do you think it's possible to open source your repo? It can help us to improve GPU sorting in Taichi.

[2022-03-23 06:28] knight42 commented on #4607
I approve the license change to Apache-2.0.

[2022-03-23 06:30] strongoier commented on #4415
Maybe add the behavior to the docstring?

[2022-03-23 06:35] yuanming-hu commented on #4607
Sounds good to me!
I approve the license change to Apache-2.0.

[2022-03-23 06:39] k-ye commented on #4607
I approve the license change to Apache-2.0.

[2022-03-23 06:57] Zheaoli commented on #4607
I approve the license change to Apache-2.0.

[2022-03-23 07:35] qiao-bo commented on #3936
Hi, we have just released Taichi v0.9.2 with python 3.10 support. Feel free to try it out!

[2022-03-23 07:35] #3936 closed

[2022-03-23 08:35] qiao-bo commented on #3985
Python 3.10 is now supported since release v0.9.2.

[2022-03-23 08:35] #3985 closed

[2022-03-24 04:52] k-ye commented on #4591
I'm slightly against the explicit atomic annotation. Is it possible to infer whether the atomicity is necessary?

[2022-03-24 05:28] GCChen97 opened #4613 "Why are there precision warnings when no type changes (target = u8, value = u8)?"
Hi, I jsut tried doing bit operations and got some losing precision warnings that I could not understand since the data type wasn't changed. Is this a bug?
Besides, why there was another warning (`Atomic bit_or (i32 to u8)`) when I had explicitly cast the type before the bit operation in `set_bit()`?
[code]

[code]

[2022-03-24 07:55] k-ye opened #4615 "Ahead-of-time (AOT) Feature Roadmap"
![Untitled Diagram (1)](https://user-images.githubusercontent.com/7481356/159867754-d75005a4-50bc-43a3-b8c5-489161011f54.svg)

I'd like to share our vision and the initial roadmap for the AOT feature. AOT is our solution to make Taichi kernels and progras runnable in other non-Python environments. Mobile and game engines, for example.

The ongoing efforts include:

* defining the base AOT API
* im

[2022-03-24 11:11] neozhaoliang opened #4617 "log(x) function automatically casts the result to integers"
Example code:

[code]
However, we wouldn't expect `log(2) = 0` here.  Can we always return floats here?

[2022-03-24 20:10] Dr-How opened #4619 "Internal error occurred on initializing GGUI."
**Describe the bug**
On initializing windows with GGUI, Internal error occurs.

**To Reproduce**
Please post a **minimal sample code** to reproduce the bug.
The developer team will put a higher priority on bugs that can be reproduced within 20 lines of code. If you want a prompt reply, please keep the sample code **short** and **representative**.

[code]

**Log/Screenshots**
Please post the **full

[2022-03-24 23:32] victoriacity commented on #4617
The typechecked IR for the above kernel gives follows:
[code]
My guess is that the type check applies the same output type as the input with the log function.

[2022-03-25 01:21] victoriacity commented on #4617
This is the precise location that causes this issue: for all unary functions, its return type is always the same as operand type. Since we cast the operands to float for `sqrt`, `exp`, and `log` statements, I wonder if we shall also correspondingly cast the return type.
https://github.com/taichi-dev/taichi/blob/e9a27917dab0d4153929201cb196838eba58faf1/taichi/transforms/type_check.cpp#L251-L263

[2022-03-25 02:01] bobcao3 commented on #4619
This is a known bug. You can do `ti.init(arch=ti.vulkan)` as a workaround for now.

[2022-03-25 02:24] bobcao3 commented on #4617
If a type promotion happened the result type should also be promoted

[2022-03-25 02:44] ailzhang opened #4620 "Better error message when slicing a field"
![error](https://user-images.githubusercontent.com/5248122/160044311-2048006a-4ce8-4207-bd6d-59a83c91f34d.png)

We should provide a clear message that slicing is not supported.

[2022-03-25 05:09] lin-hitonami commented on #4591
It is possible. We can delay the compilation of the real function to the time the kernel is compiled, and compile according to the atomicity of the arguments. We can first support the explicitly annotated form, and then add automatic inference.

[2022-03-25 07:07] lin-hitonami commented on #4421
Resolved in #4525, now we can write `ti.loop_config(serial=True)` before a loop to make the loop serial.

[2022-03-25 07:07] #4421 closed

[2022-03-25 07:35] lin-hitonami commented on #4540
Assert statement as a function argument is not syntactically correct in Python, so maybe we need to keep it and fix it.

[2022-03-25 07:37] k-ye commented on #4619
What's blocking us from supporting the CPU backend on macOS?

[2022-03-25 07:51] k-ye opened #4623 "Avoid rebuilding libraries in the submodule?"
(This is just an unconfirmed thought.) During the build process, I believe we are rebuilding the submodules as well? Ideally, we should just build it once and leave it there, until the submodule itself gets updated. Hopefully this would further speed up our build time.

[2022-03-25 15:16] yuanming-hu opened #4631 "[RFC] [SIMT] Add CUDA warp-level intrinsics to Taichi"
## Intro

There have been an increasing user need for writing high-performance (at certain cost of portability) SIMT kernels. When running on CUDA, Taichi already follows [SIMT](https://en.wikipedia.org/wiki/Single_instruction,_multiple_threads), but it lacks support for [warp-level](https://developer.nvidia.com/blog/using-cuda-warp-level-primitives/) (e.g., __ballot_sync) and block-level (e.g., `

[2022-03-25 15:51] bobcao3 commented on #4631
Extension: Add Warp size query and control. Warp level intrinsics exists in Vulkan and Metal, and on those platforms some devices use warp size different from 32, some devices even allow custom warp sizes. (subgroup size control & subgroup operations)

[2022-03-25 15:53] yuanming-hu commented on #4631
@bobcao3 Can't agree more! :-)

[2022-03-26 00:41] AmesingFlank commented on #4631
Would love to see this!
Btw Metal has pretty good warp intrinsics support as well (they call in SIMD-group). See table 6.13 in https://developer.apple.com/metal/Metal-Shading-Language-Specification.pdf

[2022-03-26 03:52] k-ye commented on #4631
One addition to this proposal: warp intrinsics is a great add-on, but in the meantime, we also need a design to formalize our parallelization strategy. Right now it's quite vague to users how a Taichi for iteration is mapped to a GPU thread (TLDR; it's backend-dependent..) I think we need to offer explicit spec on this (cc @strongoier).

[2022-03-26 09:08] yuanming-hu commented on #4478
We should probably through an error in this case. Welcome contribution!

[2022-03-26 09:09] yuanming-hu commented on #4459
This can possibly be fixed by minor updates to the AST transformation process. Welcome contribution!

[2022-03-26 11:15] frostming commented on #3754
Close this issue since `install_dep.ps1` has been deleted.

[2022-03-26 11:15] #3754 closed

[2022-03-26 23:05] bobcao3 commented on #4631
Should we remove the mask part from the intrinsics? It seems like only CUDA and AVX512 supports these masks.

[2022-03-26 23:37] bobcao3 commented on #4586
IIRC if it has the full amdgpu-pro stack, you should have access to Vulkan. Vulkan should be the best backend the AMD gpus run on. Due to some `glibc` versioning issue the CentOS 7 package is CPU-only, so you would need to build from source to get Vulkan. We are considering adding ROCm support if there is a good reason and large enough demand.

[2022-03-26 23:38] bobcao3 commented on #4586
@lql341 If you can get Vulkan to work on your side with building from source please post the steps you took so that we can try to add that capability officially! Thanks!

[2022-03-26 23:43] bobcao3 opened #4635 "[lang] Use Allocas for TLS instead of a memory pointer"
Thread local memory pointer is really only a thing on CUDA iirc. Hardware wise all thread local memory are in the registers, as the first level of cache will be the shared memory. From the code it seems only atomic reduction is using TLS, and from the code it does not seem to need the capability to use direct memory offests instead of Allocas. We know & defined the TLS prologue to be always outsid

[2022-03-27 02:29] neozhaoliang commented on #4478
PR [4636](https://github.com/taichi-dev/taichi/pull/4636) to fix this.

[2022-03-27 03:42] bobcao3 commented on #4635
While prototyping this change, I discovered using `alloca` is a bit hard to implement on LLVM backends where the runtime is compiled from a `cpp` file and then the loop body done through a function pointer. This produces an scope problem, not sure how we would fix it yet. On backends with src2src codegen or spirv codegen, this should be very straight forward.

[2022-03-27 03:48] DongqiShen opened #4637 "python3 examples/simulation/mpm128.py is not working on Developer installation"
**Describe the bug**
The Document in the Developer installation may not be updated. There is no 'examples' folder in the directory.

**Log/Screenshots**
[code]

**Additional comments**
I checked the root directory and I didn't find the 'examples' folder. I guess the fold was removed in some commits but the doc was not updated?

[2022-03-27 04:07] bobcao3 commented on #4637
Sorry we missed that in the docs. The examples are now in `python/taichi/examples` folder

[2022-03-27 05:07] lql341 commented on #4586
Actually I have tried to build Vulkan from source, but it complains as follows:
![image](https://user-images.githubusercontent.com/35156008/160267536-fe3f7203-ace3-4e93-89b7-d57840203e32.png)

Ps: we can discuss how to collaborate and implement Taichi on Hygon DCU platform if you are interested.

[2022-03-27 06:52] Wimacs commented on #4631
I want to take care of `__ballot_sync` intrinsics!

[2022-03-27 07:00] bobcao3 commented on #4586
Hello! Is it required to use CentOS 7? Is Ubuntu 20.04 LTS an option? The reason why we did not release gpu backends on CentOS is due to the older version of glibc that it ships with.

[2022-03-27 07:16] lql341 commented on #4586
I am running Taichi on a super-computing system, so the base system has to be Centos 7. But Another possibility is to run Taichi in a Ubuntu container.

[2022-03-27 11:49] yuanming-hu commented on #4631
Continuing discussions on @bobcao3's question:

My opinion: I agree exposing masks can be extra trouble for users, and can harm portability. Does anyone know a frequent CUDA use case where explicitly specifying the masks is helpful? If not then maybe we should not expose masks.

[2022-03-27 11:53] turbo0628 commented on #4586
Not sure if DPU's compatible with containers. Can you get vulkan work properly in the Ubuntu container?

This path without mature driver support is risky even when `vulkaninfo` runs properly. You might still run into strange driver related issues that are hard to debug.

How are you using DPUs currently? It is possible to extend to AMDGPUs with LLVM. This is how Taichi's CPU and CUDA backend works

[2022-03-27 11:53] yuanming-hu commented on #4637
Fixed in https://github.com/taichi-dev/taichi/pull/4640. Thank you @DongqiShen!

[2022-03-27 11:53] #4637 closed

[2022-03-27 12:12] lql341 commented on #4586
Hi, I am using DCU, which shares the same backend (ROCM）with AMD GPU but made by Hygon. And since I am trying to test Taichi on a super-computing system, my account is non-root user by default. So messing up with GPU Drivers can be very difficult, I am trying to run Taichi in a Ubuntu container.

Another question, do you think it is necessary to run Taichi on a super-computing system, or a good PC

[2022-03-27 12:13] lql341 commented on #4586
Hi, I am using DCU, which shares the same backend (ROCM）with AMD GPU but made by Hygon. And since I am trying to test Taichi on a super-computing system, my account is non-root user by default. So messing up with GPU Drivers can be very difficult, I am trying to run Taichi in a Ubuntu container.

Another question, do you think it is necessary to run Taichi on a super-computing system, or a good PC

[2022-03-27 12:14] turbo0628 commented on #4631
Also vote for hiding the masks beneath Taichi's interface.

The masks are extremely troublesome and hard to read and understand especially when we hide a lot many parallelization details for elegant parallel programming. The prerequisite to expose mask is a set of more direct APIs to manipulate parallel hardware.

Special stencil patterns covering specific near neighbors (star stencil etc.) might

[2022-03-27 14:52] weiyunfei commented on #4213
Hi,
I encountered the same error when run `import taichi` after building taichi from source just now.

I followed the Developer Installation document during building.

My CmakeCache.txt is [CMakeCache.txt](https://github.com/taichi-dev/taichi/files/8357879/CMakeCache.txt).

And I find the following outputs when building `taichi.core`.

I'm not sure whether these ignoring files led to an incomplete

[2022-03-27 16:40] bobcao3 commented on #4631
According to the CUDA API, the masking behavior is really unexpected. If an active thread executing an instruction where it is not in the mask yields unexpected behavior, this the mask is only an convergence requirement. Now comes the tricky part, there's no explicit convergence requirement in CUDA, thus the mask must be queried everytime we've taken a branch. Using the ALL mask in divergent contr

[2022-03-27 16:41] bobcao3 commented on #4631
Mask in vector processing like AVX512 or RiscV Vectors are very different from CUDA.

[2022-03-27 17:44] varinic commented on #4631
I would like to take care of `__shfl_xor_sync` intrinsics!

[2022-03-27 19:54] bobcao3 commented on #4213
@weiyunfei Hello, are you using a M1 mac? If so, please check whether you are using the M1 native console?

[2022-03-27 19:56] bobcao3 commented on #4586
@lql341 You can just use a regular PC. We have CPU backends as well, and if you have a discrete GPU that would be best. We don't support multi GPU at this point so a super computing system might not help. However we are interested in supporting DCUs, we shall contact you later regarding that.

[2022-03-28 00:46] lql341 commented on #4586
Okay. I am very interested in supporting DCUs.

[2022-03-28 02:46] weiyunfei commented on #4213
If the the M1 native console means the builtin Terminal of M1 mac, I have both tried the M1 native console and ITERM2. And I got the same results. This is my building log with `python3 setup.py develop --user`.
[build.log](https://github.com/taichi-dev/taichi/files/8359305/build.log)

[2022-03-28 04:23] DongqiShen commented on #4631
Got I naive question. If I want to implement a task in the issue or other opened issue, how do I know that maybe somebody do the same work as me.

[2022-03-28 05:21] yuanming-hu commented on #4631
Good question. As long as nobody says "I'll take this task" and the issue has no assignee, you are safe to assume that nobody is working on it. Before you start coding, it would be nice to leave a comment "let me implement XXXX" so that people know you are working on it :-)

[2022-03-28 06:49] strongoier commented on #4566
I will close this issue for now because:
- the first problem is solved by #4597
- the bonus issue is the same kind of problem as #4471
- the other segfault problem duplicates #1596.

[2022-03-28 06:49] #4566 closed

[2022-03-28 10:23] rexwangcc commented on #4623
The next step on this issue is to confirm our current behavior is as described, after which we could improve on the build system.

[2022-03-28 16:28] eliotlouet commented on #4613
I got the same problem with the given code below :

[code]
It happens when I try to access a field value of type int16, int8, uint16, uint8, for other types it won't be a problem.

[2022-03-29 00:41] lql341 commented on #4586
Is there a better way that we can discuss the possibility of the implementation on DCU? Say email, Wechat, whatever...

[2022-03-29 05:44] lin-hitonami opened #4648 "The error message of Taichi assertion failure is too long"
**Concisely describe the proposed feature**
Taichi assertion failure now produces the purple stack, which is long and meaningless.
[code]

**Describe the solution you'd like (if any)**
Throw `TaichiAssertionError` instead of using the `TI_ERROR` macro.

[2022-03-29 06:40] #4541 closed

[2022-03-29 06:45] strongoier commented on #4613
Thanks for reporting this! This is indeed a bug in Taichi and we are looking into a proper way to fix it.

[2022-03-29 07:25] lin-hitonami opened #4652 "Error on void return"
**Describe the bug**
The AST transformer throws error when returning with no value.

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2022-03-29 08:31] #4648 closed

[2022-03-29 08:47] lin-hitonami opened #4655 "Let the CFG support multiple return statement in real function"
**Concisely describe the proposed feature**
We need to find out whether we need to change the CFG in order to let the real function work normally.
It seems it's working fine now, but we still need to find out if there are bugs or opportunities on optimization.

[2022-03-29 09:10] Taichi-contributor commented on #4586
We may have further discussions in the slack channel.
Please send an email to **community@taichi.graphics** then we will send an invitation link to you.

[2022-03-29 13:40] lin-hitonami commented on #4602
`6.12. Assignment expressions` seems to be missing, Taichi supports it.

[2022-03-29 13:49] strongoier commented on #4602
Ah nice catch! Fixed.

[2022-03-29 14:49] lin-hitonami commented on #4602
Also, we may also need a chapter for static expressions (expressions wrapped by `ti.static()`). (updated the task list)

[2022-03-29 20:35] RuRo opened #4659 "`ti.atomic_max` reduction seems to use `f64` instead of `f32`"
Consider the following code:
[code]

Inspecting the generated `taichi_kernel_cuda_llvm_ir_optimized_0001.ll` and `taichi_kernel_nvptx_0001.ptx` we can see the following lines in the `reduce` function implementation:
[code]
and
[code]

The reduction appears to

1) extend the `f32` to `f64`
2) perform the max operation
3) and then truncate it back to `f32`

Is this intentional? Note, that this doesn

[2022-03-29 21:31] RuRo opened #4660 ""Smart" thread-local reduction only works with 0D fields"
Consider the following code:
[code]

You can inspect the generated `ll` and `ptx` files and verify the thread-local reduction is used:
1) The value is accumulated locally using regular, non-atomic `fadd`
2) The values in each warp are aggregated using `@llvm.nvvm.shfl.sync.down.f32` and regular non-atomic `fadd`
3) The final value is aggregated using `atomicrmw fadd`

However, this optimization is

[2022-03-29 23:27] AmesingFlank commented on #4659
Hmm, interesting, I'm pretty sure the LLVM IR that we generate is correct, see https://github.com/taichi-dev/taichi/blob/22a099dbdb76a2fdd341f7c69c1e34bb77c1690e/taichi/runtime/llvm/runtime.cpp#L1123-L1149

[2022-03-30 02:34] squarefk opened #4661 "Infinite Loop with Exponentiation"
It should either do implicit type conversion or trigger error.
[code]

[2022-03-30 02:43] pigletfly opened #4662 "RuntimeError: Window close button clicked, exiting"
**Describe the bug**
when running fractal.py in https://docs.taichi.graphics/#hello-world, and click close button,then a runtime error occured.

**To Reproduce**
run fractal.py in https://docs.taichi.graphics/#hello-world

**Log/Screenshots**
[code]

[code]

**Additional comments**

[2022-03-30 02:45] pigletfly commented on #4543
I'd like to take a shot on this @ailzhang

[2022-03-30 03:18] ailzhang commented on #4543
@pigletfly Awesome it's yours! Please don't hesitate to ping us here if you have any questions!

[2022-03-30 03:28] #3519 closed

[2022-03-30 05:51] turbo0628 commented on #4659
Thanks @RuRo!

This bug is a little embarrassing.`fmax` in `cmath` has `double` type. So the compiler will implicitly convert all the operands to `double` and then truncate back. The type conversion also exists for i32.

Fixed by using the std::min/max.

[2022-03-30 06:58] turbo0628 commented on #4660
This is true. Thread local storage optimization is skipped in such scenarios. See [here](https://github.com/taichi-dev/taichi/blob/7027cc300cf459f57dcc882dd5ddcae14ae7281e/taichi/transforms/make_thread_local.cpp#L103-L121).

Are you interested in contributing a more generalized TLS?

[2022-03-30 07:11] #4652 closed

[2022-03-30 08:32] xuhao1 opened #4670 "Drawing lines in GGUI"
**Concisely describe the proposed feature**
I would like to draw lines in GGUI, it's important for a lot of applications and debugging.

**Describe the solution you'd like (if any)**
[code]

[2022-03-30 08:58] xuhao1 opened #4671 "GGUI not supported on Linux with v0.9.2"
**Describe the bug**
After updating to taichi 0.9.2, the GGUI does not work anymore.

**To Reproduce**
[code]

Vulkan environment is properly installed.
[code]

[2022-03-30 09:39] xuhao1 commented on #4671
@strongoier
I try again and it does not work either
[code]

[2022-03-30 09:42] strongoier commented on #4671
This confirms my guess. `pip` finds the `manylinux2014` wheel which only contains CPU and CUDA support.
Is it possible to upgrade your `pip` version?

[2022-03-30 10:16] xuhao1 commented on #4671
@strongoier Thanks a lot! updating pip works, it install taichi-0.9.2-cp38-cp38-manylinux_2_27_x86_64.whl (27.5 MB) now and GGUI works.

[2022-03-30 12:51] RuRo commented on #4660
I am implementing some image processing routines in taichi.
Currently, I am using global reductions in 2 places:

1) A simple scalar reduction (sum `scalar_func(img[I])` over all `I`).
2) A histogram reduction. Something like
[code]

I don't actually care about the `(1,)`-sized `ti.field` case all that much, that was just something I found while experimenting.

What I really care about is the 0D `

[2022-03-30 13:01] #3811 closed

[2022-03-30 13:18] RuRo opened #4675 "`v0.9.2` release notes and code mismatch"
It seems to me that both the `v0.9.2` PyPI release and the `v0.9.2` git tag don't actually match the [release notes](https://github.com/taichi-dev/taichi/releases/tag/v0.9.2) for this version.

I think, that the following PRs are missing from the `v0.9.2` release:
- [Lang] Deprecate ext_arr/any_arr in favor of types.ndarray (#4598) (by Yi Xu)
- [lang] Fix vector matrix ndarray to numpy layout (#45

[2022-03-30 22:24] xuhao1 opened #4677 "Failed to assign row values by matrix slicing"
**Describe the bug**
Failed to assign a transposed vector to a matrix row by using slicing m[i,:]

**To Reproduce**

[code]

**Log/Screenshots**

[code]

**Additional comments**

Allowing slicing will accelerate the speed of development.

[2022-03-30 22:44] xuhao1 opened #4678 "Reassign of vector/variable with different types"
**Describe the bug**
When reassigning a variable/vector with a different type, the original type does not change, this may lead to confusion as people are easier to think taichi works similar to python (but not C)

**To Reproduce**

[code]

**Log/Screenshots**

[code]

**Additional comments**
My suggestion is to either of:
- Gives a clear warning or error indication that the line has Implicit conv

[2022-03-30 23:00] xuhao1 commented on #1167
@yuanming-hu Is this still underdeveloped? I have written a small library for transformations on taichi on my own... (QuaternionInverse, QuaternionMatrix, QuaternionMultiply, etc...)

[2022-03-31 06:14] yuanming-hu commented on #1167
@neozhaoliang is working on the math utils - maybe you guys can chat and figure out a way to include quaternion operations?

[2022-03-31 06:44] DongqiShen commented on #4390
@bobcao3 Hi, I tried X11 forwarding but it doesn't work. My machine is Mac (M1) and remote access to ubuntu 20.04, so what you mean is that taichi doesn't support X11 forwarding officially ? Thanks.

[2022-03-31 06:54] neozhaoliang commented on #1167
@xuhao1
Hi, thank you for contributing new functionalities to Taichi. Yes having quaternion support in Taichi would be a nice feature. I saw your implementation, it should be [here](https://github.com/xuhao1/TaichiSLAM/blob/main/taichi_slam/taichi_transformations.py), right?
There is a situation we'd like to let you know of (and it's a good one): we are considering adding glsl-style vector support

[2022-03-31 07:56] xuhao1 commented on #1167
@neozhaoliang OK, I will come back for it one week later.

[2022-03-31 08:43] #4659 closed

[2022-03-31 10:09] xuhao1 opened #4684 "Possible to get jacobian?"
I have a field

and

I am trying to get the jacobian between this two field, is that possible? After filling the loss into loss_field,

current only return 1 value.
Code
https://github.com/xuhao1/TaichiSLAM/blob/main/tests/taichi_nnls_test.py

[2022-03-31 11:10] RuRo commented on #4660
My main motivation for opening this issue is to follow the principle of least astonishment. I am totally okay with either accumulating the result in a temporary or with mixing `field` and `ndarrays`. I just think, that the current behaviour of the TLS reduction optimization is not very intuitive.

***I*** can read llvm/nvptx, and so ***I*** am able to debug such performance issues. But you shouldn

[2022-03-31 15:55] yuanming-hu opened #4691 "[Doc] GGUI should already support Mac OS X since v0.9?"
![image](https://user-images.githubusercontent.com/6553256/161097949-91e32b86-1c0e-42da-bfc6-9e01df9d7cc8.png)

I believe it supports Mac OS X and the Vulkan backend. The doc needs an update.

[2022-03-31 19:06] RuRo opened #4692 "Multiple assignments"
Consider the following:
[code]

The above code prints `2 3` instead of `2 2`. After looking at the generated IR, it seems that taichi interprets the
[code]
line as if it were
[code]
which is all kinds of wrong.

[2022-04-01 01:36] zixichen007115 opened #4693 "unit of Young's modulus"
In some taichi codes, Young's modulus is applied. Is its unit Pa or N/m?

[2022-04-01 01:41] k-ye commented on #4691
cc @Vissidarte-Herman

[2022-04-01 02:50] bobcao3 commented on #4660
Strongly agree. I was working on the pointer alias analysis a bit earlier for NDArrays, will probably look into these further. For now, the best course of action is to first document the behavior, then unify all the pointer statements in the IR (currently a major pain for pointer analysis), then finally fix the problem entirely.

[2022-04-01 02:51] bobcao3 commented on #4670
Do you mean 3d lines specifically?

[2022-04-01 04:08] k-ye commented on #4390
Yeah, that's mostly due to X11/network settings. Taichi can help little in this case :-(

[2022-04-01 06:42] Vissidarte-Herman commented on #4691
Updated in https://github.com/taichi-dev/taichi/pull/4676

[2022-04-01 08:08] strongoier commented on #4675
Thanks for reporting this! The release notes is now fixed.

[2022-04-01 08:08] #4675 closed

[2022-04-01 08:45] #4692 closed

[2022-04-01 08:52] lin-hitonami opened #4699 "Support f-string in assertion message"
**Concisely describe the proposed feature**
Currently, we only support formatting assertion message using %-operator, which is not recommended by python. We should add f-string support for assertion as well.

[2022-04-01 10:11] k-ye commented on #4684
@erizmr is this discussed offline...?

[2022-04-01 10:26] mgttt opened #4703 "hunger for ti.log2()"
**Concisely describe the proposed feature**

log2() is much faster than ln(), and for some math calculation it is so important.  yes, log(x)/log_2 is a somehow hack solution but it is not fast enough....

**Describe the solution you'd like (if any)**
hanger for taichi.log2()

**Additional comments**

[2022-04-01 11:46] AmesingFlank commented on #4693
it depends on the dimensionality of the simulation. A 2D simulation would use N/m whereas a 3D simulation would use Pa(N/m^2)

[2022-04-01 11:52] #4699 closed

[2022-04-02 06:07] erizmr commented on #4684
@k-ye I am working on it and will try to put the discussion here.

[2022-04-02 07:29] #4691 closed

[2022-04-02 09:46] #4607 closed

[2022-04-02 21:57] IcingTomato opened #4711 "Failed to build on ARMv8 device(Khadas VIM3)"
**Describe the bug**
My device is down below.

[code]
[code]

There is no CUDA core on Khadas VIM3, but I think it can run on CPU.

And here is Cmake:

[code]

But an error occured:

[code]

[2022-04-03 13:05] weiyunfei commented on #4379
Hello! I'd like to take a look. I plan to add an if-else logic in `_Ndrange.__init__()` for reverse order, or do you have a better idea?

[2022-04-04 21:21] bobcao3 commented on #4711
Seems to be accidentally broken recently. If it's possible, can you try PR #4715 ? That should fix this problem

[2022-04-05 06:20] erizmr commented on #4684
Sorry for the late reply. @xuhao1 .
The currently autodiff system can compute Vector-Jacobian Product (VJP) convenient.  There is no interface for computing Jacobian matrix directly, but if setting the corresponding element of the vector to `1.0`, we can compute `one row` of the Jacobian using one pass backward. Then we can get the jacobian row by row. Here is an example:

![CodeCogsEqn (2)](https

[2022-04-05 10:16] xuhao1 commented on #4684
@erizmr Got it, thanks for your reply~ I will try it later.

[2022-04-05 21:06] bobcao3 commented on #4703
`log2` takes the same amount of hardware clock cycles as `ln`, that information can be found from AMD's GCN or RDNA ISA documentation and its compilers. It does make sense to provide `log2` in the math library.

[2022-04-06 04:10] yuanqing-wang opened #4722 "Derivative of derivative"
Greetings! I'm new to this community so my apologies if this question is somewhat naive. But is there a (recommended) way to take derivatives of derivatives in `taichi`? Thanks!

[2022-04-06 05:18] bobcao3 commented on #4722
IIRC currently second derivatives are not supported in auto-diff, but I'm not very familiar with the autodiff system either.

[2022-04-06 06:02] yhesper opened #4723 "broken documentation link on taichi.graphics"
**Describe the bug**
Broken documentation link on [taichi.graphics](https://taichi.graphics/)

**To Reproduce**
Click the "Documentation" button on [taichi.graphics](https://taichi.graphics/)

[2022-04-06 09:46] strongoier commented on #4379
Hi @weiyunfei. Thanks for showing interest in this issue! Code around `_Ndrange` is a good place to start with. I suspect there will be more code involved. Feel free to post things here if you have more findings or meet any problems :-)

[2022-04-06 10:19] Vissidarte-Herman commented on #4723
Thanks. I'm on it.

[2022-04-06 12:17] rexwangcc commented on #4723
Hi, thanks for reporting!! Since we have revamped the website a while ago and have been experiencing caching issues along the time, just to make sure you are seeing the following (new) page via [taichi.graphics](https://taichi.graphics/)? (if not, maybe you would have to use incognito mode or clear your browser cache 😄 )

<img width="1277" alt="Screen Shot 2022-04-06 at 8 15 40 PM" src="https://us

[2022-04-06 13:45] k-ye opened #4731 "External array should be treated like a template?"
In https://github.com/taichi-dev/taichi/blob/fc3c823078c7859baa0214d7db70ead9e3ed2434/python/taichi/lang/kernel_impl.py#L316-L328, we are only passing the dimension of the external array (`len(shape)`) as a type feature. However, external arrays themselves don't maintain an Ndarray (or `DeviceAllocation`), so many backends create a corresponding Ndarray under the hood. This underlying Ndarray's sh

[2022-04-06 14:34] k-ye commented on #4731
I think we do.

Note that there's a minor different between external array and ndarray, in the sense that the later can be directly bound to a Taichi kernel. I think the ideal solution is to create a shadow Ndarray for every external array, except when the external array's pointer can be directly passed into a kernel (e.g. numpy on CPU backend, torch on CPU/CUDA backend).

[2022-04-07 01:42] yhesper commented on #4723
I see, I was viewing the old page! Damn, browser cache strikes again lol

[2022-04-07 02:42] xorange opened #4732 "AttributeError: module 'taichi' has no attribute 'var'"
## Describe the bug
AttributeError: module 'taichi' has no attribute 'var'

## To Reproduce
[code]

[code]

I've tried with Python 3.8+taichi 0.9.2, Python 3.9 + Taichi 0.9, Python 3.9 + Taichi 0.8.
I've also checked out https://github.com/taichi-dev/taichi/issues/364 but I'm not using a nightly build nor do I have any TAICHI related ENVs.

Or you might tell me where is `ti.var` exported in taichi

[2022-04-07 02:48] knight42 commented on #4723
@yhesper Hi! Please clear your brower cache or follow the instructions in https://answers.netlify.com/t/support-guide-understanding-unregistering-service-workers/145 to disable service worker to see if you could view the new page.

Please feel free to reopen this issue if there are other problems.

[2022-04-07 02:48] #4723 closed

[2022-04-07 02:55] knight42 commented on #4732
@xorange Hi, `ti.var` has been [deprecated](https://github.com/taichi-dev/taichi/issues/1500), please use `ti.field` instead. See also https://docs.taichi.graphics/lang/articles/field

[2022-04-07 02:58] xorange commented on #4732
Thanks for reply. I'll close this issue.

[2022-04-07 02:58] #4732 closed

[2022-04-07 06:11] ailzhang commented on #4722
cc: @erizmr

[2022-04-07 07:02] erizmr commented on #4722
Hi @yuanqing-wang , the current autodiff system has not support second order derivatives yet but it is on our road map.

[2022-04-08 03:55] lin-hitonami commented on #4540
Or can we assert like `assert ti.static(x)`?

[2022-04-08 03:57] TheaGong opened #4736 "Taichi lang logo"
![Taichi_lang_logo_readme](https://user-images.githubusercontent.com/100768747/162405540-21191b9d-d020-4822-b7cf-4c626f7557c3.png)

[2022-04-08 06:16] gingerkidney commented on #4736
Hi, the new logo seems fuzzy, could you provide a higher resolution one? @TheaGong

[2022-04-08 06:28] #4703 closed

[2022-04-08 07:25] lin-hitonami opened #4739 "In-place operators on Matrix in python scope"
**Describe the bug**
Taichi does not support in-place operators on Matrix in python scope

**To Reproduce**
[code]

**Log/Screenshots**
[code]

[2022-04-08 09:08] TheaGong commented on #4736
No problem, will try to upload again

[2022-04-08 09:10] neozhaoliang opened #4741 "The dtype argument in `ti.Matrix()` not working"
Example code:

When declaring a float matrix but using literal integers, the matrix is casted to `int` type:

[code]

[2022-04-08 09:20] #4736 closed

[2022-04-08 10:01] #4540 closed

[2022-04-08 14:09] shwnyao opened #4747 "Feature request for @ti.ad.no_grad"
In many circumstances I need a kernel function whose autograd is not needed, such as [example](https://github.com/hzaskywalker/PlasticineLab/blob/ac1a2f7b0bbbe88706b51bf3aa9d72483e1d05b6/plb/engine/primitive/primive_base.py#L166-L176)

The current solution has always been using `@ti.ad.gradreplaced` and `@ti.ad.grad_for` which immediately return, but it makes the code very redundant. The problem g

[2022-04-09 07:11] k-ye opened #4749 "nit: Merge Kernel.argument_names and argument_annotations"
https://github.com/taichi-dev/taichi/blob/536cd14b024c1f00ec80fc68c1a78115f5e635ea/python/taichi/lang/kernel_impl.py#L157-L158

These two lists are often used together. We should create a small struct to hold all the argument (or parameter, more precisely) info and maintain a single list in `Kernel`.

[2022-04-09 07:57] ailzhang commented on #4747
This proposal sounds good to me! @shwnyao please feel free to send a pull request when you have time! Thanks a lot! cc: @erizmr

[2022-04-09 08:24] erizmr commented on #4747
Thanks @shwnyao !

[2022-04-09 13:52] DongqiShen commented on #4749
Hi, I got a question here. I didn't know the meaning of these two lists, but I guess what your meaning is that we should put them together. For example, firstly, I defined a struct that is `struct argument {annotation, name}`. Secondly, I defined a list for this struct `argument = [{annotation_1, name_1}, {annotation_2, name_2}, ...]`.

If my understanding is correct, the element in these two list

[2022-04-09 16:21] k-ye commented on #4749
Yep, your understanding is correct! Sorry for any confusion here.

Sounds great! Looking forward to your fix :-)

[2022-04-10 08:24] weiyunfei commented on #4379
Hi, @strongoier. I really need some help now. After modifying the code of `_Ndrange`, the following test works well.
[code]

However, I found the `main()` function decorated by `@ti.kernel` does not work. The error is as follow:
[code]

When I check the AST building process, I have not figured out how it works when translating the for loop into a multi-thread version. I have read the codes for bui

[2022-04-10 23:25] YuxinPan opened #4756 "Taichi vector field values being changed randomly by kernel after explicit assignment"
**Describe the bug**
Taichi vector field values being changed randomly by kernel after explicit assignment of values inside a function. This happens without a certain pattern.

**To Reproduce**
Please see the code below to reproduce. The dev environment is:
[Taichi] version 0.8.9, latest version 0.9.2, llvm 10.0.0, commit 8a0942ba, linux, python 3.9.7

[code]

**Log/Screenshots**
There is no error

[2022-04-11 03:21] lin-hitonami opened #4757 "SPIR-V backend does not support float immediate number of f16 type"
**Describe the bug**
When fixing #4741, I found that SPIR-V does not support float immediate number of f16 type, and [test_f16.py::test_fractal_f16](https://github.com/taichi-dev/taichi/blob/master/tests/python/test_f16.py#L202) fails.

Note: remember to add `dtype=ti.f16` to the test after fixing this issue.
**To Reproduce**
This is an altered version of [test_f16.py::test_fractal_f16](https://gi

[2022-04-11 05:31] #4741 closed

[2022-04-11 10:24] erizmr commented on #4756
Hi @YuxinPan , the outermost loop of a Taichi kernel is paralleled executed, thus the order of the `kk[None]` loaded of `material[kk[None]] = 1` is not guaranteed. Some simple modifications can help address this issue, such as the example below:

[code]

[2022-04-11 10:56] qiao-bo commented on #4711
Hi, please let us know if #4715 has solved your problem? Thanks

[2022-04-11 12:58] FantasyVR opened #4761 "Failed to run GGUI on macOS"
**Describe the bug**
I couldn't run all GGUI examples on my mac.

**To Reproduce**
I build Taichi source code successfully from source on macOS Monterey 12.3.1,  Vulkan Instance Version: 1.3.204.  I tried to run GGUI examples but failed.

**Log/Screenshots**

[code]

**Additional comments**
`ti diagnose` output:
[code]

[2022-04-11 18:14] YuxinPan commented on #4756
Thanks, that indeed fixed this issue!

[2022-04-11 18:14] #4756 closed

[2022-04-12 01:47] erizmr commented on #4761
cc: @AmesingFlank

[2022-04-12 01:56] erizmr commented on #4757
cc: @bobcao3

[2022-04-12 02:21] bobcao3 commented on #4761
Does the pypi version work?

[2022-04-12 04:36] FantasyVR commented on #4761
@bobcao3 , I used Taichi 0.9.2. It still doesn't work. It seems that the instance creation is failed.

[code]

[2022-04-12 06:44] k-ye commented on #4761
Vulkan + GGUI run fine on my laptop. Here's my env:

* macOS Big Sur 11.4 (20F71)
* Vulkan Instance Version: 1.3.204

This line seems suspicious:

Not sure if this obj-c API has been removed from macOS 12.3

[2022-04-12 08:57] lin-hitonami opened #4766 "Example mgpcg fails"
**Describe the bug**
Example mgpcg fails

**To Reproduce**

[code]

**Log/Screenshots**

[code]

[2022-04-12 09:12] frostming commented on #1987
I just came across this issue in the backlog and will take a look. But I will not be likely to start working until #4624 is merged.

[2022-04-12 09:36] #4766 closed

[2022-04-13 05:42] k-ye commented on #4749
Fixed by https://github.com/taichi-dev/taichi/pull/4753, thanks @DongqiShen !

[2022-04-13 05:42] #4749 closed

[2022-04-13 06:23] k-ye opened #4777 "Support all kinds of SNodes in AOT"
**Concisely describe the proposed feature**

The current AOT solution is good to use for dense Taichi fields. However, to support all kinds of Taichi fields, we probably need to systematically revamp the fields design, so that a full SNode Tree can be baked into the AOT module. I'd like to write an RFC to discuss the solution.

[2022-04-13 08:02] BillXu2000 opened #4778 "Visiting mesh elements outside mesh fors"
**Concisely describe the proposed feature**
example: `mesh.verts[5]`

I will add detailed descriptions later.

[2022-04-13 09:57] neozhaoliang commented on #1167
@xuhao1 Hi, what do you think about adding `qmul`, `qconj`, `qdiv` functions under the module `math`?

[2022-04-13 12:26] #4747 closed

[2022-04-13 14:33] yuanming-hu opened #4781 "@ti.func should take keyword argument"
**Context**
[code]

Error messages:
[code]

Maybe we need to do something in the AST transformer?

[2022-04-13 14:42] yuanming-hu commented on #4613
Running into the same problem... Does anyone have an idea what's happening here? Many thanks.

[2022-04-13 14:47] yuanming-hu opened #4782 "Launching GGUI on OS X leads to lengthy debug outputs"
**Describe the bug**
As the title describes.

**To reproduce**
[code]

**Log**
[code]

I don't think these lines are necessary. They can be confusing to users.

[2022-04-13 14:50] yuanming-hu opened #4783 "Launching GGUI without showing leads to segmentation fault"
**To reproduce**
Just create a `ui.Window`, do not show it, and let the program exit.

[code]

**Log**
[code]

[2022-04-13 22:45] xuhao1 commented on #1167
@neozhaoliang OK~ I will do it later this week

[2022-04-14 04:20] yuanming-hu commented on #4783
Same situation on Linux.

[2022-04-14 06:24] bobcao3 commented on #4761
Seems like a MoltenVK bug. I'm running macOS 12.3 (on a M1 mac) and it has been fine. If possible, can you try to uninstall any moltenvk and VulkanSDK from the system and use the pip image (with our bundled moltenvk)? If that works, maybe use homebrew to install moltenvk

[2022-04-14 06:29] bobcao3 commented on #4782
This is a log produced from MoltenVK library. Since we are using a build of MoltenVK provided by homebrew / lunarg SDK, we can not control its log level. If we build MoltenVK from source it does use a variable to control this: `MVK_CONFIG_LOG_LEVEL` It could be that this also works as an environment variable.

[2022-04-14 07:03] ailzhang opened #4786 "[AOT] Serialize compute graph in python and load in C++ runtime"
Copied from #4615  :P : This would significantly reduce the efforts to porting a demo written in Taichi to non-Python environments. In essence, the AOT module will save not only the Taichi kernels, but also the host logic invoking them.
[Will add more context as we start adding this feature]

[2022-04-14 13:13] yuanming-hu opened #4788 "[Vulkan] Weird compilation error"
**To Reproduce**
Taichi version = v1.0, Ubuntu 20.04

[code]

**Log/Screenshots**
[code]

**Additional comments**
This script will run successfully if we do either of below...
1. Change any of the global field data types from `u8` to `i8`
2. Remove the nested for loop
3. Change `b[None] = 1` to `b[None] = 0`

[2022-04-14 15:02] yuanming-hu commented on #4613
Let me fix this one. Will open a PR soon.

[2022-04-14 22:25] bobcao3 commented on #791
Should be fixed as of now. Closing the issue

[2022-04-14 22:25] #791 closed

[2022-04-14 22:27] #656 closed

[2022-04-14 22:32] bobcao3 commented on #1122
Closing this issue as we are moving towards GGUI (where this is not an issue)

[2022-04-14 22:32] #1122 closed

[2022-04-14 22:33] bobcao3 commented on #1128
Can not repro, if this is still a issue please reopen

[2022-04-14 22:33] #1128 closed

[2022-04-14 22:35] bobcao3 commented on #1154
There's no API within OpenGL to select a device. mac OSdevices usually don't have the need for selecting a device (usually there's only one). Vulkan has added device selection support, and CUDA can use the system device selection environment variable.

[2022-04-14 22:35] #1154 closed

[2022-04-14 22:39] #4757 closed

[2022-04-14 22:44] bobcao3 commented on #992
It seems the DX11 backend is completed & working now. Performance optimizations etc. can open a new issue to track

[2022-04-14 22:44] #992 closed

[2022-04-14 22:47] bobcao3 commented on #1345
Redirecting this issue to #4711

[2022-04-14 22:47] #1345 closed

[2022-04-14 22:48] bobcao3 commented on #1313
A new cpu/cuda wheel has been added that should work on Ubuntu 16.04

[2022-04-14 22:48] #1313 closed

[2022-04-14 22:49] bobcao3 commented on #1786
We support this feature for a while now for all backends other than OpenGL.

[2022-04-14 22:49] #1786 closed

[2022-04-14 22:50] bobcao3 commented on #1659
This feature has been added into taichi.

[2022-04-14 22:50] #1659 closed

[2022-04-14 22:52] bobcao3 commented on #2100
Thread local tensors and tensor dynamic indexing is effectively the feature requested here.

[2022-04-14 22:52] #2100 closed

[2022-04-14 22:54] bobcao3 commented on #1970
This is no longer a bug rn as it outputs a proper type error: `'sin' takes real inputs only, however 'i32' is provided`

[2022-04-14 22:54] #1970 closed

[2022-04-14 22:59] bobcao3 commented on #2287
This should be fixed now, redirecting to #4711

[2022-04-14 22:59] #2287 closed

[2022-04-14 23:02] bobcao3 commented on #2518
Fixed by #2519

[2022-04-14 23:02] #2518 closed

[2022-04-14 23:05] bobcao3 commented on #2344
Merging with #4048

[2022-04-14 23:05] #2344 closed

[2022-04-14 23:08] bobcao3 commented on #4175
This should be fixed around v0.8

[2022-04-14 23:08] #4175 closed

[2022-04-14 23:09] bobcao3 commented on #4088
This has been fixed

[2022-04-14 23:09] #4088 closed

[2022-04-14 23:09] bobcao3 commented on #4083
f64 should be properly supported now in Vulkan.

[2022-04-14 23:09] #4083 closed

[2022-04-14 23:11] #3872 closed

[2022-04-14 23:14] #3030 closed

[2022-04-14 23:14] #2949 closed

[2022-04-15 00:59] EricCousineau-TRI commented on #3851
for those wondering, it was removed in 07d8193188

found via:
[code]

[2022-04-15 01:28] #4662 closed

[2022-04-15 02:48] FantasyVR commented on #4761
Hi @bobcao3, thanks for your reply. It still doesn't work.

I uninstall VulkanSDK and MoltenVK on my Mac. After that, I create a new `conda` env and install Taichi 1.0.0 using pip.  The output when running GGUI examples is the same as before.

Before doing what you said. I've tried using VulkanSDK and MoltenVK to draw something according to https://vulkan-tutorial.com/. And it works. But when usin

[2022-04-15 05:21] #4613 closed

[2022-04-15 06:22] strongoier opened #4793 "Implicit type casting rules have been changed"
After #4789, Taichi now has its own rules of implicit type casting, instead of simply following the behavior of C. The corresponding documentation has to be changed:
https://github.com/taichi-dev/taichi/blob/022456def2be5f592488ae983580aebb2f61525b/docs/lang/articles/basic/type.md?plain=1#L103

[2022-04-15 06:25] erizmr commented on #4493
Sorted with Taichi v1.0.0.

[2022-04-15 06:25] #4493 closed

[2022-04-15 06:41] strongoier opened #4795 "Shifting operators should not adopt the same implicit conversion rule as other arithmetic operators"
Shifting operators like `<<` should take the left-side type as its result type (`i8 << u32 = i8`) instead of following rules for other arithmetic operators (`i8 + u32 = u32`).

[2022-04-15 06:51] k-ye opened #4796 "Read Spirv spec"

[2022-04-15 07:14] erizmr commented on #4619
@bobcao3 @AmesingFlank Any updates about this issue?

[2022-04-15 08:01] yuanming-hu commented on #4795
A not so minimal example to reproduce this issue (by @GCChen97, #4613):
[code]

You will get a warning because `i8 << i32` leads to `i32`, which is later stored into `u8` (lose of precision).

[2022-04-15 08:03] yuanming-hu commented on #4795
The place to look at: https://github.com/taichi-dev/taichi/blob/6df23cb13063957ffe94669ffb6426f96ceccac2/taichi/transforms/type_check.cpp#L294

For shift operators we should use the left operand type as result type.

[2022-04-15 08:07] qiao-bo commented on #4711
Relate to 2287, we assume this issue has been resolved, Feel free to reopen if you still encounter problems.

[2022-04-15 08:07] #4711 closed

[2022-04-15 09:01] #4617 closed

[2022-04-15 12:06] k-ye commented on #2398
Hi there,

Taichi has finally made its [v1.0.0](https://github.com/taichi-dev/taichi/releases/tag/v1.0.0). We will follow the semver and make minor version bumps for feature releases. The next minor release will be [v1.1.0](https://github.com/taichi-dev/taichi/milestone/5). Closing this one now.

[2022-04-15 12:06] #2398 closed

[2022-04-15 12:16] k-ye commented on #4602
Shall we close this one :-)?

[2022-04-15 12:31] k-ye opened #4800 "AOT for the LLVM backend"
* [x] Make CPU backend work
   * [x] Support arg-less kernels
   * [x] Support scalar + Ndarray args
   * [x] Split LlvmProgramImpl into compile-time & runtime parts to form Runtime API
* [x] Make CUDA backend work
   * [x] Support arg-less kernels
   * [x] Support scalar + Ndarray args
* [ ] Provide public interfaces
   * [x] Interface with Compute Graph
   * [ ] Interface with C-API
* [ ] Improv

[2022-04-15 17:37] gaoxinge commented on #3743
@qiao-bo I have checked windows build by following [dev install doc](https://docs.taichi.graphics/lang/articles/dev_install), and it still works stably.

[2022-04-15 19:29] bsavery opened #4802 "Passing struct vs deferencing fields in struct performance"
In short I see significant performance decrease in passing a struct to a function vs dereferencing the struct fields and passing the values.

[code]

Also note metal vs vulkan effects quite a bit:
**Metal**
Passing reference 0.23202180862426758
Passing decomposed 0.09195494651794434

**Vulkan**
Passing reference 0.07849979400634766
Passing decomposed 0.05303597450256348

**CPU**
Passing reference

[2022-04-16 03:27] #3743 closed

[2022-04-16 07:50] re-xyr opened #4804 "Remove IfStmt::true_mask, false_mask"
Title; these two members are not used at all.

[2022-04-16 14:16] YuCrazing opened #4807 "Using `ti.loop_config(serialize=True)` before `ti.grouped()` leads to a wrong result"
**Describe the bug**
When using `ti.loop_config(serialize=True)` before `ti.grouped()`, I will get a wrong execution result. If we do not support such usage, maybe we should point out this in the doc, or give an error message at the compilation stage.

**To Reproduce**

A prefix sum example is shown as below:

[code]

[2022-04-16 19:55] IcingTomato commented on #4711
Here is a new trouble.

When I cmake it:

[code]

It remind me `SPIRV-Cross:  Testing will be disabled for SPIRV-Cross. Could not find glslang or SPIRV-Tools build under external/. To enable testing, run ./checkout_glslang_spirv_tools.sh and ./build_glslang_spirv_tools.sh first.`

But when I use `./build_glslang_spirv_tools.sh` a new failed occured:

[code]

[2022-04-17 03:33] YuCrazing opened #4808 "[AOT] Integrating Taichi AOT with Unity"
**Concisely describe the proposed feature**
As a potential large need of the game industry, we should give support to integrate Taichi AOT with commercial game engines. The first one could be Unity.

**Describe the solution you'd like (if any)**
A reasonable way to integrate Taichi AOT into Unity is via [unity native plugin interface](http://docs.unity3d.com/Manual/NativePluginInterface.html), whi

[2022-04-18 01:36] FantasyVR commented on #4804
cc @lin-hitonami @strongoier

[2022-04-18 01:37] FantasyVR commented on #4802
cc @qiao-bo @turbo0628

[2022-04-18 02:44] k-ye opened #4810 "ti.Vector should also support swizzling"

[2022-04-18 04:59] k-ye commented on #4808
Excited to see that Taichi is moving toward this direction!

Could you also write down the concrete interfaces provided by Unity RHI pluggins? E.g. `IUnityGraphicsVulkan`. Thanks!

[2022-04-18 07:57] k-ye commented on #4802
As a good first step, we can enable `ti.init(..., print_ir=True)` to see if there's significant difference in CHI IR. See https://github.com/taichi-dev/taichi/discussions/4784#discussioncomment-2570901

[2022-04-18 08:04] k-ye commented on #4802
Note that you might also want to exclude the timing for the first run, because that counts JIT time as well.

[2022-04-18 08:16] #4804 closed

[2022-04-18 08:37] k-ye commented on #4761
The erro stack points to `objc_msgSend() selector name: countByEnumeratingWithState:objects:count:`.

Looking at these:

* https://www.cocoawithlove.com/2008/05/implementing-countbyenumeratingwithstat.html
* https://stackoverflow.com/questions/9884535/core-data-countbyenumeratingwithstateobjectscount-error

It seems like moltenvk mis-used `for .. in ...` in their obj-c impl. Still feels like a mol

[2022-04-18 09:04] #4739 closed

[2022-04-18 09:18] yuanming-hu opened #4811 "ti.init(arch=ti.vulkan) changes cwd"
**To Reproduce**
[code]

**Log/Screenshots**

[code]

Related issue = https://github.com/taichi-dev/voxel-challenge/issues/3

[2022-04-18 09:20] strongoier commented on #4602
Sure!

[2022-04-18 09:20] #4602 closed

[2022-04-18 09:51] strongoier commented on #4677
Thanks for reporting this! Writable matrix slicing is definitely a thing we would like to support.

[2022-04-18 11:47] Shatom commented on #2311
Have you solved that? I met the same problem...

[2022-04-18 16:16] bsavery commented on #4802
@k-ye  thanks for that.

So with a simple change to exclude the jit time (run once before timing) I get:

Vulkan
Passing reference 0.02786087989807129
Passing decomposed 0.047796010971069336 (worse!)

CPU
Passing reference 0.01233816146850586
Passing decomposed 0.011642217636108398

Metal:
Passing reference 0.0014309883117675781
Passing decomposed 0.0014178752899169922

So there is something comin

[2022-04-18 18:54] bobcao3 commented on #4788
Not reproducible on M1 macs, seems to be Nvidia specific, will take a closer look later today

[2022-04-18 22:26] k-ye commented on #4802
Yup, @PGZXB 's working on an offline cache system, starting with LLVM backend. We are using the AST as the cache key now. @PGZXB only has one day or so per week to work on Taichi, so the feature is a bit slow to release. But we are moving towards that direction. Thanks for your suggestion :-)

[2022-04-19 00:38] Shatom commented on #2311
Did you use WSL? Someone said there is no problem in ubuntu, but WSL...

[2022-04-19 01:33] YuCrazing commented on #4808
Detailed usage of `IUnityGraphicsVulkan` is added.

[2022-04-19 02:43] FantasyVR commented on #4761
After using `libMoltenVK.dylib` which is built from Molten source code. The program crash when `creates a number of autoreleased instances of Metal and other Obj-C classes`:
https://github.com/KhronosGroup/MoltenVK/blob/6b3ef7b51a1793cdc268b5d5d9d96c5f8606e822/MoltenVK/MoltenVK/GPUObjects/MVKInstance.mm#L343-L349
[code]

[2022-04-19 03:37] erickingxu opened #4817 "projects/taichi/taichi/llvm/llvm_codegen_utils.h:71:28: error: no viable conversion from 'llvm::MaybeAlign' to 'llvm::Align' alloca->setAlignment(llvm::MaybeAlign(alignment));"
Errors occured when run "  python3 setup.py develop --user  ":
xxxx/projects/taichi/taichi/llvm/llvm_codegen_utils.h:190:21: error: no matching member function for call to 'CreateCall'
    return builder->CreateCall(func, arglist);
[code]

[2022-04-19 06:54] FantasyVR commented on #4817
Hi @erickingxu, sorry for the inconvenience. Could you post more error messages and share your device environment?

Please ensure you follow the [Developer installation](https://docs.taichi.graphics/lang/articles/dev_install) doc first.

[2022-04-19 15:38] BillXu2000 opened #4821 "Taichi built from source takes too long time"
**Describe the bug**
When building taichi from source, it seems that the compilation phase is blocked at
[code]
This linking takes more than 5 minutes (before I end up this command).

**To Reproduce**
I built Taichi on Ubuntu 20.04.

commit 4512cccf2b927932b0e9eca42ab30b7e4a0eed83 works on my machine, and the next commit 7262bb0f7f1e3567e2bc43ac4eee0dc20fa79129 will trigger this problem.

PR #4716

[2022-04-19 22:24] #4619 closed

[2022-04-20 00:28] bobcao3 commented on #4817
Hello! This seems to be a problem with the LLVM environment. Have you downloaded / built the LLVM 10.0 that we used? If so, you may need to set the LLVM_DIR environment variable.

[2022-04-20 02:04] #4811 closed

[2022-04-20 02:24] qiao-bo commented on #4821
The linking phase works fine on my PC. Can you share your build flags as well?

[2022-04-20 02:59] PGZXB commented on #4821
@BillXu2000 Do you use gcc to build?

[2022-04-20 03:52] #4821 closed

[2022-04-20 06:19] qiao-bo opened #4824 "[ci] Improve docker image for Linux CPU build and test"
Currently, we employ an Ubuntu 18.04 based docker image (Dockerfile [here](https://github.com/taichi-dev/taichi/blob/master/ci/Dockerfile.ubuntu.18.04.cpu)) for building and testing Taichi's CPU backend. The current image is approximately 12GB, we would like improve this image by reducing the image size to its minimal.

Things to consider include:
- Familiar with Taichi's build environment and wor

[2022-04-20 07:46] FantasyVR commented on #4761
Hi @k-ye, @bobcao3.

The `vkInstance` is created twice in Taichi. The first time is to [check_vulkan_device](https://github.com/taichi-dev/taichi/blob/2281a2bf58143deb6afebc80fbc21d62746b365a/taichi/backends/vulkan/vulkan_loader.cpp#L43) and the temporarily created instance is [destroyed](https://github.com/taichi-dev/taichi/blob/2281a2bf58143deb6afebc80fbc21d62746b365a/taichi/backends/vulkan/vulk

[2022-04-20 08:34] frostming commented on #4824
If we switch to the `container` setting in workflow(#4776 ), we can get rid of the conda setup since it can be done by a [Github Action](https://github.com/marketplace/actions/setup-miniconda)

[2022-04-20 08:36] qiao-bo commented on #4824
that would be great! conda environment occupies quite some space.

[2022-04-20 08:45] erickingxu commented on #4817
My mac is M1 max, and I install as your dev install reference for mac m1
, as follows:https://docs.taichi.graphics/lang/articles/dev_install

[2022-04-20 09:47] erickingxu commented on #4817
and my clang version:  clang --version
Homebrew clang version 11.1.0
Target: arm64-apple-darwin21.4.0
Thread model: posix
InstalledDir: /opt/homebrew/opt/llvm@11/bin

[2022-04-20 11:08] #4783 closed

[2022-04-20 12:32] k-ye commented on #4761
Hmm,  could you collect their macOS versions? Also have you tried to create the `vkInstance` twice in your own VK demo?

[2022-04-20 12:50] #4788 closed

[2022-04-20 22:25] bsavery opened #4829 "MoltenVK on Metal changes cwd to the python install directory with ti.init()"
**Describe the bug**
When using vulkan on macOS with moltenVK installed, initializing taichi will change the cwd.  It's a simple and easy to work around bug but really annoyed me when it couldn't find a local file ;)

**To Reproduce**

[code]

**Log/Screenshots**

With metal:
'/my_directory'

With vulkan
[mvk-info] MoltenVK version 1.1.8, supporting Vulkan version 1.1.204.
        The following 72

[2022-04-20 22:27] bsavery commented on #4829
I can obviously workaround, but annoying!  Probably just needs to cache / pop the CWD when doing ti.init

[2022-04-21 00:28] FantasyVR commented on #4829
Hi @bsavery,  I think this is already solved in this PR: https://github.com/taichi-dev/taichi/pull/4812.

[2022-04-21 01:31] FantasyVR commented on #4761
Hi @k-ye. If I create `vkInstance` twice (source code: [here](https://gist.github.com/FantasyVR/2d0e9cc0b563332a5ad4db1ed6a89668)) in my VK demo, I got the same crash Info: `objc_msgSend() selector name: countByEnumeratingWithState:objects:count:`.

[2022-04-21 01:41] bobcao3 commented on #4761
Should we submit a bug report to MoltenVK for this? Can you pin down the MoltenVK version & specific Intel GPU sku?

[2022-04-21 01:53] FantasyVR commented on #4761
Thanks, @bobcao3. MoltenVK versions 1.8.8, 1.8.9 and [the master branch](https://github.com/KhronosGroup/MoltenVK/commit/6b3ef7b51a1793cdc268b5d5d9d96c5f8606e822) build are all not working.
My GPU is Intel(R) Iris(TM) Plus Graphics 1546 MB which supports Metal GPUFamily macOS 2.

[2022-04-21 02:05] k-ye commented on #4761
Cool! Once you finished testing on another mac, let's submit this (better with a small repro using Vulkan) to https://github.com/KhronosGroup/MoltenVK/issues

[2022-04-21 02:11] bobcao3 commented on #4761
Can you get the specific sku? e.g. Iris Plus 650, or just the specific CPU sku

[2022-04-21 02:15] k-ye commented on #4817
Note that this could be the source of confusion: Taichi requires both Clang (the compiler) and the LLVM-**10** library. For the latter, could you re-check if LLVM-10 has been properly installed, as documented in https://docs.taichi.graphics/lang/articles/dev_install#install-llvm ? (Your InstalledDir shows that it is LLVM-11)

[2022-04-21 02:20] k-ye commented on #4829
Likely dup of https://github.com/taichi-dev/taichi/issues/4811?

[2022-04-21 02:20] #4829 closed

[2022-04-21 02:30] bsavery commented on #4829
Definitely.  Thanks!  Sorry I should have searched more thoroughly

[2022-04-21 04:00] #4781 closed

[2022-04-21 04:46] k-ye opened #4830 "Evaluate the pros/cons of using ctypes instead of pybind11"
While pybind11 is quite easy to use, it comes with a few pitfalls:

* Large Python overhead
* Debug message is not very intuitive

Many large projects have switched to use [ctypes](https://docs.python.org/3/library/ctypes.html). Writing this down to remind us that we should evaluate its feasibility.

[2022-04-21 06:27] qiao-bo opened #4832 "[RFC] Taichi CMake Overhaul"
We would like to share our proposal for modernizing Taichi's CMake-based build system. By embracing the target-based approach, we can enforce a good modular design in our code base. This brings us benefits such as reduced (re-)compilation time. By being explicit and untangling the dependencies in current code base, code (target) that do not depend on others can be isolated and built independently

[2022-04-21 07:19] bobcao3 commented on #4830
One plus side is PyPy supports ctypes well, another is that combined with AOT API now we can also expose device API as well

[2022-04-21 07:33] FantasyVR commented on #4761
Sorry, @bobcao3 . I couldn't find the GPU sku. I just got CPU sku info:

All specs I could find about my GPU are as follow:
[code]

[2022-04-21 07:59] yuanming-hu commented on #4830
I don't really think this is a con for users. Probably for developers only :-)

One cent about switching to `ctypes`: maybe we can progressive replace the interface, and replace the parts about kernel launches first. That will significantly lower the kernel invocation overhead. For the AST construction part, we can replace them at a lower priority.

[2022-04-21 08:11] strongoier opened #4833 "Type check fails to warn implicit cast for global stores"
**Describe the bug**
The following code snippet should be warned about storing a float to an `i32` field:
[code]
However, nothing happens when it is run.

[2022-04-21 08:20] bobcao3 commented on #4802
That's quite fascinating. I'd imagine the CHI-IR generated should be quite similar, and it's weird that we only see Vulkan with a big regression. (And I'm assuming this is on a mac? Where SPIR-V is actually translated to MSL by MoltenVK...)

We should check three things:
1. Check for consistency and reproducibility on other devices (i.e. whether this is a problem that interacts with specific envir

[2022-04-21 13:47] turbo0628 commented on #4807
This is wired, both versions have identical optimized IR.

[code]
But the final results are different. Is there anything missing in the IR printer?

[2022-04-21 14:55] FantasyVR commented on #4807
This seems to be the `arch` problem. If you set your arch as `ti.cpu`, the result is right. If the arch is `ti.cuda` or `ti.metal`, sequential is not guaranteed.

[code]

[2022-04-21 16:00] #4810 closed

[2022-04-22 00:58] FantasyVR commented on #4782
Hi @erizmr, is there any progress on this?

[2022-04-22 01:07] FantasyVR commented on #4793
Hi @strongoier, should we close this issue now?

[2022-04-22 01:49] turbo0628 commented on #4807
The same backend should not generate different results given identical IRs. I think there's something missing in the IR printer, which is the key to cause the differences.

[2022-04-22 02:31] erizmr commented on #4782
@bobcao3 has mentioned that upgrading to Molten-vk 1.1.9 might help solve this problem. I am working on that on my Mac.

[2022-04-22 03:30] k-ye opened #4837 "Simplify Taichi's Matrix implementation"
**Concisely describe the proposed feature**

Right now Taichi's matrix implementation takes the combination of all these factors into account:

* Python vs Taichi scope
* Local or Global (i.e., Matrix within a field/Ndarray)
* Dynamic indexing or not
* Slicing or not

I'll see if there's a way to decouple the Mat impl. (cc @strongoier )

[2022-04-22 05:15] #4833 closed

[2022-04-22 05:38] strongoier opened #4839 "Type cast warnings don't contain source code info"
**Describe the bug**
After #4834, the following code snippet,
[code]
will be warned about implicit type cast:
[code]
However, the stack trace info is around logic in Taichi's ASTTransformer. Users cannot know where the cast actually happens.

[2022-04-22 06:58] #4839 closed

[2022-04-22 06:59] strongoier commented on #4678
Thanks for your suggestion! Taichi is a statically-typed language, so option 1 is preferred. #4840 makes source code info available in warnings. Your code snippet illustrates another bug in type check for local stores, and I will send another PR to fix that.

[2022-04-22 07:16] lin-hitonami commented on #4807
`serialize=1` does not make a struct `for` loop run serially, and the struct `for` does not guarantee the executing order. So, the result may not be right if you do not use atomic ops.

[2022-04-22 07:40] lin-hitonami commented on #4807
It is already in the doc, maybe we can add a warning when serialize=1 is applied on `for`s other than range/ndrange `for`s.

[2022-04-22 09:51] #4678 closed

[2022-04-22 10:18] ailzhang opened #4846 "Building with TI_EXPORT_CORE:BOOL=ON failed"
Bisected and found the root cause to be https://github.com/taichi-dev/taichi/pull/4716, @PGZXB you probably want to move https://github.com/taichi-dev/taichi/pull/4716/files#diff-a3917319b36617bdd5a229c4e02eeadcacda5e543c7d6b367385c627b9763f16R75 to somewhere else since they're not llvm-specific.?

To fix please make sure
[code]
works? This is what we used for the deskop aot demo. :P

[2022-04-22 11:51] xuhao1 opened #4848 "Possible Julia front-end?"
Hi there,
As discussed during Taichi's open office hour, taichi is planning to develop more front-end(JS, Rust, etc.) Personally, I think a possible frontend is Julia:
1. Julia is a high efficiency (much better than Python) language and has a good community on high-performance computing
2. Julia is based on LLVM. I am not familiar with this area but looks like it will make development easier.
3. C

[2022-04-22 11:58] #4807 closed

[2022-04-22 12:06] xuhao1 commented on #4848
I create a discussion for this https://github.com/taichi-dev/taichi/discussions/4849.

[2022-04-22 12:06] #4848 closed

[2022-04-22 14:58] k-ye commented on #4837
I'm thinking of instantiating different types of Matrix implementations, depending on whether it is created inside Python or Taichi scope. Here are three ways I have come up with

1. Make `ti.Matrix` a (factory) function, pseudo code below:

[code]

The downside is that, many places are already doing this check: `isinstance(m, ti.Matrix)`. So changing `Matrix` to a function could potentially break

[2022-04-23 00:30] bobcao3 commented on #4846
TI_EXPORT_CORE should be a part of the CI. We can probably spawn a separate task to just build it (no need to test it as of now, just make sure it builds). Also we probably need to have TI_WITH_LLVM=OFF to be included in CI as well

[2022-04-23 01:15] bobcao3 opened #4851 "[doc][RFC] Semi-formal Unified Device API specification"
We need a semi-formal specification of this API so that people can extend it or use it and expect it to be consistent on all backends.

It is also a good time to address necessary design and specs changes for unified device API, therefore I'm recording this first in an issue/RFC before we merge all the ideas into a document.

The design listed here are not complete, (thus RFC)

@AmesingFlank @k-ye

[2022-04-23 01:23] bobcao3 commented on #4851
@ghuau-innopeak

[2022-04-23 02:23] #4846 closed

[2022-04-23 02:25] ailzhang commented on #4846
@bobcao3 was talking to @PGZXB about this ;) I had a PR for build only but abandoned it as we were considering adding an e2e android test. Looks like it's still useful so will resend it in a bit.

[2022-04-23 03:15] automatingdesign22 commented on #2311
The same problem. Have you solved it?

[2022-04-23 07:51] MarisaKirisame commented on #4722
You guys probably know this, but higher order ad is not that difficult - just make ad return source code instead of runtime construct, then do it again.
For better efficiency though, one should only do one backward ad with one talyor-forward ad.

[2022-04-24 00:43] frostming commented on #4837
@k-ye All three practices can be seen in real-world projects, but have trade-offs.

1. If `isinstance` is widely used then we will discard this option
2. This one looks the cleanest to me.
3. This approach is the easiest for subclasses to reuse code from the base class, `django-rest-framework`'s `Serializer` uses this pattern.

To conclude, I vote for 2.

[2022-04-24 03:45] Zheaoli commented on #4837
@k-ye, All of the ways can be worked in the real world, but still slightly different here.

1. will widely depend on `isintance`
2. It Seems clean and debuggable to me
3. I think this approach is not friendly for debugging and IDE intelligence.

So, I vote for 2.

[2022-04-24 13:23] compik710 opened #4854 "IndexError: Field with dim 2 accessed with indices of dim 1"
I started learning Taichi and wrote the following code:
[code]

And get error:
`IndexError: Field with dim 2 accessed with indices of dim 1`

Why it not works?

[2022-04-24 23:27] bobcao3 commented on #4854
use ```dic[0, 0]```

[2022-04-25 01:20] k-ye commented on #4837
@frostming @Zheaoli sweet, thanks folks! I'm also doing 2 in #4853

[2022-04-25 04:25] masahi commented on #4631
Recent NV gpus (Ampere and later) also support `reduce_sync` variant of intrinsics: https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#warp-reduce-functions
In particular, this slide on page 47 says `__reduce_op_sync` warp intrinsics are faster than warp shuffle based implementation by 10x.
https://developer.download.nvidia.com/video/gputechconf/gtc/2020/presentations/s21170-cuda-on-

[2022-04-25 04:58] masahi commented on #4830
The author of pybind is working on a new python binding project, https://github.com/wjakob/nanobind, one of the motivation being reducing overhead.

[2022-04-25 05:12] yuanming-hu commented on #4631
Wow, that sounds quite attractive. Thanks for pointing this out. We need to dispatch the code according to compute capability. One place to look at: https://github.com/taichi-dev/taichi/blob/d82ea9045792a1f14a04a03c0b9292bb4c7235c5/taichi/runtime/llvm/locked_task.h#L28

@qiao-bo Could you add this to the feature list and coordinate its development? Many thanks!

[2022-04-25 05:18] compik710 commented on #4854
@bobcao3 Thank you!

[2022-04-25 05:18] #4854 closed

[2022-04-25 06:01] k-ye commented on #4851
Great doc, thanks for writing this up! (Formality nit: I do think this should go to design docs, rather than an RFC?)

So, do we need `dealloc_memory()` in the future?

Is this waiting between host & device, or between Streams?

Also I know this design is largely derived from Vulkan, is there an easier semaphore mgmt mechanism? For example, as a normal user, once `submit()` a CommandList, I need t

[2022-04-25 08:15] bobcao3 commented on #4851
In Vulkan if you are doing multiple submit you need to tie the semaphores yourself. It does make sense to have each stream to be serial, but in most cases you should be using a single command list for everything. In our case because we need lots of host sync, thus requiring multiple command lists.

[2022-04-25 08:17] bobcao3 commented on #4851
We will still need `dealloc_memory()`. By tracking I mean resource residency tracking (whether the resource is available on the GPU). In APIs like OpenGL, DX11 (not 12), and Metal (part of it), you can destroy a buffer once you no longer need it on the host, but an in-flight GPU operation might still be using this resource, in OpenGL and DX11 and our RHI's case, the RHI will track this resource to

[2022-04-25 08:18] bobcao3 commented on #4851
As for the waiting part, semaphores are for device-to-device synchronization. The host is not blocked in anyways, it just means the job submitted to the queue will not start on the GPU unless all the semaphores are met.

[2022-04-25 13:08] k-ye commented on #4832
Cool! Could you also provide a dependency graph. https://excalidraw.com/ could be your friend (@ailzhang recommended)

[2022-04-25 14:05] ailzhang commented on #4837
Hey @k-ye , would you mind elaborating a bit on our major use case for `ti.Matrix` in python scope? I can think of accessing/minor updates to the elements for now. (if this is true we also have a similar problem for `ti.field` I think?
IIUC we care more about `ti.Matrix/field` in the taichi scope, if there're more complicated ops to be done in python scope, converting to numpy or torch and then co

[2022-04-25 14:49] k-ye commented on #4837
Another thing that bothers me is that the Matrix behavior depends largely on the content inside the `entries`. It can be literals, `ti.Expr`, field/ndarray host accessors. And you have to track to different places to understand where these content come from.

[2022-04-25 14:53] k-ye commented on #4832
Nice graph! IIUC, `type` and `snode` are sub-components under `ir`? Also `artifact` is probably too generic, better come up with a better naming for it... (Context: this refers to the artifacts/outcome from codegen)

[2022-04-26 00:43] Vissidarte-Herman opened #4855 "Refactor documents at docs.taichi-lang.org"

[2022-04-26 00:59] Vissidarte-Herman opened #4856 "Docs at docs.taichi-lang.org need to have versions"
We only set versions for APIs. Now we need to set versions for docs. We need to have three versions:

- master: the latest unreleased documents
- The latest bug fix version of the latest feature release, for example, v1.0.1
- The latest bug fix version of the past feature release: for example, v0.9.2.

Keep only one version switch and remove the version switch under API, because the version is not

[2022-04-26 01:51] strongoier opened #4857 "Polish and officially release quantized types"
Quantized types are an experimental feature introduced in the [QuanTaichi paper](https://yuanming.taichi.graphics/publication/2021-quantaichi/quantaichi.pdf). With this useful feature, users can significantly save memory usage of their Taichi programs. The feature can also enable acceleration of atomic operations on mobile phones.

However, the feature has been neither officially announced nor ext

[2022-04-26 03:54] qiao-bo commented on #4832
At the moment yes. Nevertheless, `type` should not be an ir-specific component. Other targets such as `codegen` can also depends on `type` (and it does). Same for `snode`. Ideally we want to have a `type` as well as an `snode` target.

agree, any suggestions?

[2022-04-26 03:57] k-ye commented on #4837
Hmm, I don't think having separate names will be a good idea for our users... It's consistent to keep them writing `ti.Matrix` without worrying too much in this case. Option 1 is unlikely the choice, because `isinstance(m, ti.Matrix)` is used not only in Taichi's codebase, unfortuantely.

[2022-04-26 03:59] erizmr commented on #4782
Updates: Upgrading to Molten-vk 1.1.9 does not solve this issue on my verification unfortunately.

[2022-04-26 07:58] strongoier opened #4859 "Running GGUI produces warnings about implicit type casts"
This is not a bug, but can be annoying to users:
[code]
We'd better give values correct types to eliminate these warnings.

[2022-04-26 08:27] #4250 closed

[2022-04-26 08:52] #4859 closed

[2022-04-26 08:56] k-ye commented on #4761
@FantasyVR ping?

[2022-04-26 09:37] FantasyVR commented on #4761
I created an issue on MoltenVK's repo: https://github.com/KhronosGroup/MoltenVK/issues/1580

[2022-04-26 16:44] ailzhang commented on #4786
Update 04/27:
We've converged on the a API style for the simplest case.
[code]
Note it's easy to support static control flow, but we're spending some time exploring how we're supposed to support dynamic control flow. Is it going to be in graph or out-of-graph? (concepts borrowed from "Dynamic Control Flow in Large-Scale Machine Learning" paper)
- in-graph：encodes control-flow decisions as operatio

[2022-04-27 06:55] ailzhang commented on #4837
@k-ye Hmm if we cannot change the name then option 2 seems fine.
My main concern is that we union two different classes together (maybe interface/trait is more appropriate if we had it?
For example, as a normal python user I'm used to do `dir(my_ti_Matrix_object)` to see what I can do with it and that'll give me a union of what py_matrix and ti_matrix can do.

[2022-04-27 08:10] qiao-bo opened #4872 "No module found when building from source"
Building from source at current master yields:
[code]
The problem seems to be `easy-install.pth` is not properly updated. The working commit has a path that consists of Taichi repo path + python. While the latest master only have Taichi repo path.

Bisecting points to #4624.

[2022-04-27 08:11] qiao-bo commented on #4872
CC @frostming

[2022-04-27 10:41] #4872 closed

[2022-04-27 10:51] jhonsonlaid opened #4876 "Too slow for my triangle_to_triangle_intersection implementation"
* Environment:
[code]

* Question description:
I'm new to Taichi, but trying to implement a taichi-version triangle-to-triangle-overlap-test, refer to [Devillers and Guigue's work](https://raw.githubusercontent.com/erich666/jgt-code/master/Volume_08/Number_1/Guigue2003/tri_tri_intersect.c)
It costs taichi **almost 328s** to compute tri_to_tri_intersection.
1. I don't know if it's because of coding

[2022-04-27 14:50] qiao-bo commented on #4631
@yuanming-hu @masahi It turns out a bit difficult to support the new reduce warp intrinsics at this moment. For example, `__reduce_add_sync (i32)` will need to be mapped to `redux.sync.add.s32`. This new `redux` keywords are only supported since LLVM13 (https://github.com/llvm/llvm-project/blob/release/13.x/llvm/lib/Target/NVPTX/NVPTXIntrinsics.td). Also tried bypassing NVVM and just use ptx asm i

[2022-04-27 15:04] gingerkidney opened #4878 "Set up a new communication channel for the community"
TL;DR: Set up a new Slack Workspace for the communication.

Two weeks ago I started a discussion about the communication platform in slack #github-community. Thanks to @quadpixels @k-ye and fengliang joined the discussion.

Currently, Taichi community is using slack for communication. But it's not friendly because users need to send an email to us and then get invited. They can not access the chan

[2022-04-27 15:06] yuanming-hu commented on #4631
Sounds good - we probably need to postpone the implementation until we have LLVM >= 13.

(If someone insists on implementing that, he can also consider using inline PTX assembly.)

[2022-04-27 15:28] strongoier commented on #4857
Before writing a formal RFC, I would like to briefly summarize some previous discussions on this topic. I think there are still some issues to be solved, and I hope to continue the discussion here.

## Background

A quantized type normally has no native support. Therefore, you need to specify a parent primitive type (e.g. a 32-bit int) and describe how you would like to pack a group of quantized t

[2022-04-27 21:34] bobcao3 commented on #4876
It seems that the code is entirely serial. If the code itself is fully serial, running it on the GPU will not have any benefits, running it on the cpu is probably just much better. However that's probably not why you are seeing very long run time, I think the time taken here is mostly compilation, as Taichi inlines all functions, this is incredibly huge amount of code that is generated in the end.

[2022-04-28 01:45] ailzhang commented on #4857
+1 on implementing #2 as a start! Btw I feel like based on the deployment need, not modifying computation code might not be as hard requirement as we thought. IMHO if it's a `s/old/new` it shouldn't be a huge problem for people who want to maximize performance. (or is it more complicated than that? :P
For ndarray + quant, agree that supporting fixed-point scalar number can already solve our proble

[2022-04-28 02:02] jhonsonlaid commented on #4876
Yes, the code is serial. But this ``tri_to_tri_overlap_test_3d`` function will be used in a large loop kernel to detect all collisions in the scene. In order to reduce the cpu-to-gpu and gpu-to-cpu overhead, I have to implement this func as a taichi-func (point me out if I'm wrong).

BTW, below is the outputs of  ``taichi.profiler.print_kernel_profiler_info('trace')``,  which means it is the compi

[2022-04-28 02:17] ailzhang commented on #4878
@gingerkidney would you mind also clarifying who are we targeting for this new communication channel?
I'm mainly curious what kind of discussion do we expect to happen on slack compared to the current github/forum? I think it might help our community members to decide whether they should to join slack and stay active on it ;)
For example, are taichi users or developers the target users? Do we want

[2022-04-28 03:09] bobcao3 commented on #4876
I see that in the code, you have a lot of calls to the same function, just with different parameters. This is generally not great for performance on either GPU or CPU, and especially hard on GPU compilers. Instead of doing
[code]
You can write
[code]

[2022-04-28 03:43] k-ye opened #4882 "Build without LLVM backend leads to Python Taichi unusable"
**Describe the bug**

[code]

This makes AOT really hard to use, as I have to switch between Taichi with and without LLVM. Let's make this one of the goals https://github.com/taichi-dev/taichi/issues/4832 can resolve as well.

[2022-04-28 05:13] k-ye commented on #4808
Note: when using the Vulkan resources (e.g. `VkInstance`, `VkDevice`) from Unity, or any other platform, note that we need to call the corresponding volk init methods on them. This is done around these places:

https://github.com/taichi-dev/taichi/blob/d096f15a272833c557c769a551f975fd8a8b554c/taichi/backends/vulkan/vulkan_device_creator.cpp#L193
https://github.com/taichi-dev/taichi/blob/d096f15a27

[2022-04-28 07:58] #4660 closed

[2022-04-28 08:14] gingerkidney commented on #4878
Good point! Taichi is using GitHub discussion as a forum. Any question related to using Taichi is welcome. Slack is instant communication and more development-oriented. Discussion about the internals, RFC, and new features implementation is expected. Release notes and events will be published in the slack also.

[2022-04-28 09:10] #4620 closed

[2022-04-28 10:07] k-ye commented on #4837
That can be controlled by `__dir__`. Also note that inside Taichi scope, you are really limited and should not do fancy Python stuff... We should probably make sure our documentation highlights the difference clearly.

[2022-04-28 10:23] frostming commented on #4837
This can be solved by approach 3 but to keep it simple we can just raise `NotImplementError`.

[2022-04-28 10:28] ailzhang commented on #4837
@k-ye Yup I agree that we can work around it. I guess my point is when we refactor/simplify this Matrix implementation, we probably also want to take into consideration what users might do and what we want to show them. For example:
[code]
We indeed allow python execution inside taichi scope(with a warning thrown) during compile time so this actually works :P ....

[2022-04-29 02:17] jhonsonlaid commented on #4876
Thanks for the advice. Taichi is **force-inlined**, using a call with the same params instead of many calls with different params, does improve the compilation speed.  The compilation time reduces to **20s** (10x speedup! *the `_orient_2d`` calls are unavoidable, if removed,  the time reduces to **4s***, maybe I should search for some better GPU  compilation suited tri_to_tri algorithm).

I would

[2022-04-29 03:25] FantasyVR commented on #4817
Hi @erickingxu, is there any progress you could share with us?

[2022-04-29 03:27] #4795 closed

[2022-04-29 05:37] ailzhang opened #4888 "[Vulkan] Move buffer bind from task level to kernel level"
As discussed we could force all tasks inside the same taichi kernel to share the same set of buffer binds, this aligns with current opengl implementation.

[2022-04-29 06:46] strongoier commented on #4857
I agree with that. The main point here is, when we introduce a new language construct, especially as fundamental as a type, we should let it make sense in most cases, instead of being a deployment-only thing.

IMO yes. @k-ye

[2022-04-29 07:24] Leonz5288 commented on #1413
Hi @JYP2011 , we already updated Taichi's LLVM to 10.0.0.

[2022-04-29 09:34] qiao-bo commented on #4832
Currently in `taichi/backends` folder, apart from the code for `runtime` and `codegen`, we also have code for our unified device API, maybe we can make a `backend` target for this part? Thus the dependencies would be something like:

`runtime` ->(depends on) `backend`
`codegen` -> `backend`
`codegen` -> `runtime`
`program` -> `backend`

WDYT? @k-ye @ailzhang

[2022-04-29 09:54] strongoier commented on #4857
After an offline discussion with @ailzhang, we reach the following consensus:
1. Ndarray is designed mainly for deployment purposes, with the two unique advantages - avoiding memory copy and recompilation. It is important that it can be interpreted by user programs and common third-party frameworks in a trivial way. Therefore, supporting complex data storage mechanism with ndarrays doesn't make mu

[2022-04-29 10:19] k-ye commented on #4832
Would be great to separate out the unified device API! I'd call it `rhi` , though. @bobcao3

[2022-04-29 10:19] qiao-bo commented on #4832
Discussion: We should later distinguish between public headers vs private headers (currently we don't). I think the recommended way is: For public headers, we always include by its absolute path (which means relative path from Taichi project's root).
For private headers, we can go with relative path from it's target's include folder. As long as it's guaranteed by a unique path per header file.

[2022-04-29 10:47] k-ye commented on #4857
To me it seems like `fixed32` is just a small wrapper around the quant API? While I agree that

it's also not too hard to convert custom quant types into primitive types.

One thing I've been thinking about: if we make quant vectors workable on mobile, how much larger scale can we get for simulation. Note that graphical APIs are already offering `f16` vectors, e.g. Metal has `half4`, so this is so

[2022-04-29 11:02] ailzhang commented on #4857
@k-ye Yup that wrapper is mainly used to solve the floating point atomics problem we've seen.

Is it correct understanding that to achieve much larger scale simulation on mobile, we can try adding e.g. `half4` as primitive type which applies to both field and ndarray?

[2022-04-29 13:11] k-ye commented on #4857
Yep. Additionally, this could also help with vec4 loading optimization (cc @turbo0628 )

[2022-04-29 13:43] compik710 opened #4890 "When a new field is created and filled in, the old field is deleted. "ti.init(arch=ti.opengl)""
When a new field is created and filled in, the old field is deleted.
Only when i use "ti.init(arch=ti.opengl)"
[Taichi] version 1.0.1, llvm 10.0.0, linux, python 3.10.4

For example i run next code:
[code]
And received:
[code]

But when I added the creation of another field like this:
[code]
I got:
[code]

This issue only occurs when using "ti.init(arch=ti.opengl)", if you use the processor, it's

[2022-04-29 15:20] beiyuouo opened #4891 "Get error when upgrade taichi from v1.0.0 to v1.0.1"
**Describe the bug**
Get error when upgrade taichi from v1.0.0 to v1.0.1

**To Reproduce**
[code]

**Log/Screenshots**
Work fine with taichi v1.0.0
[code]

Crashed when upgrade
[code]

**Additional comments**
It may happen when upgrade Vulkan SDK version from 1.2.x to 1.3.x
Related issus in [VulkanMemoryAllocator](https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator): [#247](https://g

[2022-04-30 00:41] lucifer1004 commented on #4891
I also encountered this issue.

[code]

[2022-04-30 01:31] STRRL commented on #4891
+1

The bypass solution is pining the taichi version to `1.0.0`

[2022-04-30 03:50] bobcao3 commented on #4888
The reason not to do so is that each kernel uses different buffers, and one buffer can get multiple bindings or even different bindings depending on the type accessed. If it is moved to the kernel level, the codegen will now need to collect all the used buffer bindings and format to the kernel which is quite complicated.

[2022-04-30 03:51] bobcao3 commented on #4890
OpenGL does not support multiple SNode tree. You can try the Vulkan backend instead.

[2022-04-30 03:51] bobcao3 commented on #4890
Moved to #4040

[2022-04-30 03:51] #4890 closed

[2022-04-30 03:52] bobcao3 commented on #4876
We do have non inlined function support coming, you can try it out in the CUDA backend.

[2022-04-30 03:56] bobcao3 commented on #4891
Somehow this issue cropped up again... Might be that we recently updated Vulkan Memory Allocator and did not add this function pointer in.

[2022-04-30 06:09] #4891 closed

[2022-04-30 07:15] bobcao3 opened #4894 "[Device API] Remove inconsistent API"
This following line here:
https://github.com/taichi-dev/taichi/blob/e583b2d4afc78407ff52281a1abd356801721c8a/taichi/backends/device.h#L466

This call is not consistent with Unified Device APi's resource model. As it currently seems like just a helper function needed in CUDA and CPU backend, this probably shouldn't be inside the device API. (It's a memory pointer, should be able to just de-referenc

[2022-04-30 09:30] 0xzhang opened #4895 "[ci] Windows machine failed in Cleanup process often"
When CI work, Windows machine failed. It happens many times from last night. It can work normal occasionally.

![windows cleanup failed](https://user-images.githubusercontent.com/33616362/166099884-53de9665-3d17-42d3-a89c-aab82ff52022.png)

And Windows machine's build process seems slow than other machines 2 times. Could it be faster?:joy:

[2022-04-30 10:18] 0xzhang opened #4897 "[test] When I run run_tests.py on my Windows, I always get errors."
When I run `run_tests.py` on my WSL's Ubuntu, it works fine in most cases. But on Windows, I always get errors. Only works in rare cases and I already set thread_num to 1 to avoid strange problem. I'm very confused right now

[code]

[2022-04-30 10:43] zhaoliu143880 opened #4898 "meet some problems of Voxel Challenge"
Environment:
`[Taichi] version 1.0.0, llvm 10.0.0, commit 6a15da85, win, python 3.7.9
[Taichi] Starting on arch=vulkan`
Question description:
When I run example1.py which is provided on my Windows with pycharm, I always get errors. （I have upgraded taichi toV1.0.1） ,

[code]

This is the address   of the activity and the folders it provides
https://github.com/taichi-dev/community/blob/main/events/

[2022-04-30 11:24] neozhaoliang commented on #4898
![2022-04-30 19-20-56屏幕截图](https://user-images.githubusercontent.com/23307174/166103498-434c25f5-d377-455e-9fd6-0a8de2c9ec5b.png)

The problem seems due to the "/"s in the paths.  I grepped these patterns in the repo, @AmesingFlank would you please have a look at it?

[2022-04-30 11:31] AmesingFlank commented on #4898
unix style path shouldn't be a problem on windows.

I'm a bit concerned about the Chinese charactors in the path "无由心" though, as the shader paths use string instead of wide string.

Could you please try removing these charactors? @zhaoliu143880

[2022-04-30 12:33] neozhaoliang commented on #4898
But the error message shows there are both / and \ in the shader path, I'm not sure if this is still valid.

[2022-04-30 12:45] zhaoliu143880 commented on #4898
可以细说一下如何修改吗，

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhao ***@***.***&gt;;
发送时间: 2022年4月30日(星期六) 晚上7:24
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [taichi-dev/taichi] meet some problems of Voxel Challenge (Issue #4898)

The problem seems due to the "/"s in the paths.  I grepped these patterns in the repo, @AmesingFlank would you please have a look at it

[2022-04-30 13:00] AmesingFlank commented on #4898
This should be fine.

[2022-04-30 13:12] AmesingFlank commented on #4898
不要让taichi安装目录里有中文，试下把venv放到d盘？

[2022-05-01 04:29] qiao-bo commented on #4895
This should be fixed now. Let us know if there are further problems~

[2022-05-01 04:29] #4895 closed

[2022-05-01 05:14] LiujiaHuan opened #4899 "meet some problems of Voxel Challenge on taichi 1.0.1 (Received signal 22)"
**Describe the bug**
Running example1.py by using the pycharm with taichi 1.0.1,python 3.10.2 and  got many errors .
(I have tried to switch python version,it still didn't work)
After I switch the taichi to 1.0.0 it did't report.
So,what is going on here?
I have seen <a href = "https://docs.taichi-lang.org/lang/articles/install">https://docs.taichi-lang.org/lang/articles/install</a>
But it didn't

[2022-05-01 05:18] #4899 closed

[2022-05-01 05:21] LiujiaHuan opened #4900 "meet some problems of Voxel Challenge on taichi 1.0.1(Received signal 22)"
**Describe the bug**
Running example1.py by using the pycharm with taichi 1.0.1,python 3.10.2,arch=cuda,windows and  got many errors .
(I have tried to switch python version,it still didn't work)
After I switch the taichi to <kbd>1.0.0</kbd> **it did't report errors and program runs correctly.**
So,what is going on here?
I have seen <a href = "https://docs.taichi-lang.org/lang/articles/install">ht

[2022-05-01 07:03] 0xzhang opened #4901 "[ci] `test_imgui` failed often on M1"
I have already encounter this problem many times.

[code]

[2022-05-01 08:35] #4901 closed

[2022-05-01 09:23] quadpixels commented on #4900
Same here, `Assertion failed: m_VulkanFunctions.vkGetDeviceBufferMemoryRequirements != nullptr, file C:\Users\nitroglycerine\taichi\external\VulkanMemoryAllocator\include\vk_mem_alloc.h, line 14440`

[2022-05-02 02:26] ailzhang commented on #4830
FYI I wrote a few toy demos of calling c extensions from python using pybind11/ctypes/cpython respectively and the code lives at https://github.com/ailzhang/c_ext_for_py/. It also prints time spent (maybe not apple-to-apple comparison tho).
I've noticed a few things while trying this out:
1. Depending on the real workload, ctypes might have up to 2x speedup compared to pybind11 and cpython is usua

[2022-05-02 15:04] birepeople commented on #4900
same here, and  I check and meets the same problem for cpu,vulkan,gpu arch.

[2022-05-02 18:03] R366Y commented on #4900
I got this:

[code]

[2022-05-02 19:26] ZhangYingTuo commented on #4761
我也遇到了一样的问题，我的硬件和他一摸一样

[2022-05-03 00:13] whorfin opened #4902 "1.0.1 broke Vulkan field allocation on NVIDIA GPUs"
**Describe the bug**
I have a laptop with "Intel UHD Graphics 630" and "NVIDIA GeForce GTX 1070" GPUs
1.0.0 would default to using the Intel device for Vulkan [which wasn't good from a performance perspective] while 1.0.1 seems to now select the NVIDIA device.  That's good, but the NVIDIA version now blows up when attempting to allocate a field.

**To Reproduce**

[code]

**Log/Screenshots**
On th

[2022-05-03 01:36] bobcao3 commented on #4902
Duplicate of #4891 , fixed in #4893

[2022-05-03 01:36] #4902 closed

[2022-05-03 01:37] bobcao3 commented on #4900
Duplicate of https://github.com/taichi-dev/taichi/issues/4891 , fixed in https://github.com/taichi-dev/taichi/pull/4893

[2022-05-03 01:37] #4900 closed

[2022-05-03 21:08] Smethan commented on #4900
It looks like this wasn't actually fixed, I compiled the latest commit and still got the same error:
[code]
Vulkan API: 1.3.203

It could possibly have something to do with me having an AMD GPU, but given that its the same error the folks above me got on NVIDIA GPUs I highly doubt it

[2022-05-04 05:04] bcolloran opened #4903 "Support for 3 argument `range`: `range(start, stop, step)`"
**Concisely describe the proposed feature**
In some cases, it would be very useful to be able to define kernels with a parallel `for` over a strided range with a step other than 1. If the standard behavior of the Python `range` function worked in Taichi kernels, that would satisfy this use case -- the `range(start, stop, step)` syntax.

I see that only the two argument version `range(start, stop)`

[2022-05-04 15:59] ShengdingHu opened #4905 "GGUI does not work with X-over-SSH"
**Describe the bug**
Error runing voxel_art/main.py

<img width="968" alt="image" src="https://user-images.githubusercontent.com/32740627/166721279-37169247-1462-4991-b1e6-7c8dc5518e2c.png">

**To Reproduce**
I am new to Taichi, so I am sorry I can't figure out which part might give the bug. What did I do is that I run "ssh -XY xxx@xxx.xxx.xxx.xxx" with XQuartz, I use Taichi version 1.0.1,  The ma

[2022-05-04 18:56] bobcao3 commented on #4905
Taichi GGUI can not run over X-over-SSH because it uses Vulkan. You will need to run it locally, sorry about that.

[2022-05-04 18:57] bobcao3 commented on #4905
Maybe we can add a cli-rendering option with voxel challenge. @k-ye @yuanming-hu

[2022-05-05 00:19] ShengdingHu commented on #4905
Sadly, I encountered other errors on my mac locally. I might post another issue for the problem.

[2022-05-05 00:46] ShengdingHu opened #4906 "Error running voxel-art/main.py on mac locally"
**Describe the bug**
I am transferring from issue #4905, I started running voxel-art locally on my mac. But I have a new bug when running ti.ui.Window

**To Reproduce**
My mac system info is
<img width="541" alt="image" src="https://user-images.githubusercontent.com/32740627/166848133-cfc89573-de4a-4093-b822-310306451c0f.png">

taichi==1.0.1

the minimum bug code is
[code]
The error screenshot is

[2022-05-05 01:56] yuanming-hu commented on #4905
Technically that's possible, but currently, the UI heavily relies on the user's adjustment of the camera. We likely need to add an API to allow setting camera position too. Maybe we do that in the next round of competition :-)

[2022-05-05 02:34] jhonsonlaid commented on #4876
Well, I used ``ti.experimental.real_func`` decorator to ``_orient_2d``, and  it raises an error like this:
[code]

[2022-05-05 06:48] k-ye commented on #4761
A quick update: this could be a driver bug in the Intel graphics card, see https://github.com/KhronosGroup/MoltenVK/issues/1580#issuecomment-1114047191.

[2022-05-05 07:14] GaleSeLee commented on #4631
I will take care of `__syncwarp` intrinsic.

[2022-05-05 10:37] qiao-bo commented on #4897
Hi, I can reproduce this problem `Windows fatal exception: access violation`. It might be flaky, but i don't know why #4886 passed the CI.

It happens on CPU tests, concrete error in log is:
[code]
This seems relate to Out of memory during CPU virtual memory allocation. I am looking into it.
cc @ailzhang @0xzhang

[2022-05-05 11:21] qiao-bo commented on #4897
Failed and error test summary

[code]

[2022-05-05 11:36] 0xzhang commented on #4897
@qiao-bo I guess one possibility is that the Paddle's develop package on is too large. Therefore it is likely to affect other tests after `import paddle`. I also encounter some strange problems when I test locally.

[2022-05-05 11:37] 0xzhang commented on #4897
In addition to this problem, another problem is that it causes CI to get stuck at CleanUp process.

[2022-05-05 11:49] qiao-bo commented on #4897
@0xzhang Thanks for the input. I am playing with some test settings at #4910. Lets see if relaxing Taichi's memory limitation helps.

This is also mysteries to me at the moment. I do notice that the CI clean-up is stuck is because some python packages cannot be deleted on windows. (probably installed by Paddle ;/).

[2022-05-05 12:22] zixichen007115 opened #4911 "X Error of failed request: BadDrawable"
When running taichi-master/python/taichi/examples/ggui_examples, I get this bug.

[Taichi] version 0.8.8, latest version 0.9.2, llvm 10.0.0, commit 7bae9c77, linux, python 3.6.9
[Taichi] Starting on arch=vulkan
X Error of failed request:  BadDrawable (invalid Pixmap or Window parameter)
  Major opcode of failed request:  149 ()
  Minor opcode of failed request:  4
  Resource id in failed request:

[2022-05-05 13:02] #4911 closed

[2022-05-06 02:58] Evil-Ryu opened #4915 "VULKAN"
**Describe the bug**
A clear and concise description of what the bug is, ideally within 20 words.

**To Reproduce**
Please post a **minimal sample code** to reproduce the bug.
The developer team will put a higher priority on bugs that can be reproduced within 20 lines of code. If you want a prompt reply, please keep the sample code **short** and **representative**.

[code]

**Log/Screenshots**
Ple

[2022-05-06 02:59] #4915 closed

[2022-05-06 04:54] #4905 closed

[2022-05-06 07:01] qiao-bo commented on #4897
This should be fixed by #4910. Closed.

[2022-05-06 07:01] #4897 closed

[2022-05-06 07:15] ailzhang commented on #4898
@zhaoliu143880 Did switching to an English user name fix this? Thanks!

[2022-05-06 07:33] ailzhang commented on #4903
Hey @bcolloran, thanks for the proposing the feature request! Yea it shouldn't be too hard to add the `step` although there might be some bumpers that we implicitly assume step=1 in the codebase and those might bite us during the implementation.
This is definitely something we want to add and if anyone from the community would like to help, please feel free to let us know! Thanks!

[2022-05-06 08:46] ailzhang opened #4919 "GGUI issues on Intel graphics card"
This is a central place to list known issues about GGUI crashing on Intel graphics cards.

- [x] Intel Iris Plus Graphics 1536 MB on MacBook (#4906, #4761)
  - For reference GGUI works well on @erizmr 's MacBook with Intel(R) Iris(TM) Plus Graphics 640 and another intel iris plus graphics 650.

- [x] #4952

If you've seen similar issues, please feel free to comment below!

[2022-05-06 08:50] ailzhang commented on #4906
Hey @ShengdingHu , @FantasyVR has exactly the same GPU as yours and #4761 might indeed be related as he has seen the error above occasionally as well. We've also seen a few other issues with GGUI on Intel graphics card listed in #4919 . Shall we track your issue in #4761 for now, thanks a lot!

[2022-05-06 10:14] compik710 opened #4922 "Very slow drawing (bad perfomance)"
Hello! I ran into a performance issue.

In my original code, I needed to fill a certain area of pixels, but this slowed down performance... and i dont know why
Then I tried to write a small code with a simple fill, however... I was very surprised to see a very low fps for such a simple task.

For comparison 640x320 pixels:
![shot1](https://user-images.githubusercontent.com/68602173/167111763-801ea

[2022-05-06 10:19] compik710 commented on #4890
ok......... thanks

[2022-05-06 11:25] k-ye commented on #4922
In case you don't have access to Vulkan, you might also want to take a look at `fast_gui`: https://docs.taichi-lang.org/lang/articles/gui_system#zero-copying-frame-buffer

[2022-05-06 11:46] #4922 closed, assigned to nobody

[2022-05-06 14:15] AmesingFlank commented on #4919
What error message is shown when the window crashes? Notice that "无响应" doesn't mean that it crashed. This is an extremely heavy example, so it's probably still loading when the "无响应" pop-up is shown.

[2022-05-06 15:18] grassFlamingo commented on #4919
There is the same problem in Ubuntu 20.04 LTS.
My environment is listed as follows:
[Taichi] version 1.0.0, llvm 10.0.0, commit 6a15da85, linux, python 3.10.4
[Taichi] Starting on arch=vulkan
[vulkan_device_creator.cpp:pick_physical_device@356] Found Vulkan Device 0 (Intel(R) UHD Graphics 630 (CFL GT2))

[2022-05-06 15:32] STRRL opened #4924 "[Doc Enhancement] More detialed guide to migrate from python to taichi"
Hi taichi folks! Thanks to your amazing work, taichi is a powerful tool that could make fantastic arts.

I participated in the voxel-challenge recently, and I think maybe I found some potential enhancement for taichi's documentation

"taichi" is not "python", you have mentioned that in your documents: https://docs.taichi-lang.org/lang/articles/differences_between_taichi_and_python_programs

Becaus

[2022-05-06 23:51] 0xzhang commented on #4631
I'll take care of `__uni_sync`.

[2022-05-07 03:25] GaleSeLee commented on #4631
I'm working on `match_all`.

[2022-05-07 09:06] neozhaoliang commented on #4924
This is a very good suggestion. We also have this same idea. Currently the resources on taichi are spread among our examples, doc site and the graphics course on bilibili. Not quite integrated.

Some features like `for xxx in xxx` is still evolving, for this reason we are hesitate to tell the user "this is the Taichionic way to do it". Anyway I do think such a tutorial would be great for new comin

[2022-05-07 10:35] strongoier commented on #4857
This indeed requires us to support quantized scalars. Our current APIs cannot be used outside SNodes. However, when a quant type is used as an individual scalar, number of bits other than 32/64 doesn't make sense. As there are already `f32/f64`, the only meaningful types to provide are `fixed32/64`.

I don't quite get the point here. Using native `half4/vec4` in codegen instead of current ad-hoc e

[2022-05-07 10:43] #4837 closed

[2022-05-07 14:36] grassFlamingo commented on #4919
@ailzhang
I found that ti.GUI works.
Can we replace the 117-119 lines of 'voxel-challenge/scene.py',
 117:       self.window = ti.ui.Window("Taichi Voxel Renderer",
 118:                                 SCREEN_RES,
 119:                                  vsync=True)
with
    self.window = ti.GUI("Taichi Voxel Renderer", SCREEN_RES) ,
and replace 'Camera._update_by_wasd'
83:        for key, d in lut

[2022-05-07 15:32] neozhaoliang commented on #4919
@grassFlamingo Do you mean that you can run ggui after making the changes you listed above?

[2022-05-08 08:05] grassFlamingo commented on #4919
@neozhaoliang [Voxel challenge only] Thank you. There are two GUI systems in taichi. The first one is the ti.GUI and the second one is the GGUI (ti.ui.Window).  I can't run the GGUI either.  The code above is to run the ti.GUI system.

[2022-05-08 12:40] k-ye opened #4932 "Bindless resources backend implementation"
We should probably consider migrating our graphical-API-based backends to use the bindless resources, including buffers and textures. Benefits include a more flexible resource-passing mechanism, and the reduced host-side overhead.

cc @bobcao3 @PENGUINLIONG @AmesingFlank

[2022-05-09 03:13] bcolloran opened #4934 "unexpected behavior with Hilles-Steele scan"
I'm not sure if this is a bug of some kind, or just user error/misunderstanding of how Taichi is supposed to work, but I was surprised by the behavior in the code example below.

This snippet implements a simple Hilles-Steele scan and uses it to attempt get the cumulative sum of a 100000 element field filled with 1s.

The output is fine up until the 30720th entry in the array, after which the entr

[2022-05-09 03:34] bobcao3 commented on #4934
That sync is for dealing with a previous bug in Vulkan. Speaking of Vulkan, can you try this on Vulkan as well so that we can narrow down the problem a bit. (If Vulkan also shows a wrong number we might have a CHI-IR level problem, if not then we have a CUDA runtime / codegen problem) Thanks!

[2022-05-09 03:36] bobcao3 commented on #4932
Bindless is not universally supported on all hardwares. However when supported Vulkan is currently using BufferDeviceAddress for NDArrays, which is the purist form of bindless: no bindings at all, just a pointer. This should be easily extended to root buffers as well, welcome more contributions for who wants to learn a bit of SPIR-V

[2022-05-09 03:39] bobcao3 commented on #4919
Can you try to run the GGUI mpm128 sample and hopefully that gives some error logs? Also please run it like this, so that we get more information:

[code]

[2022-05-09 04:20] bcolloran commented on #4934
Thanks for the fast reply @bobcao3!

Indeed, I get similar behavior with `ti.init(arch=ti.vulkan)`. Example output:
[code]

Just to see what would happen, I also decided to try it out with `ti.cpu`... in this case I got very different (incorrect) results. In case it will be helpful, here are some example outputs:
[code]
(that is with AMD Ryzen 5 2600 Six-Core Processor)

Please let me know if I ca

[2022-05-09 06:30] 0xzhang opened #4935 "[cuda] CUDA warp level intrinsics failed on legacy GPU"
- GeForce GTX 1650
- CUDA 11.4

It seems `test_simt.py` not testable on my PC.
I use command below.
[code]

![image](https://user-images.githubusercontent.com/33616362/167296617-43fe9890-07e9-4fe2-826b-bd0bad83889c.png)

Warp functions have requirements to compute capability of device. Maybe my card doesn't have enough compute capability according the [list](https://developer.nvidia.com/cuda-gpus)

[2022-05-09 06:40] compik710 opened #4936 "Taichi doesn't compile to Pyinstaller"
Hello! I have a problem with taichi compilling.

I am trying to compile this code example from the docs https://docs.taichi.graphics/
[code]

with command
`pyinstaller taichi_test5.py -F -n Taichi_test`

and when i run the compiled file i get the following error:
[code]

Anyone have experience with this? Thank you!

[2022-05-09 08:32] jhonsonlaid opened #4937 "How to return big sparse data to python scope?"
I have a big sparse field `x` to be returned to python scope. However, if I simply use `x.to_numpy()`, it results in too much overhead. The `to_numpy` operation is executed every frame, which reduces program performance greatly. I get a bit tricky way in my case (see the code).  Is there a more elegant and efficient way?

[code]

PS: `ti.append`  ti.append only works on i32/f32 nodes, but cannot p

[2022-05-10 02:03] grassFlamingo commented on #4919
@bobcao3
Thank you. This is my log.
[code]
[I 05/10/22 10:00:00.658 8299] [misc.py:init@436] Following TI_ARCH setting up for arch=vulkan
[T 05/10/22 10:00:00.658 8299] [program.cpp:Program@51] Program initializing...
[T 05/10/22 10:00:00.658 8299] [memory_pool.cpp:MemoryPool@14] Memory pool created. Default buffer size per allocator = 1024 MB
[T 05/10/22 10:00:00.658 8299] [program.cpp:Program@16

[2022-05-10 03:59] qingshanxiaozi opened #4940 "Does TaiChi support multi-machines parallel now?"

[2022-05-10 05:30] bobcao3 commented on #4940
Sorry, we don't support them as of now.

[2022-05-10 05:33] bobcao3 commented on #4937
How sparse is the field? (We don't have a good builtin way to get sparse values out at this moment, you might need an compaction or export kernel of some sorts ...)

[2022-05-10 06:09] bobcao3 commented on #4900
@Smethan  that is quite baffling... Can you try to add ```TI_WARN(“Vulkan funcptr {}”, (void*)table.vkGetDeviceBufferMemoryRequirements)``` of [taichi/backends/vulkan/vulkan_device.cpp](https://github.com/taichi-dev/taichi/pull/4893/files#diff-7dd0fe29e58de35b44f74155b97859fd20ca16ae5abfb3a39b750a1d66712af9) so that we can confirm which pointer we have acquired? Since the driver is reporting versi

[2022-05-10 07:21] jhonsonlaid commented on #4937
For ``16*2048 *2048``, the typical result is smaller than ``2048``. How to write a compaction or export kernel?

[2022-05-10 07:24] neozhaoliang commented on #4936
I guess this is because the compiled code cannot handle GPU resources? @ailzhang Could help have a look at this?

[2022-05-10 07:24] #4940 closed

[2022-05-10 08:16] bobcao3 commented on #4937
You can write a range for over the loop, and then write the index and value into a dense field

[2022-05-10 08:22] jhonsonlaid commented on #4937
Do you mean a dense field like `x` in my code? It results in too much overhead.

[2022-05-10 08:29] jhonsonlaid opened #4944 "CUDA Error, dynamic rnode, with torch training codes"
* Environment:
  * [Taichi] version 1.0.0, llvm 10.0.0, commit 6a15da85, linux, python 3.8.5
  * [Torch] : 1.8.1+cu101
  * [GPU] : 1080Ti

* Description:
   for [issue 4937](https://github.com/taichi-dev/taichi/issues/4937), I have to use dynamic node. But it will raise cuda error after some iterations.
[code]
In windows RTX 2060 8GB, it raises another error. (**Codes work, when replacing the dyna

[2022-05-10 09:12] strongoier commented on #4857
After yet another discussion with @k-ye @ailzhang @jim19930609, I have formed a mental picture of future plans and would like to share it here.

## Task A: Refine current APIs of quantized types and make them available again

Although current APIs work only in the SNode system, they are still useful and we hope to expose them in a cleaner way.

### Subtask A.1: Solve the inconsistency problem of `

[2022-05-10 09:19] ailzhang commented on #4936
@compik710 This happens due to taichi failed to find the source code for `paint` function. I'm not very familiar with  pyinstaller, two quick questions:
- Does it work if you run the script using `python` directly?
If it works this might be related how pyinstaller packages a python script and its dependency hmmm

[2022-05-10 09:25] bobcao3 commented on #4937
No I didn't mean putting the entire thing into a dense node, I mean you create a new dense node to store the active indices with the data.

[2022-05-10 09:45] ailzhang commented on #4857
minor nit: for subtask b.2, I wonder if `ti.types.vector(n, dtype)` where `ti.types.quant.int/float/fixed` are added to the whitelist of `dtype` makes it simpler for users?

[2022-05-10 09:49] #1458 closed

[2022-05-10 11:18] jhonsonlaid commented on #4937
In real cases, the **active indices** are  `some_other_func` results, whose **sizes and values are not predictable**,  so I use a large dense node or a dynamic node.  I have no idea how to use a small dense node to store active indices, could you show me example codes?

[2022-05-10 11:23] compik710 commented on #4936
@ailzhang  yes it works directly. However, now I think I don't need to use pyinstaller as it's easier and faster to install Taichi on my computer. Thanks for the answer

[2022-05-10 15:39] k-ye opened #4949 "Metal backend is kind of broken for external arrays args"
The size of an array arg on Metal is still determined at *compile-time*, and is *fixed* after JIT compilation. See https://github.com/taichi-dev/taichi/blob/6d538e171c96193fd2ce27967bd0b17a5797565e/taichi/backends/metal/

With the introduction of Ndarray (`ti.ndarray`), array size is a runtime information. This means that arrays of different size won't re-trigger a kernel JIT. Hence, a Metal kerne

[2022-05-10 18:25] bobcao3 commented on #4937
You can first have a kernel that counts the active indices.

Let's say you have a sparse field x,

[code]

[2022-05-10 19:54] Smethan commented on #4900
I have no idea what I have done in the week since I posted that to anger my windows machine, but I cannot for the life of me get this to build, even just pulling from master wont compile, so I can't really test it at the moment. In the mean time, if you can compile it with that line in there and send it my way I'd be happy to run it.

[2022-05-10 22:19] Smethan commented on #4900
Scratch that last comment, after a few hours of finagling I was able to get it to compile and this is the output I got:
[code]
with the only real different line there being
[code]
which doesn't really tell us much as far as I can tell. I'm personally a bit lost on what to do here, this low level stuff isn't exactly my area of expertise 😅

[2022-05-11 01:34] bcolloran commented on #4934
(Oh, one more quick question @bobcao3: just for my understanding, does your comment indicate that this behavior _is_ a bug, and not user error on my part in the code above? Thanks! :-) )

[2022-05-11 02:13] jhonsonlaid commented on #4937
Thank you for your example code,  I have tried this method before, but  `count` doesn't work as expected, so I gave up. After some `print` debugging your code, I find `print(count)` after `count += 1` works as expected, so the code should be modified like this. And could you explain the `count` behavior in  `count_active()` ?
[code]

[2022-05-11 02:13] bobcao3 commented on #4900
This actually tells us quite a lot... Basically we can not acquire a function pointer that is supposed to be supported by Vulkan 1.3 Core, which means the driver isn't reporting its version capability correctly...

Can you try to get a device profile using this tool here? https://vulkan.gpuinfo.org/download.php
If so that'd be great, thanks! @Smethan

[2022-05-11 02:20] Smethan commented on #4900
Sure thing! Here you go:
[AMD Radeon RX 5600 XT.txt](https://github.com/taichi-dev/taichi/files/8666185/AMD.Radeon.RX.5600.XT.txt)
@bobcao3

[2022-05-11 02:20] bobcao3 opened #4951 "[vulkan] AMD RX 5600 XT reports Vulkan 1.3 but Core function pointer is absent"
reference #4900

[2022-05-11 02:21] bobcao3 commented on #4900
Also let's move this to #4951

[2022-05-11 02:54] FantasyVR commented on #4761
The solution is [here](https://github.com/KhronosGroup/MoltenVK/issues/1580#issuecomment-1122965111).

TLTR: we could modify [this line](https://github.com/KhronosGroup/MoltenVK/blob/8c35b085a54fc58d902fcc5c1e85ec40761a3168/MoltenVK/MoltenVK/GPUObjects/MVKDevice.mm#L2801) in `initCounterSets()` to:
[code]

[2022-05-11 03:19] FantasyVR commented on #4906
Hi @ShengdingHu , I encounter the same problems when using GGUI. It actually is a MoltenVK bug. It's solved [here](https://github.com/KhronosGroup/MoltenVK/issues/1580#issuecomment-1122965111). Taichi uses brew installed `libmoltenvk.dylib`, so the problem couldn't be solved instantly. You could download a new built `libmoltenvk.dylib` on my Mac and replace the old one in Taichi. The download link

[2022-05-11 03:30] FantasyVR opened #4952 "Intel(R) Xe Graphics (TGL GT2)" supports Vulkan 0 version 1.2.182 + Ubuntu 20.04 GGUI crashes after showing a few frames"

[2022-05-11 03:34] FantasyVR commented on #4919
It's solved in https://github.com/KhronosGroup/MoltenVK/issues/1580#issuecomment-1122965111. Taichi uses brew installed `libmoltenvk.dylib`, so the problem couldn't be solved instantly.

TLTR: You could download a newly built `libmoltenvk.dylib` on my Mac and replace the old one in Taichi. The download link is [here](https://drive.google.com/file/d/1yd8zJl3JoA-aebrppWfI-snMoQUuoSe6/view?usp=sharin

[2022-05-11 06:28] YuCrazing opened #4954 "[cuda] `warp_barrier` intrinsic is never called when using `ti.simt.warp.sync()`"
**Describe the bug**
As an expected result, when we use `ti.simt.warp.sync()`,  `warp_barrier` should be invoked at the backend. However, we can not find the `warp_barrier` intrinsic in the IR.

**To Reproduce**

Code:
[code]

IR info:
[code]

[2022-05-11 06:35] strongoier commented on #4954
The problem here is that internal func calls are expressions, and they will not be inserted into the AST if they are not assigned to others. I'll help fix it.

[2022-05-11 06:52] quadpixels commented on #4900
Interestingly I got the same error message `[W 05/10/22 23:48:56.686 10912] [vulkan_device.cpp:taichi::lang::vulkan::VulkanDevice::create_vma_allocator@2012] Vulkan funcptr 0x0`

GPU is Radeon RX 5500.
[AMD Radeon RX 5500.json.txt](https://github.com/taichi-dev/taichi/files/8667416/AMD.Radeon.RX.5500.json.txt)

[2022-05-11 07:28] k-ye opened #4956 "Replace TI_RUNTIME_HOST with #ifdef __cplusplus"
Right now we are using `#ifdef TI_RUNTIME_HOST` to provide CPP side functions for `RuntimeContext`: https://github.com/taichi-dev/taichi/blob/c3631c09c1b2416f2e2740628acf78b7c06fb394/taichi/program/context.h#L35-L86. This can be replaced with a `#ifdef __cplusplus` check. That way other part of the CPP codebase using this context will not have to define `TI_RUNTIME_HOST` anymore (https://github.co

[2022-05-11 07:32] k-ye commented on #4932
One thing coming to my mind, we probably cannot support many args anyway, due to the restriction in number of arguments in https://github.com/taichi-dev/taichi/blob/61bec614f4c9c517af9fe15271aee0954ce1720f/taichi/program/context.h#L22. So to make bindless truly useful, we should probably figure out a better way of passing data first? Increasing `taichi_max_num_args_total` could obviously work, at

[2022-05-11 08:25] k-ye commented on #4857
Thanks for writing this up! Overall it looks like a great roadmap. I have a few questions here:

Could you provide an overview of the quant API?

---

Subtask A.1

I wonder if `with_shared_exponent` is only meaningful for vector/matrix types?

Subtask A.2

nit: I feel like we don't have to have both `ti.types.quant` and `ti.types.quantized_types`. Maybe just `ti.types.quant.type_factory`?

[2022-05-11 09:42] strongoier commented on #4857
`ti.types.vector` and `ti.types.quant.vector` are different in many ways. `ti.types.quant.vector` is actually stored as a primitive type, has limitations on number of bits, and can accept quant-only configurations like `with_shared_exponent`.

For struct it can make sense as well..

`ti.types.quant` is the actual API we want to expose. As `type_factory` is hidden, we have to visit the whole module

[2022-05-11 11:50] k-ye commented on #4857
I think there are different ways to handle this: use `__all__` to control the public symbols, use `quant._type_factory`, etc.

[2022-05-11 13:02] strongoier commented on #4857
Ah yes. I was stuck at the assumption that we could not break the two same-level classes, `quant` and `type_factory` . However it is now a chance to refine things more aggressively.

Now I have a new design: we get rid of the legacy "type_factory" and directly provide the following APIs - `ti.types.quant.int/fixed/float/_custom_int/_custom_float`. WDYT @k-ye

BTW which one seems better, `quant.int

[2022-05-11 13:07] k-ye commented on #4857
Cool! I prefer `quant.int` more, as they can be scoped in the same namespace `quant`. WDYT? (cc @ailzhang @jim19930609 )

[2022-05-11 13:11] yuanming-hu commented on #4857
I feel like in real use cases shared exponents are typically used only in vectors. Do you have an example where you need that in a struct? @strongoier

Another question of mine: if I'd split the 64 bits into `x: fixed21`, `y: fixed22`, `z: fixed21`, can it be expressed as a quantized vector3?

[2022-05-11 13:28] strongoier commented on #4857
Not really. My point here is just that we don't have to throw an error if those fields are not grouped as a vector.

In fact we hope that elements of a vector have the same type. A quantized struct is needed for this purpose.

[2022-05-11 13:40] strongoier commented on #4857
Yep. It is fine to support that as syntax sugar.

[2022-05-11 13:47] yuanming-hu commented on #4857
I'm thinking about this: for `ti.types.quant.vector(n, dtype)`, can `dtype` be a list of quantized types? For example, we may want to allow something like `rgb565 = ti.types.quant.vector(3, [fixed5, fixed6, fixed5])` :-) Then it's not simply a syntax sugar, but a real vector type. (Are we worrying about dynamic indexing here?)

[2022-05-11 15:40] k-ye commented on #4857
I also agree on this. We have spent some great amount of time debating on this, and concluded that vector/matrix should behave just like how most users would expect: They are containers holding homogeneous elements, dynamically-indexable, and providing linalg methods. Most of the time, using a Taichi vector/matrix should feel no different from using a GLM/GLSL one. It simplifies the user experienc

[2022-05-11 15:45] yuanming-hu commented on #4857
I totally agree with this. In fact, in the future, we should simply reuse the GLSL vector/matrix operators in the codegen :-)

The `rgb565` type should be decoded into a `vec3` (`float32x3`, if the `compute_type` for the three quantized components is `float32`) for computation, similar to the `imageLoad` function in GLSL.

[2022-05-11 16:08] k-ye commented on #4857
Yep. To support my argument, `rgb565` *is-a* quantized struct, rather than a quantized vector. And +1 that it will be decoded/converted to a regular `vec3.

I believe what @strongoier meant in "these two directions are inherently conflicting... we need to have a consistent and clear underlying principle." is also this point... It is conflicting in the sense that `rgb565` itself is only a storage t

[2022-05-11 16:22] yuanming-hu commented on #4857
Exactly.  (The only exception is when you want to perform `rgb565 + rgb565` using `u16` operator +. I assume that is a rare use case.)

You need to either associate a `compute_type` (e.g., `ti.types.vec3`) with `rgb565`, or explicitly let the user do `rgb565_array[I, j, k].decode(ti.types.vec3)`.

I agree with this. Perhaps `ti.types.vector` is for both computation & storage (since you need AOS/SO

[2022-05-11 21:34] tkc285 opened #4964 "Crashed on Google Colab"
Hello,

Thank you very much to develop and support this amazing code.

Best regards,

TKC

**Describe the bug**
Successfully install Taichi on Colab without any problems for both version 0.9.0 and 1.0.1.
Colab Rutime type = "GPU"
Taichi crashed for both versions.

**To Reproduce**
**1. run the fem99 example.**
! ti example fem99

[Taichi] version 0.9.0, llvm 10.0.0, commit 0c432a37, linux, python

[2022-05-11 21:49] bsavery opened #4965 "Feature request / request for comment: Taichi "data structs" decorator"
**Concisely describe the proposed feature**
Inspired by python `data classes`.  A similar decorator for data oriented classes for taichi.  This would allow defining a `data struct` class with annotated fields, and a class that is simply a structure of arrays would be made.

For more background see my thoughts here https://github.com/taichi-dev/taichi/discussions/4784

**Describe the solution you'd

[2022-05-11 21:56] bsavery commented on #4965
Additionally I should mention this is a simple implementation of this but could be made more robust with a more complete BaseClass.  To do things like:

`list_of_centers = my_spheres.center`

Should be possible

[2022-05-12 00:54] ShengdingHu commented on #4906
Thanks! It worked! Feel free to close the issue.

[2022-05-12 02:43] strongoier commented on #4964
Hi @tkc285. Thanks for reporting this! Just as the error message shows, there is no GUI environment, which is common on servers. You can check out X11 forwarding if you need the visualization.

BTW could you run `ti example minimization` to verify if taichi programs without GUI can work properly? Thanks!

[2022-05-12 03:33] neozhaoliang opened #4966 "[Lang] Matrix Indexing a row returns a single element"
For a `ti.Matrix`, I want to visit its rows by `m[0]`, `m[1]`, ..., etc. But this only returns the fisrt, second, ..., element in row majored order, and I can only use indexes in range `(0, nrows)`.

Example code:

[code]

[2022-05-12 05:06] k-ye commented on #4966
You can use `m[0, :]` to slice a portion of the matrix?

[2022-05-12 05:35] qiao-bo opened #4967 "[CI] Properly handle sccache file permission in Linux GPU workflow"
At the moment, we tar and copy the checked-out code from our GPU Linux job into the executed docker container.
https://github.com/taichi-dev/taichi/blob/80f20f25279112bcdf012ece57de2033d8b046be/.github/workflows/testing.yml#L273
This was implemented some time ago for sccache handling (https://github.com/taichi-dev/taichi/pull/3559). We need a better way to handle this because this step introduces

[2022-05-12 05:36] qiao-bo commented on #4967
CC @ailzhang @frostming

@lin-hitonami any idea of what are the alternatives to handle sccache?

[2022-05-12 05:37] neozhaoliang commented on #4966
This is the result that slicing returns:

[code]
Not the expected results (should return the firse and second columns)

[2022-05-12 05:43] k-ye commented on #4966
Hmm, try `m[:, 0]` then. Meanwhile, this feels like a bug in the slicing semantics? @strongoier @mzmzm

[2022-05-12 05:45] neozhaoliang commented on #4966
`m[:, 0]` returns similar result:

[code]

[2022-05-12 05:51] strongoier commented on #4966
@neozhaoliang The correct syntax is `m[0, :]` instead of `m[0: ]`.

[2022-05-12 06:01] neozhaoliang commented on #4966
Thanks, it works now.

Btw, for a matrix, shall we make `m[0, :]` also return a column vector which is a matrix of shape `(rows, 1)`, not a row vector?

[code]

[2022-05-12 06:02] #4966 closed

[2022-05-12 06:05] strongoier commented on #4966
This seems reasonable. @mzmzm

[2022-05-12 07:53] strongoier commented on #4857
Let me do a quick summary (which contains some personal ideas, though).

1. Local vectors are always homogeneous, and should be translated to native types if possible, which can naturally provide dynamic indexing support.
2. `ti.types.quant.vector` should be loaded into a local vector before doing any calculation. The result should also be stored as a whole.
3. `ti.types.quant.vector` can accept i

[2022-05-12 08:27] k-ye commented on #4857
I wonder if `physical_type` has to fit in 64 bits?

[2022-05-12 08:39] strongoier commented on #4857
I'm not sure if `physical_type` is a good name. It simply allows users to choose between 8 / 16 / 32 / 64 bits. For `ti.types.quant.matrix(3, 3, [[f11, f11, f10], [f11, f11, f10], [f11, f11, f10]])`, users can choose to use 2 units of 64 bits or 3 units of 32 bits to store it.

[2022-05-12 09:28] #4954 closed

[2022-05-13 02:38] jim19930609 opened #4973 "PaddlePaddle module causes random failure of "Illegal Instruction" on Linux CI build-bot"
**Describe the bug**
Paddle module seems to introduce a random CI failure on the Linux built-bot. It fails at "ti diagnose" and reports a core dump with "Illegal Instructions". Refer to the log below for further information.

**To Reproduce**
CI-bot: Build and Test / Build and Test linux (CPU) (ubuntu-latest, py39, ON, cpu,cc)

Fails randomly.

**Log/Screenshots**
[full_log.txt](https://github.com